<div id="construction-box">
	<input id="component-search" placeholder="Suchen" type="text" [(ngModel)]="searchText">
	<ng-container *ngFor="let comp of allAvailableComponents | keyvalue; trackBy: availableComponentsTrackBy">
		<div class="component-to-select"
		     *ngIf="comp.key !== 0 && (searchText == '' || comp.value.name.includes(searchText))"
		     (click)="selectComponent(comp.key)"
		     [class.active-selected-component]="currentWorkMode === 'buildComponent' && currentSelectedComponent === comp.key">
			<p>{{comp.value.name}}</p>
		</div>
	</ng-container>
</div>
