@import "themes";
@import "variables";

#construction-box {
	background-color: $construction-box-background-color;

	height: 100%;
	width: 100%;

	#component-search {
		width: 100%;
		height: 40px;
		font-size: 16px;
		padding: 2px 5%;
		outline: none;
		border: none;

		background-color: $construction-box-search-background-color;
	}

	.component-to-select {
		width: 100%;
		height: 40px;

		color: $construction-box-component-font-color;

		p {
			margin: 0;
		}

		&:hover {
			cursor: pointer;
			background-color: $construction-box-component-hover-background-color;
			color: $construction-box-component-hover-font-color;
		}
	}

	.active-selected-component {
		background-color: $construction-box-component-active-background-color;

		&:hover {
			background-color: $construction-box-component-active-hover-background-color;
			color: $construction-box-component-active-hover-font-color;
		}
	}
}
