.new-component-form {
	display: flex;
	flex-direction: column;
	margin: 2rem 1.5rem;
	max-width: 30rem;

	.explanation {
		margin: 0 0 1rem;
	}

	.public-switch {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0.5rem 0 1rem;

		> p {
			margin: 0;
		}
	}
}
