@import "themes";

.single-shortcut-config {
	width: 35vw;
	min-width: 30rem;
	max-width: 40rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: auto;

	p {
		margin: 0;
		font-size: 0.9rem;

		@include themify() {
			color: themed('text-primary');
		}
	}

	.shortcut-input-container {
		width: 15rem;
		margin-bottom: 1rem;
		border-radius: border('radius');

		.shortcut-input {
			width: 100%;
			height: 33px;
			border: none;
			outline: none;
			border-radius: border('radius');
			padding: 0.5rem;
			font-size: 0.9rem;
			user-select: none;
			transition: width 0.2s;

			@include themify() {
				background-color: themed('accent2');
				color: themed('text-primary');
			}
		}

		.save {
			display: inline-block;
			vertical-align: bottom;
			height: 33px;
			width: 0;
			border-bottom-right-radius: 0.25rem;
			border-top-right-radius: 0.25rem;
			transition: width 0.2s;

			@include themify() {
				background-color: darken(themed('background'), 5%);

				&:hover {
					cursor: pointer;
					background-color: lighten(themed('background'), 10%);
				}
			}
		}

		&.recording {
			@include themify() {
				box-shadow: 0 0 0 3px themed('background');
			}

			.shortcut-input {
				border-bottom-right-radius: 0;
				border-top-right-radius: 0;
				width: 80%;
			}

			.save {
				@include themify() {
					@if (isTheme('dark')) {
						background-image: url("src/assets/icons/dark/check.svg");
					} @else {
						background-image: url("src/assets/icons/light/check.svg");
					}
					background-repeat: no-repeat;
					background-size: 60%;
					background-position: center;
					width: 20%;
				}
			}
		}
	}
}
