@import "variables";

#app-root {
	width: 100%;
	height: 100%;

	.main-area {
		top: $page-header-height;
		width: 100%;
		height: calc(100% - #{$page-header-height});
		display: flex;

		&.simulation-mode {
			display: block;
		}
	}
}
