<lg-card *transloco="let t">
  <ng-template #title>
    <span class="flex items-center gap-2 text-lg mb-2">
      <i class="ph ph-dresser text-primary"></i>
      <span>Components</span>
    </span>
  </ng-template>
  <div class="flex flex-col gap-2">
    <p-iconfield iconPosition="right">
      <p-inputicon class="ph ph-magnifying-glass"></p-inputicon>
      <input
        lgInputText
        [placeholder]="t('sideBar.search')"
        class="w-full"
        [ngModel]="searchText()"
        (ngModelChange)="searchText.set($event)"
      />
    </p-iconfield>

    <p-accordion
      [multiple]="true"
      [value]="openPanels()"
      (valueChange)="onPanelChange($event)"
      [dt]="{
        'content.padding': '0 0 1.125rem 0',
        'header.padding': '1.125rem 0'
      }"
    >
      @for (cat of categories(); track cat.key) {
        <p-accordion-panel [value]="cat.key" [class.border-b-0!]="$last">
          <p-accordion-header>
            <span class="flex items-center gap-2 w-full font-semibold">
              {{ t(cat.labelKey) }}
              <lg-badge
                rounded
                class="ml-auto mr-2"
                [value]="cat.components.length"
                severity="secondary"
              ></lg-badge>
            </span>
          </p-accordion-header>
          <p-accordion-content>
            <app-component-list-category
              [components]="cat.components"
            ></app-component-list-category>
          </p-accordion-content>
        </p-accordion-panel>
      }
    </p-accordion>
  </div>
</lg-card>
