{
	"type": "mysql",
	"host": "mysql",
	"port": 3306,
	"username": "logigator",
	"password": "logigator",
	"database": "logigator",
	"entities": [
	 	"dist/database/entities**/*.entity{.ts,.js}"
	],
	"migrationsRun": false,
	"migrations": ["migration/*.js"],
	"cli": {
		"migrationsDir": "migration"
	}
}
