@import "variables";
@import "themes";
@import "toastr";
@import "buttons";

@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

html, body {
	margin: 0;
	padding: 0;

	height: 100%;
	width: 100%;
}

* {
	box-sizing: border-box;
	font-family: Nunito, Arial, sans-serif;
	font-size: 100%;
}
