@font-face {
	font-family: 'Roboto Mono';
	src: local('Roboto Mono Light'), local('RobotoMono-Light'), url('../assets/fonts/robotomono-light-webfont.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: local('Roboto'), local('Roboto-Regular'), url('../assets/fonts/roboto-regular-webfont.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

html, body {
	margin: 0;
	padding: 0;

	height: 100%;
	width: 100%;

	overflow: hidden;
}

* {
	font-size: 100%;
	box-sizing: border-box;
	font-family: Roboto, Arial, sans-serif;
}
