@use 'sass:math';

$themes: (
	light: (
		background: #f5f5f5,
		primary: #27ae60,
		accent1: #ffffff,
		accent2: #d1d1d1,
		text-primary: #000000,
		text-secondary: #f5f5f5,
		error: #ad2f26,
		button-text: #f5f5f5,
		inactive: #5d5d5d,
		toolbar: #f5f5f5,
		wire: #000000
	),
	dark: (
		background: #262a2b,
		primary: #27ae60,
		accent1: #1a1a1a,
		accent2: #3a4042,
		text-primary: #cccccc,
		text-secondary: #000000,
		error: #cc392f,
		button-text: #000000,
		inactive: #979797,
		toolbar: #262a2b,
		wire: #27ae60
	)
);

$border-styles: (
	width: 1px,
	radius: 0.1rem
);

@function border($key) {
	@return map-get($border-styles, $key);
}

@mixin themify() {
	@each $theme, $map in $themes {
		$themeForTestFunction: $theme !global;

		@if (&) {
			:host-context(.theme-#{$theme}) & {
				$theme-map: () !global;
				@each $key, $submap in $map {
					$theme-map: map-merge(
						$theme-map,
						(
							$key: $submap
						)
					) !global;
				}

				@content;
				$theme-map: null !global;
				$themeForTestFunction: null !global;
			}
		} @else {
			.theme-#{$theme} {
				$theme-map: () !global;
				@each $key, $submap in $map {
					$theme-map: map-merge(
						$theme-map,
						(
							$key: $submap
						)
					) !global;
				}

				@content;
				$theme-map: null !global;
				$themeForTestFunction: null !global;
			}
		}
	}
}

@mixin themifyForNoEncapsulation() {
	@each $theme, $map in $themes {
		$themeForTestFunction: $theme !global;

		.theme-#{$theme} {
			$theme-map: () !global;
			@each $key, $submap in $map {
				$theme-map: map-merge(
					$theme-map,
					(
						$key: $submap
					)
				) !global;
			}

			@content;
			$theme-map: null !global;
			$themeForTestFunction: null !global;
		}
	}
}

@function themed($key) {
	@return map-get($theme-map, $key);
}

@function isTheme($theme) {
	@return $themeForTestFunction == $theme;
}

@mixin scrollbar($width, $height: -1) {
	&::-webkit-scrollbar-track {
		@include themify() {
			background-color: themed('background');
		}
	}

	&::-webkit-scrollbar {
		width: $width;
		@if ($height != -1) {
			height: $height;
		}
	}

	&::-webkit-scrollbar-thumb {
		border-radius: math.div($width, 2);
		@include themify() {
			background-color: themed('accent2');
		}
	}

	scrollbar-width: thin;
	@include themify() {
		scrollbar-color: themed('accent2') themed('background');
	}
}
