.image-export {
	form {
		margin: 1rem;

		> div {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin: 1rem 0;
		}

		.dimensions {
			> app-input {
				width: 100%;

				&:first-of-type {
					margin-right: 0.5rem;
				}

				&:last-of-type {
					margin-left: 0.5rem;
				}
			}
		}
	}
}
