<div class="main-area">
	<div id="canvas-container" #pixiCanvasContainer></div>
	<div id="tabs">
		<div class="tab"
		     *ngFor="let project of allProjects | keyvalue"
		     (click)="switchActiveView(project.key)"
		     [class.tab-active]="project.key === activeView?.projectId">
			<p>{{project.value.name}}</p>
			<span class="tab-close" (click)="closeView(project.key, $event)"></span>
		</div>
	</div>
</div>
<app-window-work-area [projectIdToOpen]="0" [dragBoundingContainer]="pixiCanvasContainer" #pixiWindowContainer></app-window-work-area>
