<div class="main-area">
	<div id="canvas-container" #pixiCanvasContainer></div>
	<div class="window-container">
		<div class="header"><p>Komponente XY</p><img src="assets/icons/close.svg"></div>
		<div class="canvas-window-container" #pixiWindowCanvasContainer></div>
	</div>
	<div id="tabs">
		<div class="tab"
		     *ngFor="let project of allProjects | keyvalue"
		     (click)="switchActiveView(project.key)"
		     [class.tab-active]="project.key === activeView?.projectId">
			<p>{{project.value.name}}</p>
			<span class="tab-close" (click)="closeView(project.key, $event)"></span>
		</div>
	</div>
</div>
