@import "themes";
@import "variables";

.main-area {
	width: 100%;
	height: 100%;

	#canvas-container {
		width: calc(100% - #{$construction-box-width});
		height: calc(100vh - #{$page-header-height});
		position: fixed;
		cursor: crosshair;
	}

	#tabs {
		position: absolute;
		width: calc(100% - 0.3rem - #{$construction-box-width});
		margin-left: 0.3rem;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		overflow: hidden;

		.tab {
			@include themify() {
				background-color: themed('tab-inactive');
				color: themed('primary-text');
			}

			height: $tab-height;
			width: 12rem;

			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;

			padding: 0 0.3rem 0 0.4rem;

			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;

			margin-right: 0.5rem;

			p {
				user-select: none;
				margin: 0;
			}

			.tab-close {
				border-radius: 50%;
				width: 1rem;
				height: 1rem;
				background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'><path stroke='rgba(0, 0, 0)' stroke-linecap='square' stroke-width='1' d='M2 2 L6 6 M6 2 L2 6'></path></svg>");

				&:hover {
					@include themify() {
						background-color: lighten(themed('tab-inactive'), 10%);
					}
				}
			}
		}

		.tab-active {
			@include themify() {
				background-color: themed('tab-active');
				color: themed('primary-text');

				.tab-close {
					&:hover {
						background-color: lighten(themed('tab-active'), 10%);
					}
				}
			}
		}
	}
}
