@import "themes";
@import "variables";

@include themifyCompatibilityWarning() {
	#compatibility-warning {
		position: fixed;
		align-items: center;
		justify-content: center;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		z-index: 500;

		.content {
			background-color: themed('background');
			border: border('width') solid themed('secondary');
			color: themed('primary-text');
			border-radius: border('radius');
			z-index: 600;
			width: 50%;
			height: 30%;

			@media (max-width: 768px) {
				width: 90%;
				height: 80%;
			}

			.header {
				display: flex;

				background-color: themed('secondary');
				border-bottom: border('width') solid themed('secondary');
				@if (isTheme('dark')) {
					.dark {
						display: block;
					}
					.light {
						display: none;
					}
				} @else {
					.dark {
						display: none;
					}
					.light {
						display: block;
					}
				}


				width: 100%;
				text-align: center;
				font-size: 1.2rem;
				font-weight: normal;
				justify-content: space-between;
				align-items: center;
				padding: 0.5rem;

				img {
					margin-right: 1px;
					border-radius: 0.25rem;
					height: 27px;
					padding: 0.3rem;

					&:hover {
						background-color: lighten(themed('background'), 10);
					}
				}
			}
		}
	}
}
