@import "config/config";
@import "buttons";

@font-face {
	font-family: 'Roboto';
	src: local('Roboto'), local('Roboto-Regular'), url('src/assets/fonts/roboto-regular-webfont.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

html, body {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
	font-family: Roboto, Arial, sans-serif;
}

@include themify() {
	* {
		color: themed('text-primary');
	}
}
