<form class="flex flex-col gap-4" (ngSubmit)="create()">
  <div class="flex flex-col gap-1">
    <label for="new-component-name">Name</label>
    <input
      pInputText
      id="new-component-name"
      type="text"
      maxlength="20"
      [ngModel]="name()"
      (ngModelChange)="name.set($event)"
      [ngModelOptions]="{ standalone: true }"
    />
  </div>
  <div class="flex flex-col gap-1">
    <label for="new-component-symbol">Symbol</label>
    <input
      pInputText
      id="new-component-symbol"
      type="text"
      maxlength="5"
      [ngModel]="symbol()"
      (ngModelChange)="symbol.set($event)"
      [ngModelOptions]="{ standalone: true }"
    />
  </div>
  <div class="flex flex-col gap-1">
    <label for="new-component-description">Description</label>
    <input
      pInputText
      id="new-component-description"
      type="text"
      [ngModel]="description()"
      (ngModelChange)="description.set($event)"
      [ngModelOptions]="{ standalone: true }"
    />
  </div>
  <div class="flex flex-col gap-1">
    <span>Store</span>
    <div class="flex gap-4 items-center">
      <label class="flex gap-2 items-center">
        <input
          type="radio"
          name="new-component-source"
          value="server"
          [ngModel]="source()"
          (ngModelChange)="source.set($event)"
          [ngModelOptions]="{ standalone: true }"
        />
        Account
      </label>
      <label class="flex gap-2 items-center">
        <input
          type="radio"
          name="new-component-source"
          value="browser"
          [ngModel]="source()"
          (ngModelChange)="source.set($event)"
          [ngModelOptions]="{ standalone: true }"
        />
        Browser
      </label>
    </div>
  </div>
  <div class="flex gap-2 items-center">
    <p-checkbox
      inputId="new-component-public"
      [binary]="true"
      [ngModel]="isPublic()"
      (ngModelChange)="isPublic.set($event)"
      [ngModelOptions]="{ standalone: true }"
    />
    <label for="new-component-public">Public</label>
  </div>
  <div class="flex justify-end">
    <p-button type="submit" label="Create" [disabled]="!canCreate" />
  </div>
</form>
