<div class="open">
	<div class="open-server" *ngIf="isLoggedIn && allProjectsInfo | async as allProjects">
		<h2>{{'POPUP.OPEN.OPEN_CLOUD' | translate}}</h2>
		<table>
			<thead>
				<tr>
					<th class="name">{{'POPUP.OPEN.TABLE_NAME' | translate}}</th>
					<th class="last-edit">{{'POPUP.OPEN.TABLE_EDITED' | translate}}</th>
					<th class="open">{{'POPUP.OPEN.TABLE_OPEN' | translate}}</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let p of allProjects" class="single-project-server">
					<td class="name">{{p.name}}</td>
					<td class="last-edit">{{p.last_edited | date:'medium'}}</td>
					<td class="open">
						<button class="btn-outline primary small" (click)="openServer(p)">{{'POPUP.OPEN.OPEN' | translate}}</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
		<h2>{{'POPUP.OPEN.OPEN_FILE' | translate}}</h2>
		<div class="file-upload">
			<app-file-input [(ngModel)]="fileToOpen"></app-file-input>
			<div>
				<p>{{fileToOpen ? fileToOpen.name : 'POPUP.OPEN.NO_FILE' | translate}}</p>
				<button class="btn-outline primary" [disabled]="!fileToOpen || fileToOpen.type !== 'application/json'" (click)="openFile()">{{'POPUP.OPEN.OPEN' | translate}}</button>
			</div>
		</div>
	</div>
</div>
