@import "themes";
@import "variables";

$search-height: 3.5rem;

#construction-box {
	@include themify() {
		background-color: themed('background');
		border-right: border('width') solid themed('accent2');
	}

	height: calc(100vh - #{$page-header-height});
	width: $construction-box-width;

	display: flex;
	flex-direction: column;

	#component-search {
		width: $construction-box-width - 0.75rem;
		height: $search-height - 1rem;
		font-size: 0.9rem;
		padding: 1.25rem;
		outline: none;
		border-radius: 0.3rem;
		margin-left: 0.25rem;
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
		background-position: right;
		background-repeat: no-repeat;
		background-origin: content-box;

		@include themify() {
			border: border('width') solid themed('accent2');
			background-color: themed('background');
			color: themed('text-primary');

			@if (isTheme('dark')) {
				background-image: url("^assets/icons/dark/search.svg");
			} @else {
				background-image: url("^assets/icons/light/search.svg");
			}

			&::placeholder {
				@if (isTheme('dark')) {
					color: darken(themed('inactive'), 10%);
				}
			}
		}
	}

	.scroll-container {
		width: $construction-box-width;
		height: calc(100vh - #{$toolbar-height} - #{$search-height});
		overflow: auto;
		margin: auto;
		overflow-x: hidden;

		@include themify() {
			background-color: themed('background');
			border-right: border('width') solid themed('accent2');
		}

		@include scrollbar(5px)
	}
}
