@import "variables";
@import "themes";

.status-bar {
	height: $status-bar-height;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 90%;

	@include themify() {
		background-color: themed('toolbar');
		color: themed('text-primary');
		border-top: border('width') solid themed('accent2');
	}

	.division {
		display: flex;
		align-items: center;
		height: 100%;

		.divider {
			height: 100%;

			@include themify() {
				border-left: border('width') solid themed('accent2');
			}
		}

		p {
			margin: 0;
		}

		.padding {
			padding: 0 0.5rem;
		}
	}

	.loading-in-bar {
		height: 100%;
		display: flex;
		align-items: center;
		cursor: pointer;
		position: relative;

		p {
			margin-left: 0.25rem;
		}

		&:hover {
			@include themify() {
				background-color: themed('accent1');
			}
		}

		.all-tasks {
			position: absolute;
			right: -1px;
			bottom: $status-bar-height;
			z-index: 100;

			.task {
				display: flex;
				align-items: center;
				padding: 0.25rem 0.5rem;

				@include themify() {
					background-color: themed('toolbar');
					border-top: border('width') solid themed('accent2');
					border-left: border('width') solid themed('accent2');
					border-right: border('width') solid themed('accent2');
				}

				p {
					margin-left: 0.25rem;
					white-space: nowrap
				}
			}
		}
	}

	.loading-spinner {
		width: $status-bar-height - 6px;
		height: $status-bar-height - 6px;
		border-radius: 50%;
		position: relative;
		animation: spin 1.4s infinite linear;
		transform: translateZ(0);

		@include themify() {
			background: themed('text-primary');
			background: linear-gradient(to right, themed('text-primary') 10%, rgba(themed('text-primary'), 0) 42%);
		}

		&:before {
			width: 50%;
			height: 50%;
			border-radius: 100% 0 0 0;
			position: absolute;
			top: 0;
			left: 0;
			content: '';

			@include themify() {
				background: themed('text-primary');
			}
		}

		&:after {
			width: 75%;
			height: 75%;
			border-radius: 50%;
			content: '';
			margin: auto;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;

			@include themify() {
				background: themed('toolbar');
			}
		}
	}

	@keyframes spin {
		0% { transform: rotate(0deg); }
		100% { transform: rotate(360deg); }
	}
}
