# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# configs
/config/*.json
/tools/*/*.json
!/config/*.json.example

# persited resources
/resources/public/persisted/*
!/resources/public/persisted/.gitkeep
/resources/public/preview/*
!/resources/public/preview/**/.gitkeep
/resources/public/profile/*
!/resources/public/profile/.gitkeep
/resources/private/projects/*
!/resources/private/projects/.gitkeep
/resources/private/components/*
!/resources/private/components/.gitkeep

# migrations
/migration/*.js
