<div *appTranslate="let t" class="flex flex-col gap-4">
  <p>{{ t('closeTab.message', { name: name }) }}</p>

  @if (promotionWarning) {
    <lg-message severity="warn">{{ promotionWarning }}</lg-message>
  }

  <div class="flex justify-end gap-2">
    <button lgButton severity="danger" [outlined]="true" (onClick)="discard()">
      {{ t('closeTab.discard') }}
    </button>
    <button
      lgButton
      severity="secondary"
      [outlined]="true"
      (onClick)="cancel()"
    >
      {{ t('closeTab.cancel') }}
    </button>
    <button lgButton (onClick)="save()">{{ t('closeTab.save') }}</button>
  </div>
</div>
