<ng-template let-item="item" #itemTemplate>
	<div class="flex gap-1 items-center">
		@if (item.icon) {
			<i [class]="item.icon"></i>
		}
		@if (item.label) {
			<span>{{ item.label }}</span>
		}
	</div>
</ng-template>

<div class="flex gap-4 items-center justify-between" *transloco="let t">
	<label [for]="inputId">{{ t(option().label) }}</label>
	<p-select
		[inputId]="inputId"
		optionLabel="label"
		optionValue="value"
		[options]="option().options"
		[ngModel]="option().value"
		[ngModelOptions]="{ standalone: true }"
		(ngModelChange)="commit()($event)"
	>
		<ng-template #item let-item pTemplate="selectedItem">
			<ng-container
				*ngTemplateOutlet="itemTemplate; context: { item }"
			></ng-container>
		</ng-template>
		<ng-template #item let-item pTemplate="item">
			<ng-container
				*ngTemplateOutlet="itemTemplate; context: { item }"
			></ng-container>
		</ng-template>
	</p-select>
</div>
