<div class="dropdown" [class.hidden]="!showDropDown">
	<div class="switch">
		<label>{{'DROPDOWN.SETTINGS.DARK_MODE' | translate}}</label>
		<input type="checkbox" (click)="showReloadPopup()" [checked]="this.theming.pendingTheme === 'dark'">
	</div>
	<hr>
	<div class="switch">
		<label>{{'DROPDOWN.SETTINGS.SHOW_GRID' | translate}}</label>
		<input type="checkbox" (click)="changeGridVisibility()" [checked]="this.theming.showGrid">
	</div>
	<hr>
	<div class="link">
		<button (click)="showCustomizeShortcuts()">{{'DROPDOWN.SETTINGS.SHORTCUTS' | translate}}</button>
	</div>
	<hr>
	<div class="link">
		<button>{{'DROPDOWN.SETTINGS.ACCOUNT' | translate}}</button>
	</div>
</div>
