@import "themes";
@import "variables";

.background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0);
	z-index: 100;
}

.dropdown {
	position: absolute;
	z-index: 200;
	width: max-content;
	min-width: 20rem;
	min-height: 10rem;
	display: flex;
	flex-direction: column;
	right: 0;
	top: $top-bar-height;

	&.hidden {
		display: none;
	}

	@include themify() {
		background-color: themed('background');
		color: themed('primary-text');
		border: border('width') solid themed(secondary);
		border-radius: border('radius');

		.switch {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			padding: 0.5rem;

			&:hover {
				background-color: themed('secondary');
			}

			span {
				float: right;
				margin-left: 3rem;
			}
		}

		.link {
			padding: 0.5rem;
		}

		hr {
			width: 100%;
			margin: auto;
			border-width: 0;
			border-bottom-width: 1px;
			border-style: solid;

			border-color: themed('secondary');
		}
	}
}

.buttons {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
