<div class="dropdown">
	<div>
		<input type="checkbox" (click)="reloadPopupActive = 'theme'" [checked]="this.theming.pendingTheme === 'dark'">
		<label>Dark mode</label>
	</div>
	<app-popup *ngIf="reloadPopupActive" (requestClose)="reloadClose()" title="Reload required" [closeOnClickOutside]="false">
		<p>For this change to take effect, the editor has to be reloaded.</p>
		<p>Do you want to reload this page now?</p>
		<button (click)="reloadConfirm()">Yes</button>
		<button (click)="reloadPostponed()">No, I'll reload later</button>
		<button (click)="reloadClose()">Cancel</button>
	</app-popup>
</div>


