<div id="top-bar">
	<div
		(click)="closeDropdowns()"
		*ngIf="dropdownOpen"
		class="background"
		tabindex="0"
	></div>

	<a [href]="homeUrl" target="_blank" rel="noopener"
		><img alt="Logigator" src="assets/logo.svg"
	/></a>

	<div class="main-menu">
		<p class="project-title">{{ mainProjectName }}</p>

		<div class="menu-entries">
			<div *ngIf="!isSimulationMode">
				<p
					(mouseover)="switchDropdownIfActive('file')"
					(focus)="switchDropdownIfActive('file')"
					(click)="toggleDropdown('file')"
					tabindex="0"
				>
					{{ 'DROPDOWN.FILE.TITLE' | translate }}
				</p>
				<app-file-dropdown
					(requestClosed)="closeDropdowns()"
					*ngIf="dropdownOpen === 'file'"
				></app-file-dropdown>
			</div>
			<div *ngIf="!isSimulationMode">
				<p
					(mouseover)="switchDropdownIfActive('edit')"
					(focus)="switchDropdownIfActive('edit')"
					(click)="toggleDropdown('edit')"
					tabindex="0"
				>
					{{ 'DROPDOWN.EDIT.TITLE' | translate }}
				</p>
				<app-edit-dropdown
					(requestClosed)="closeDropdowns()"
					*ngIf="dropdownOpen === 'edit'"
				></app-edit-dropdown>
			</div>
			<div>
				<p
					(mouseover)="switchDropdownIfActive('view')"
					(focus)="switchDropdownIfActive('view')"
					(click)="toggleDropdown('view')"
					tabindex="0"
				>
					{{ 'DROPDOWN.VIEW.TITLE' | translate }}
				</p>
				<app-view-dropdown
					(requestClosed)="closeDropdowns()"
					*ngIf="dropdownOpen === 'view'"
				></app-view-dropdown>
			</div>
			<div>
				<p
					(mouseover)="switchDropdownIfActive('help')"
					(focus)="switchDropdownIfActive('help')"
					(click)="toggleDropdown('help')"
					tabindex="0"
				>
					{{ 'DROPDOWN.HELP.TITLE' | translate }}
				</p>
				<app-help-dropdown
					(requestClosed)="closeDropdowns()"
					*ngIf="dropdownOpen === 'help'"
				></app-help-dropdown>
			</div>
		</div>
	</div>

	<div class="top-bar-end">
		<div class="login-register">
			<ng-container *ngIf="userInfo$ | async as userInfo; else loginRegister">
				<div
					class="logged-in-settings"
					(click)="toggleDropdown('settings')"
					tabindex="0"
				>
					<p>{{ userInfo.username }}</p>
					<img
						class="user-img"
						alt="User image"
						[src]="userInfo.image.publicUrl"
					/>
				</div>
			</ng-container>
			<app-settings-dropdown
				(requestClosed)="closeDropdowns()"
				*ngIf="dropdownOpen === 'settings'"
			></app-settings-dropdown>
		</div>
	</div>
</div>

<ng-template #loginRegister>
	<p class="login" (click)="login()" tabindex="0">
		{{ 'TOP_BAR.LOGIN' | translate }}
	</p>
	<div class="divider"></div>
	<p class="register" (click)="register()" tabindex="0">
		{{ 'TOP_BAR.REGISTER' | translate }}
	</p>
	<div (click)="toggleDropdown('settings')" class="settings" tabindex="0"></div>
</ng-template>
