@import "variables";
@import "themes";

#top-bar {
	@include themify() {
		background-color: themed('primary');
		color: black;

		p {
			color: #000000;
		}
	}

	width: 100%;
	height: $top-bar-height;
	user-select: none;

	display: flex;

	.background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0);
		z-index: 100;
	}

	a {
		img {
			height: 100%;
		}

		padding: 0.7rem;
		height: 100%;
	}

	// #!if ELECTRON === 'true'
	.logo-img {
		-webkit-app-region: drag;
		height: 50%;
		align-self: center;
		margin: 0 0.5rem 0 0.5rem;
	}
	// #!endif

	.main-menu {
		// #!web
		height: 75%;

		// #!electron
		height: 100%;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-self: center;

		.project-title {
			font-size: 1.2rem;
            padding-left: 0.17rem;
			margin: 0;
		}

		.menu-entries {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			position: relative;

			div {
				// #!electron
				height: 100%;

				p {
					height: 100%;

					// #!electron
					line-height: $top-bar-height;

					// #!web
					padding: 0.1rem 0.2rem 0.1rem 0.2rem;
					// #!electron
					padding: 0rem 0.2rem 0rem 0.2rem;

					margin: 0 0.5rem 0 0;
					border-top-right-radius: border('radius');
					border-top-left-radius: border('radius');

					&:hover {
						cursor: pointer;
						@include themify() {
							background-color: themed('accent2');
							color: themed('text-primary');
						}
					}
				}

				z-index: 200;
			}
		}
	}

	.top-bar-end {
		-webkit-app-region: drag;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;

		.electron-project-name {
			height: 100%;
			margin: 0;
			text-align: center;
			flex-grow: 1;
			line-height: $top-bar-height;
		}

		.login-register {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-end;
			-webkit-app-region: no-drag;

			p {
				// #!web
				font-size: 1.2rem;
				margin: 0;
			}

			.login, .register {
				&:hover {
					cursor: pointer;
				}
			}

			.logged-in-settings {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: flex-end;
				cursor: pointer;
				padding-right: 0.7rem;
				height: 100%;

				&:hover {
					@include themify() {
						background-color: lighten(themed('primary'), 10%);
					}
				}

				p {
					margin: 0 0.5rem;
				}
			}

			.divider {
				border-left: 1px solid black;
				height:  $toolbar-height - 25px;
				padding: 0;
				margin-right: 1rem;
				margin-left: 1rem;
			}

			.settings {
				// #!if ELECTRON === 'true'
				height: $top-bar-height  / 1.5;
				width: $top-bar-height / 1.5;
				// #!else
				height: $top-bar-height / 2;
				width: $top-bar-height / 2;
				// #!endif

				border: none;
				cursor: pointer;
				padding: 0;
				margin-right: 0.7rem;
				margin-left: 0.7rem;
				outline: none;
				background-size: cover;

				background-image: url('^assets/icons/light/settings.svg');

				@include themify() {
					background-color: themed('primary');
				}
			}

			.user-img {
				height: $top-bar-height  / 1.5;
				width: $top-bar-height / 1.5;
				outline: none;
				padding: 0;
			}
		}

		.window-buttons {
			display: flex;
			flex-direction: row;
			-webkit-app-region: no-drag;

			.minimize {
				width: $top-bar-height;
				height: $top-bar-height;
				background-image: url("^assets/icons/light/minimize.svg");
				background-repeat: no-repeat;
				background-position: bottom;

				&:hover {
					@include themify() {
						background-color: lighten(themed('primary'), 10%);
					}
				}
			}
			.maximize {
				width: $top-bar-height;
				height: $top-bar-height;
				background-image: url("^assets/icons/light/fullscreen.svg");
				background-repeat: no-repeat;
				background-position: center;
				&:hover {
					@include themify() {
						background-color: lighten(themed('primary'), 10%);
					}
				}
			}
			.close {
				width: $top-bar-height;
				height: $top-bar-height;
				background-image: url("^assets/icons/light/close.svg");
				background-repeat: no-repeat;
				background-position: center;
				@include themify() {
					background-color: themed('error');

					&:hover {
						background-color: lighten(themed('error'), 10%);
					}
				}
			}
		}
	}
}
