@import "themes";

.help-window {
	padding: 0.5rem;
	width: 18rem;
	margin-bottom: 0.5rem;

	@include themify() {
		background-color: themed('background');
		color: themed('text-primary');
		border: border('width') solid themed('accent2');
		border-radius: border('radius');
	}

	.tipp {
		font-weight: 300;
		font-size: 1.4rem;
		margin: {
			top: 0.3rem;
			bottom: 0.3rem;
		};
	}

	.help-text {
		margin: 0;
	}

	.dont-again {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin: {
			top: 1rem;
			bottom: 1rem;
		};

		span {
			margin-left: 0.5rem;
		}
	}

	.ok-button {
		width: 100%;
	}
}
