<div
	(dragenter)="onDragStart($event)"
	(dragstart)="onDragStart($event)"
	(dragover)="onDragStart($event)"
	(drag)="onDragStart($event)"
	(dragend)="onDragStop($event)"
	(dragleave)="onDragStop($event)"
	(drop)="onDrop($event)"
	(click)="fileInput.click()"
	[class.dragging]="isDragging"
	[class.disabled]="isDisabled"
	[class.enabled]="!isDisabled"
	tabindex="0"
	class="upload-container"
>
	<input
		type="file"
		#fileInput
		(change)="fileChange($event)"
		[accept]="accept"
		[disabled]="isDisabled"
	/>
	<img
		*ngIf="currTheme === 'light'"
		src="assets/icons/light/cloud_upload.svg"
		alt="Upload"
	/>
	<img
		*ngIf="currTheme === 'dark'"
		src="assets/icons/dark/cloud_upload.svg"
		alt="Upload"
	/>
	<p>Drop your files here.</p>
</div>
