@import 'variables';
@import 'themes';

.status-bar {
	height: $status-bar-height;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 90%;

	@include themify() {
		background-color: themed('toolbar');
		color: themed('text-primary');
		border-top: border('width') solid themed('accent2');
	}

	.division {
		display: flex;
		align-items: center;
		height: 100%;

		.divider {
			height: 100%;

			@include themify() {
				border-left: border('width') solid themed('accent2');
			}
		}

		p {
			margin: 0;
		}

		.padding {
			padding: 0 0.5rem;
		}
	}

	.loading-in-bar {
		height: 100%;
		display: flex;
		align-items: center;
		cursor: pointer;
		position: relative;

		p {
			margin-left: 0.25rem;
		}

		> img {
			height: 100%;
			padding: 0.25rem 0;
		}

		&:not(.showing-all-tasks):hover {
			@include themify() {
				background-color: themed('accent1');
			}
		}

		.all-tasks {
			position: absolute;
			right: -1px;
			bottom: $status-bar-height;
			z-index: 100;
			cursor: default;

			.task {
				display: flex;
				align-items: center;
				padding: 0.25rem 0.5rem 0.25rem 0.25rem;

				@include themify() {
					background-color: themed('toolbar');
					border-top: border('width') solid themed('accent2');
					border-left: border('width') solid themed('accent2');
					border-right: border('width') solid themed('accent2');
				}

				p {
					margin-left: 0.25rem;
					white-space: nowrap;
				}

				img {
					height: 100%;
				}
			}
		}
	}
}
