$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px
);

@mixin media-breakpoint-up($name) {
	@media (min-width: map-get($grid-breakpoints, $name)) {
		@content;
	}
}

@mixin media-breakpoint-down($name) {
	@media (max-width: map-get($grid-breakpoints, $name)) {
		@content;
	}
}

@mixin media-breakpoint-between($lower, $upper) {
	@media (min-width: map-get($grid-breakpoints, $lower)) and (max-width: map-get($grid-breakpoints, $upper)) {
		@content;
	}
}
