@mixin scrollbar($width, $height: -1) {
	&::-webkit-scrollbar-track
	{
		@include themify() {
			background-color: themed('background');
		}
	}

	&::-webkit-scrollbar
	{
		width: $width;
		@if ($height != -1) {
			height: $height;
		}
	}

	&::-webkit-scrollbar-thumb
	{
		border-radius: $width / 2;
		@include themify() {
			background-color: themed('accent2');
		}
	}

	scrollbar-width: thin;
	@include themify() {
		scrollbar-color: themed('accent2') themed('background');
	}

}

@mixin section($content-element-name: 'section-content') {
	padding-top: 4rem;
	padding-bottom: 4rem;

	@include media-breakpoint-down('lg') {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}

	@media (max-width: $container-max-width + 50px) {
		padding-left: 2rem;
		padding-right: 2rem;
	}

	@include media-breakpoint-down('sm') {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	@include element($content-element-name) {
		max-width: $container-max-width;
		margin: auto;
	}
}
