<div class="view-download">
	<section class="view-download__section">
		<div class="view-download__section-content view-download__header">
			<div class="view-download__screenshot">
				{{#if (expr preferences.theme '===' 'dark')}}
					<img src="assets/electron-app-dark.jpg" alt="Logigator Electron App Screenshot">
				{{else}}
					<img src="assets/electron-app-light.jpg" alt="Logigator Electron App Screenshot">
				{{/if}}
			</div>
			<div class="view-download__description">
				<h1>{{i18n.DOWNLOAD.HEADLINE}}</h1>
				<p>{{i18n.DOWNLOAD.DESCRIPTION}}</p>
			</div>
		</div>
	</section>
	<section class="view-download__section">

	</section>
</div>
