{{> user-space-nav }}
{{> account-mobile-nav title=i18n.USERSPACE.ACCOUNT.NAV.DELETE showBack=true }}

<div class="view-my-account-delete">

	<section class="view-my-account-delete__container">
		<div class="view-my-account-delete__account-nav">
			{{> account-nav }}
		</div>
		<div class="view-my-account-delete__main">
			<h2 class="view-my-account-delete__headline">{{i18n.USERSPACE.ACCOUNT.DELETE.HEADLINE}}</h2>
			<p class="view-my-account-delete__message">{{i18n.USERSPACE.ACCOUNT.DELETE.MESSAGE}}</p>
			<button class="btn-raised danger view-my-account-delete__delete-btn">{{i18n.USERSPACE.ACCOUNT.DELETE.BUTTON}}</button>
		</div>
	</section>

</div>

{{> delete-account-popup}}
