{{> user-space-nav }}

<div class="view-my-account-profile">
	<section class="view-my-account-profile__container">
		<div class="view-my-account-profile__account-nav">
			{{> account-nav }}
		</div>
		<div class="view-my-account-profile__main">
			<div class="view-my-account-profile__headline">
				<h1>Profile Settings</h1>
			</div>
		</div>
	</section>
</div>
