{{> user-space-nav }}
{{> account-mobile-nav title=i18n.USERSPACE.ACCOUNT.NAV.DELETE showBack=true }}

<div class="view-my-account-delete">

	<section class="view-my-account-delete__container">
		<div class="view-my-account-delete__account-nav">
			{{> account-nav }}
		</div>
		<div class="view-my-account-delete__main">
			test
		</div>
	</section>

</div>
