{{> user-space-nav }}
{{> account-mobile-nav title=i18n.USERSPACE.ACCOUNT.NAV.SECURITY showBack=true }}

<div class="view-my-account-security">

	<section class="view-my-account-security__container">
		<div class="view-my-account-security__account-nav">
			{{> account-nav }}
		</div>
		<div class="view-my-account-security__main">
			test
		</div>
	</section>

</div>
