<div class="view-privacy-policy">
	<h1 class="adsimple-211106637">Datenschutzerklärung</h1>
	<h2 class="adsimple-211106637">Datenschutz</h2>
	<p>Wir haben diese Datenschutzerklärung (Fassung 11.11.2019-211106637) verfasst, um Ihnen gemäß der Vorgaben der
		Datenschutz-Grundverordnung (EU) 2016/679 und dem <a class="adsimple-211106637"
															 href="https://www.ris.bka.gv.at/GeltendeFassung.wxe?Abfrage=Bundesnormen&Gesetzesnummer=10001597&tid=211106637"
															 target="_blank" rel="noopener nofollow" class="external">Datenschutzgesetz
			(DSG)</a> zu erklären, welche Informationen wir sammeln, wie wir Daten verwenden und welche
		Entscheidungsmöglichkeiten Sie als Besucher dieser Webseite haben.</p>
	<p>Leider liegt es in der Natur der Sache, dass diese Erklärungen sehr technisch klingen. Wir haben uns bei der
		Erstellung jedoch bemüht die wichtigsten Dinge so einfach und klar wie möglich zu beschreiben.</p>
	<h2 class="adsimple-211106637">Automatische Datenspeicherung</h2>
	<p>Wenn Sie heutzutage Webseiten besuchen, werden gewisse Informationen automatisch erstellt und gespeichert, so
		auch auf dieser Webseite.</p>
	<p>Wenn Sie unsere Webseite so wie jetzt gerade besuchen, speichert unser Webserver (Computer auf dem diese Webseite
		gespeichert ist) automatisch Daten wie</p>
	<ul class="adsimple-211106637">
		<li class="adsimple-211106637">die Adresse (URL) der aufgerufenen Webseite</li>
		<li class="adsimple-211106637">Browser und Browserversion</li>
		<li class="adsimple-211106637">das verwendete Betriebssystem</li>
		<li class="adsimple-211106637">die Adresse (URL) der zuvor besuchten Seite (Referrer URL)</li>
		<li class="adsimple-211106637">den Hostname und die IP-Adresse des Geräts von welchem aus zugegriffen wird</li>
		<li class="adsimple-211106637">Datum und Uhrzeit</li>
	</ul>
	<p>in Dateien (Webserver-Logfiles).</p>
	<p>In der Regel werden Webserver-Logfiles zwei Wochen gespeichert und danach automatisch gelöscht. Wir geben diese
		Daten nicht weiter, können jedoch nicht ausschließen, dass diese Daten beim Vorliegen von rechtswidrigem
		Verhalten eingesehen werden.</p>
	<h2 class="adsimple-211106637">Speicherung persönlicher Daten</h2>
	<p>Persönliche Daten, die Sie uns auf dieser Website elektronisch übermitteln, wie zum Beispiel Name,
		E-Mail-Adresse, Adresse oder andere persönlichen Angaben im Rahmen der Übermittlung eines Formulars oder
		Kommentaren im Blog, werden von uns gemeinsam mit dem Zeitpunkt und der IP-Adresse nur zum jeweils angegebenen
		Zweck verwendet, sicher verwahrt und nicht an Dritte weitergegeben.</p>
	<p>Wir nutzen Ihre persönlichen Daten somit nur für die Kommunikation mit jenen Besuchern, die Kontakt ausdrücklich
		wünschen und für die Abwicklung der auf dieser Webseite angebotenen Dienstleistungen und Produkte. Wir geben
		Ihre persönlichen Daten ohne Zustimmung nicht weiter, können jedoch nicht ausschließen, dass diese Daten beim
		Vorliegen von rechtswidrigem Verhalten eingesehen werden.</p>
	<p>Wenn Sie uns persönliche Daten per E-Mail schicken – somit abseits dieser Webseite – können wir keine sichere
		Übertragung und den Schutz Ihrer Daten garantieren. Wir empfehlen Ihnen, vertrauliche Daten niemals
		unverschlüsselt per E-Mail zu übermitteln.</p>
	<h2 class="adsimple-211106637">Rechte laut Datenschutzgrundverordnung</h2>
	<p>Ihnen stehen laut den Bestimmungen der DSGVO und des österreichischen <a class="adsimple-211106637"
																				href="https://www.ris.bka.gv.at/GeltendeFassung.wxe?Abfrage=Bundesnormen&Gesetzesnummer=10001597&tid=211106637"
																				target="_blank" rel="noopener nofollow"
																				class="external">Datenschutzgesetzes
		(DSG)</a> grundsätzlich die folgende Rechte zu:</p>
	<ul class="adsimple-211106637">
		<li class="adsimple-211106637">Recht auf Berichtigung (Artikel 16 DSGVO)</li>
		<li class="adsimple-211106637">Recht auf Löschung („Recht auf Vergessenwerden“) (Artikel 17 DSGVO)</li>
		<li class="adsimple-211106637">Recht auf Einschränkung der Verarbeitung (Artikel 18 DSGVO)</li>
		<li class="adsimple-211106637">Recht auf Benachrichtigung – Mitteilungspflicht im Zusammenhang mit der
			Berichtigung oder Löschung personenbezogener Daten oder der Einschränkung der Verarbeitung (Artikel 19
			DSGVO)
		</li>
		<li class="adsimple-211106637">Recht auf Datenübertragbarkeit (Artikel 20 DSGVO)</li>
		<li class="adsimple-211106637">Widerspruchsrecht (Artikel 21 DSGVO)</li>
		<li class="adsimple-211106637">Recht, nicht einer ausschließlich auf einer automatisierten Verarbeitung —
			einschließlich Profiling — beruhenden Entscheidung unterworfen zu werden (Artikel 22 DSGVO)
		</li>
	</ul>
	<p>Wenn Sie glauben, dass die Verarbeitung Ihrer Daten gegen das Datenschutzrecht verstößt oder Ihre
		datenschutzrechtlichen Ansprüche sonst in einer Weise verletzt worden sind, können Sie sich bei der
		Aufsichtsbehörde beschweren, welche in Österreich die Datenschutzbehörde ist, deren Webseite Sie unter <a
				class="adsimple-211106637" href="https://www.dsb.gv.at/?tid=211106637" class="external" rel="nofollow">https://www.dsb.gv.at/</a>
		finden.</p>
	<h2 class="adsimple-211106637">Auswertung des Besucherverhaltens</h2>
	<p>In der folgenden Datenschutzerklärung informieren wir Sie darüber, ob und wie wir Daten Ihres Besuchs dieser
		Website auswerten. Die Auswertung der gesammelten Daten erfolgt in der Regel anonym und wir können von Ihrem
		Verhalten auf dieser Website nicht auf Ihre Person schließen.</p>
	<p>Mehr über Möglichkeiten dieser Auswertung der Besuchsdaten zu widersprechen erfahren Sie in der folgenden
		Datenschutzerklärung.</p>
	<h2 class="adsimple-211106637">TLS-Verschlüsselung mit https</h2>
	<p>Wir verwenden https um Daten abhörsicher im Internet zu übertragen (Datenschutz durch Technikgestaltung <a
			class="adsimple-211106637"
			href="https://eur-lex.europa.eu/legal-content/DE/TXT/HTML/?uri=CELEX:32016R0679&from=DE&tid=211106637"
			target="_blank" rel="noopener nofollow" class="external">Artikel 25 Absatz 1 DSGVO</a>). Durch den Einsatz von
		TLS (Transport Layer Security), einem Verschlüsselungsprotokoll zur sicheren Datenübertragung im Internet können
		wir den Schutz vertraulicher Daten sicherstellen. Sie erkennen die Benutzung dieser Absicherung der
		Datenübertragung am kleinen Schlosssymbol links oben im Browser und der Verwendung des Schemas https (anstatt
		http) als Teil unserer Internetadresse.</p>
	<h2 class="adsimple-211106637">Google reCAPTCHA Datenschutzerklärung</h2>
	<p>Unser oberstes Ziel ist es, dass unsere Webseite für Sie und für uns bestmöglich geschützt und sicher ist. Um das
		zu gewährleisten, verwenden wir Google reCAPTCHA der Firma Google Inc. (1600 Amphitheatre Parkway Mountain View,
		CA 94043, USA). Mit reCAPTCHA können wir feststellen, ob Sie auch wirklich ein Mensch aus Fleisch und Blut sind
		und kein Roboter oder eine andere Spam-Software. Unter Spam verstehen wir jede, auf elektronischen Weg,
		unerwünschte Information, die uns ungefragter Weise zukommt. Bei den klassischen CAPTCHAS mussten Sie zur
		Überprüfung meist Text- oder Bildrätsel lösen. Mit reCAPTCHA von Google müssen wir Sie meist nicht mit solchen
		Rätseln belästigen. Hier reicht es in den meisten Fällen, wenn Sie einfach ein Häkchen setzen und so bestätigen,
		dass Sie kein Bot sind. Mit der neuen Invisible reCAPTCHA Version müssen Sie nicht mal mehr ein Häkchen setzen.
		Wie das genau funktioniert und vor allem welche Daten dafür verwendet werden, erfahren Sie im Verlauf dieser
		Datenschutzerklärung.</p>
	<h3 class="adsimple-211106637">Was ist reCAPTCHA?</h3>
	<p>reCAPTCHA ist ein freier Captcha-Dienst von Google, der Webseiten vor Spam-Software und den Missbrauch durch
		nicht-menschliche Besucher schützt. Am häufigsten wird dieser Dienst verwendet, wenn Sie Formulare im Internet
		ausfüllen. Ein Captcha-Dienst ist ein automatischer Turing-Test, der sicherstellen soll, dass eine Handlung im
		Internet von einem Menschen und nicht von einem Bot vorgenommen wird. Im klassischen Turing-Test (benannt nach
		dem Informatiker Alan Turing) stellt ein Mensch die Unterscheidung zwischen Bot und Mensch fest. Bei Captchas
		übernimmt das auch der Computer bzw. ein Softwareprogramm. Klassische Captchas arbeiten mit kleinen Aufgaben,
		die für Menschen leicht zu lösen sind, doch für Maschinen erhebliche Schwierigkeiten aufweisen. Bei reCAPTCHA
		müssen Sie aktiv keine Rätsel mehr lösen. Das Tool verwendet moderne Risikotechniken, um Menschen von Bots zu
		unterscheiden. Hier müssen Sie nur noch das Textfeld „Ich bin kein Roboter“ ankreuzen bzw. bei Invisible
		reCAPTCHA ist selbst das nicht mehr nötig. Bei reCAPTCHA wird ein JavaScript-Element in den Quelltext
		eingebunden und dann läuft das Tool im Hintergrund und analysiert Ihr Benutzerverhalten. Aus diesen Useraktionen
		berechnet die Software einen sogenannten Captcha-Score. Google berechnet mit diesem Score schon vor der
		Captcha-Eingabe wie hoch die Wahrscheinlichkeit ist, dass Sie ein Mensch sind. ReCAPTCHA bzw. Captchas im
		Allgemeinen kommen immer dann zum Einsatz, wenn Bots gewisse Aktionen (wie z.B. Registrierungen, Umfragen usw.)
		manipulieren oder missbrauchen könnten.</p>
	<h3 class="adsimple-211106637">Warum verwenden wir reCAPTCHA auf unserer Website?</h3>
	<p>Wir wollen nur Menschen aus Fleisch und Blut auf unserer Seite begrüßen. Bots oder Spam-Software
		unterschiedlichster Art dürfen getrost zuhause bleiben. Darum setzen wir alle Hebel in Bewegung, uns zu schützen
		und die bestmögliche Benutzerfreundlichkeit für Sie anzubieten. Aus diesem Grund verwenden wir Google reCAPTCHA
		der Firma Google. So können wir uns ziemlich sicher sein, dass wir eine „botfreie“ Webseite bleiben. Durch die
		Verwendung von reCAPTCHA werden Daten an Google übermittelt, die Google verwendet, um festzustellen, ob Sie auch
		wirklich ein Mensch sind. reCAPTCHA dient also der Sicherheit unserer Webseite und in weiterer Folge damit auch
		Ihrer Sicherheit. Zum Beispiel könnte es ohne reCAPTCHA passieren, dass bei einer Registrierung ein Bot
		möglichst viele E-Mail-Adressen registriert, um im Anschluss Foren oder Blogs mit unerwünschten Werbeinhalten
		„zuzuspamen“. Mit reCAPTCHA können wir solche Botangriffe vermeiden.</p>
	<h3 class="adsimple-211106637">Welche Daten werden von reCAPTCHA gespeichert?</h3>
	<p>ReCAPTCHA sammelt personenbezogene Daten von Usern, um festzustellen, ob die Handlungen auf unserer Webseite auch
		wirklich von Menschen stammen. Es kann also die IP-Adresse und andere Daten, die Google für den reCAPTCHA-Dienst
		benötigt, an Google versendet werden. IP-Adressen werden innerhalb der Mitgliedstaaten der EU oder anderer
		Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum fast immer zuvor gekürzt, bevor die Daten
		auf einem Server in den USA landen. Die IP-Adresse wird nicht mit anderen Daten von Google kombiniert, sofern
		Sie nicht während der Verwendung von reCAPTCHA mit Ihrem Google-Konto angemeldet sind. Zuerst prüft der
		reCAPTCHA-Algorithmus, ob auf Ihrem Browser schon Google-Cookies von anderen Google-Diensten (YouTube. Gmail
		usw.) platziert sind. Anschließend setzt reCAPTCHA ein zusätzliches Cookie in Ihrem Browser und erfasst einen
		Schnappschuss Ihres Browserfensters.</p>
	<p>Die folgende Liste von gesammelten Browser- und Userdaten, hat nicht den Anspruch auf Vollständigkeit. Vielmehr
		sind es Beispiele von Daten, die nach unserer Erkenntnis, von Google verarbeitet werden.</p>
	<ul class="adsimple-211106637">
		<li class="adsimple-211106637">Referrer URL (die Adresse der Seite von der der Besucher kommt)</li>
		<li class="adsimple-211106637">IP-Adresse (z.B. 256.123.123.1)</li>
		<li class="adsimple-211106637">Infos über das Betriebssystem (die Software, die den Betrieb Ihres Computers
			ermöglicht. Bekannte Betriebssysteme sind Windows, Mac OS X oder Linux)
		</li>
		<li class="adsimple-211106637">Cookies (kleine Textdateien, die Daten in Ihrem Browser speichern)</li>
		<li class="adsimple-211106637">Maus- und Keyboardverhalten (jede Aktion, die Sie mit der Maus oder der Tastatur
			ausführen wird gespeichert)
		</li>
		<li class="adsimple-211106637">Datum und Spracheinstellungen (welche Sprache bzw. welches Datum Sie auf Ihrem PC
			voreingestellt haben wird gespeichert)
		</li>
		<li class="adsimple-211106637">Alle Javascript-Objekte (JavaScript ist eine Programmiersprache, die Webseiten
			ermöglicht, sich an den User anzupassen. JavaScript-Objekte können alle möglichen Daten unter einem Namen
			sammeln)
		</li>
		<li class="adsimple-211106637">Bildschirmauflösung (zeigt an aus wie vielen Pixeln die Bilddarstellung
			besteht)
		</li>
	</ul>
	<p>Unumstritten ist, dass Google diese Daten verwendet und analysiert noch bevor Sie auf das Häkchen „Ich bin kein
		Roboter“ klicken. Bei der Invisible reCAPTCHA-Version fällt sogar das Ankreuzen weg und der ganze
		Erkennungsprozess läuft im Hintergrund ab. Wie viel und welche Daten Google genau speichert, erfährt man von
		Google nicht im Detail.</p>
	<p>Folgende Cookies werden von reCAPTCHA verwendet: Hierbei beziehen wir uns auf die reCAPTCHA Demo-Version von
		Google unter <a class="adsimple-211106637" href="https://www.google.com/recaptcha/api2/demo" target="_blank"
						rel="noopener nofollow" class="external">https://www.google.com/recaptcha/api2/demo</a>. All
		diese Cookies benötigen zu Trackingzwecken eine eindeutige Kennung. Hier ist eine Liste an Cookies, die Google
		reCAPTCHA auf der Demo-Version gesetzt hat:</p>
	<p>
		<strong class="adsimple-211106637">Name:</strong> IDE<br/>
		<strong class="adsimple-211106637">Ablaufzeit:</strong> nach einem Jahr<br/>
		<strong class="adsimple-211106637">Verwendung:</strong> Dieses Cookie wird von der Firma DoubleClick (gehört
		auch Google) gesetzt, um die Aktionen eines Users auf der Webseite im Umgang mit Werbeanzeigen zu registrieren
		und zu melden. So kann die Werbewirksamkeit gemessen und entsprechende Optimierungsmaßnahmen getroffen werden.
		IDE wird in Browsern unter der Domain doubleclick.net gespeichert.<br/>
		<strong class="adsimple-211106637">Beispielwert:</strong> WqTUmlnmv_qXyi_DGNPLESKnRNrpgXoy1K-pAZtAkMbHI-211106637
	<p>
		<strong class="adsimple-211106637">Name:</strong> 1P_JAR<br/>
		<strong class="adsimple-211106637">Ablaufzeit:</strong> nach einem Monat<br/>
		<strong class="adsimple-211106637">Verwendung:</strong> Dieses Cookie sammelt Statistiken zur Website-Nutzung
		und misst Conversions. Eine Conversion entsteht z.B., wenn ein User zu einem Käufer wird. Das Cookie wird auch
		verwendet, um Usern relevante Werbeanzeigen einzublenden. Weiters kann man mit dem Cookie vermeiden, dass ein
		User dieselbe Anzeige mehr als einmal zu Gesicht bekommt.<br/>
		<strong class="adsimple-211106637">Beispielwert:</strong> 2019-5-14-12</p>
	<p>
		<strong class="adsimple-211106637">Name:</strong> ANID<br/>
		<strong class="adsimple-211106637">Ablaufzeit:</strong> nach 9 Monaten<br/>
		<strong class="adsimple-211106637">Verwendung:</strong> Viele Infos konnten wir über dieses Cookie nicht in
		Erfahrung bringen. In der Datenschutzerklärung von Google wird das Cookie im Zusammenhang mit „Werbecookies“ wie
		z. B. „DSID“, „FLC“, „AID“, „TAID“ erwähnt. ANID wird unter Domain google.com gespeichert.<br/>
		<strong class="adsimple-211106637">Beispielwert:</strong> U7j1v3dZa2111066370xgZFmiqWppRWKOr</p>
	<p>
		<strong class="adsimple-211106637">Name:</strong> CONSENT<br/>
		<strong class="adsimple-211106637">Ablaufzeit:</strong> nach 19 Jahren<br/>
		<strong class="adsimple-211106637">Verwendung:</strong> Das Cookie speichert den Status der Zustimmung eines
		Users zur Nutzung unterschiedlicher Services von Google. CONSENT dient auch der Sicherheit, um User zu
		überprüfen, Betrügereien von Anmeldeinformationen zu verhindern und Userdaten vor unbefugten Angriffen zu
		schützen.<br/>
		<strong class="adsimple-211106637">Beispielwert: </strong>YES+AT.de+20150628-20-0</p>
	<p>
		<strong class="adsimple-211106637">Name:</strong> NID<br/>
		<strong class="adsimple-211106637">Ablaufzeit:</strong> nach 6 Monaten<br/>
		<strong class="adsimple-211106637">Verwendung:</strong> NID wird von Google verwendet, um Werbeanzeigen an Ihre
		Google-Suche anzupassen. Mit Hilfe des Cookies „erinnert“ sich Google an Ihre meist eingegebenen Suchanfragen
		oder Ihre frühere Interaktion mit Anzeigen. So bekommen Sie immer maßgeschneiderte Werbeanzeigen. Das Cookie
		enthält eine einzigartige ID, die Google benutzt um persönliche Einstellungen des Users für Werbezwecke zu
		sammeln.<br/>
		<strong class="adsimple-211106637">Beispielwert:</strong> 0WmuWqy211106637zILzqV_nmt3sDXwPeM5Q</p>
	<p>
		<strong class="adsimple-211106637">Name:</strong> DV<br/>
		<strong class="adsimple-211106637">Ablaufzeit:</strong> nach 10 Minuten<br/>
		<strong class="adsimple-211106637">Verwendung:</strong> Sobald Sie das „Ich bin kein Roboter“-Häkchen angekreuzt
		haben, wird dieses Cookie gesetzt. Das Cookie wird von Google Analytics für personalisierte Werbung verwendet.
		DV sammelt Informationen in anonymisierter Form und wird weiters benutzt, um User-Unterscheidungen treffen zu
		können.<br/>
		<strong class="adsimple-211106637">Beispielwert:</strong> gEAABBCjJMXcI0dSAAAANbqc211106637
	<p>Anmerkung: Diese Aufzählung kann keinen Anspruch auf Vollständigkeit erheben, da Google erfahrungsgemäß die Wahl
		ihrer Cookies immer wieder auch verändert.</p>
	<h3 class="adsimple-211106637">Wie lange und wo werden die Daten gespeichert?</h3>
	<p>Durch das Einfügen von reCAPTCHA werden Daten von Ihnen auf den Google-Server übertragen. Wo genau diese Daten
		gespeichert werden, stellt Google, selbst nach wiederholtem Nachfragen, nicht klar dar. Ohne eine Bestätigung
		von Google erhalten zu haben, ist davon auszugehen, dass Daten wie Mausinteraktion, Verweildauer auf der
		Webseite oder Spracheinstellungen auf den europäischen oder amerikanischen Google-Servern gespeichert werden.
		Die IP-Adresse, die Ihr Browser an Google übermittelt, wird grundsätzlich nicht mit anderen Google-Daten aus
		weiteren Google-Diensten zusammengeführt. Wenn Sie allerdings während der Nutzung des reCAPTCHA-Plug-ins bei
		Ihrem Google-Konto angemeldet sind, werden die Daten zusammengeführt.<strong
				class="adsimple-211106637"> </strong>Dafür gelten die abweichenden Datenschutzbestimmungen der Firma Google.
	</p>
	<h3 class="adsimple-211106637">Wie kann ich meine Daten löschen bzw. die Datenspeicherung verhindern?</h3>
	<p>Wenn Sie wollen, dass über Sie und über Ihr Verhalten keine Daten an Google übermittelt werden, müssen Sie sich,
		bevor Sie unsere Webseite besuchen bzw. die reCAPTCHA-Software verwenden, bei Google vollkommen ausloggen und
		alle Google-Cookies löschen. Grundsätzlich werden die Daten sobald Sie unsere Seite aufrufen automatisch an
		Google übermittelt. Um diese Daten wieder zu löschen, müssen Sie den Google-Support auf  <a
				class="adsimple-211106637" href="https://support.google.com/?hl=de&tid=211106637" class="external"
				rel="nofollow">https://support.google.com/?hl=de&tid=211106637</a> kontaktieren.</p>
	<p>Wenn Sie also unsere Webseite verwenden, erklären Sie sich einverstanden, dass Google LLC und deren Vertreter
		automatisch Daten erheben, bearbeiten und nutzen.</p>
	<p>Etwas mehr über reCAPTCHA erfahren Sie auf der Webentwickler-Seite von Google auf <a class="adsimple-211106637"
																							href="https://developers.google.com/recaptcha/"
																							target="_blank"
																							rel="noopener nofollow"
																							class="external">https://developers.google.com/recaptcha/</a>.
		Google geht hier zwar auf die technische Entwicklung der reCAPTCHA näher ein, doch genaue Informationen über
		Datenspeicherung und datenschutzrelevanten Themen sucht man auch dort vergeblich. Eine gute Übersicht über die
		grundsätzliche Verwendung von Daten bei Google finden Sie in der hauseigenen Datenschutzerklärung auf <a
				class="adsimple-211106637" href="https://policies.google.com/privacy?hl=de&tid=211106637" target="_blank"
				rel="noopener nofollow" class="external">https://www.google.com/intl/de/policies/privacy/</a>.</p>
	<h2 class="adsimple-211106637">Google Analytics Datenschutzerklärung</h2>
	<p>Wir verwenden auf dieser Website Google Analytics der Firma Google LLC (1600 Amphitheatre Parkway Mountain View,
		CA 94043, USA) um Besucherdaten statistisch auszuwerten. Dabei verwendet Google Analytics zielorientierte
		Cookies.</p>
	<h3 class="adsimple-211106637">Cookies von Google Analytics</h3>
	<ul class="adsimple-211106637">
		<li class="adsimple-211106637">_ga
			<ul class="adsimple-211106637">
				<li class="adsimple-211106637">Ablaufzeit: 2 Jahre</li>
				<li class="adsimple-211106637">Verwendung: Unterscheidung der Webseitenbesucher</li>
				<li class="adsimple-211106637">Beispielhafter Wert: GA1.2.1326744211.152211106637</li>
			</ul>
		</li>
		<li class="adsimple-211106637">_gid
			<ul class="adsimple-211106637">
				<li class="adsimple-211106637">Ablaufzeit: 24 Stunden</li>
				<li class="adsimple-211106637">Verwendung: Unterscheidung der Webseitenbesucher</li>
				<li class="adsimple-211106637">Beispielhafter Wert: GA1.2.1687193234.152211106637</li>
			</ul>
		</li>
		<li class="adsimple-211106637">_gat_gtag_UA_
			&lt;property-id &gt;
			<ul class="adsimple-211106637">
				<li class="adsimple-211106637">Ablaufzeit: 1 Minute</li>
				<li class="adsimple-211106637">Verwendung: Wird zum Drosseln der Anforderungsrate verwendet. Wenn
					Google Analytics über den Google Tag Manager bereitgestellt wird, erhält dieser Cookie den Namen
					_dc_gtm_
					&lt;property-id &gt;.
				</li>
				<li class="adsimple-211106637">Beispielhafter Wert: 1</li>
			</ul>
		</li>
	</ul>
	<p>Nähere Informationen zu Nutzungsbedingungen und Datenschutz finden Sie unter <a class="adsimple-211106637"
																					   href="http://www.google.com/analytics/terms/de.html"
																					   class="external" rel="nofollow">http://www.google.com/analytics/terms/de.html</a>
		bzw. unter <a class="adsimple-211106637" href="https://support.google.com/analytics/answer/6004245?hl=de"
					  class="external" rel="nofollow">https://support.google.com/analytics/answer/6004245?hl=de</a>.</p>
	<h3 class="adsimple-211106637">Pseudonymisierung</h3>
	<p>Unser Anliegen im Sinne der DSGVO ist die Verbesserung unseres Angebotes und unseres Webauftritts. Da uns die
		Privatsphäre unserer Nutzer wichtig ist, werden die Nutzerdaten pseudonymisiert. Die Datenverarbeitung erfolgt
		auf Basis der gesetzlichen Bestimmungen des § 96 Abs 3 TKG sowie des Art 6 EU-DSGVO Abs 1 lit a (Einwilligung)
		und/oder f (berechtigtes Interesse) der DSGVO.</p>
	<h3 class="adsimple-211106637">Deaktivierung der Datenerfassung durch Google Analytics</h3>
	<p>Mithilfe des <strong class="adsimple-211106637">Browser-Add-ons zur Deaktivierung</strong> von Google
		Analytics-JavaScript (ga.js, analytics.js, dc.js) können Website-Besucher verhindern, dass Google Analytics ihre
		Daten verwendet.</p>
	<p>Sie können die Erfassung der durch das Cookie erzeugten und auf Ihre Nutzung der Website bezogenen Daten an
		Google sowie die Verarbeitung dieser Daten durch Google verhindern, indem Sie das unter dem folgenden Link
		verfügbare Browser-Plugin herunterladen und installieren: <a class="adsimple-211106637"
																	 href="https://tools.google.com/dlpage/gaoptout?hl=de"
																	 class="external" rel="nofollow">https://tools.google.com/dlpage/gaoptout?hl=de</a>
	</p>
	<p> </p>
	<h2 class="adsimple-211106637">Google Analytics IP-Anonymisierung</h2>
	<p>Wir haben auf dieser Webseite die IP-Adressen-Anonymisierung von Google Analytics implementiert. Diese Funktion
		wurde von Google entwickelt, damit diese Webseite die geltenden Datenschutzbestimmungen und Empfehlungen der
		lokalen Datenschutzbehörden einhalten kann, wenn diese eine Speicherung der vollständigen IP-Adresse untersagen.
		Die Anonymisierung bzw. Maskierung der IP findet statt, sobald die IP-Adressen im Google
		Analytics-Datenerfassungsnetzwerk eintreffen und bevor eine Speicherung oder Verarbeitung der Daten
		stattfindet.</p>
	<p>Mehr Informationen zur IP-Anonymisierung finden Sie auf <a class="adsimple-211106637"
																  href="https://support.google.com/analytics/answer/2763052?hl=de"
																  target="_blank" rel="noopener nofollow"
																  class="external">https://support.google.com/analytics/answer/2763052?hl=de</a>.
	</p>
	<h2 class="adsimple-211106637">Google Analytics Berichte zu demografischen Merkmalen und Interessen</h2>
	<p>Wir haben in Google Analytics die Funktionen für Werbeberichte eingeschaltet. Die Berichte zu demografischen
		Merkmalen und Interessen enthalten Angaben zu Alter, Geschlecht und Interessen. Damit können wir uns – ohne
		diese Daten einzelnen Personen zuordnen zu können – ein besseres Bild von unseren Nutzern machen. Mehr über die
		Werbefunktionen erfahren Sie <a class="adsimple-211106637"
										href="https://support.google.com/analytics/answer/3450482?hl=de_AT&utm_id=ad"
										target="_blank" rel="noopener nofollow" class="external">auf https://support.google.com/analytics/answer/3450482?hl=de_AT&utm_id=ad</a>.
	</p>
	<p>Sie können die Nutzung der Aktivitäten und Informationen Ihres Google Kontos unter “Einstellungen für Werbung”
		auf <a class="adsimple-211106637" href="https://adssettings.google.com/authenticated" class="external"
			   rel="nofollow">https://adssettings.google.com/authenticated</a> per Checkbox beenden.</p>
	<h2 class="adsimple-211106637">YouTube Datenschutzerklärung</h2>
	<p>Wir haben auf unserer Webseite YouTube-Videos eingebaut. So können wir Ihnen interessante Videos direkt auf
		unserer Seite präsentieren. YouTube ist ein Videoportal, das seit 2006 eine Tochterfirma von Google LLC ist.
		Betrieben wird das Videoportal durch YouTube, LLC, 901 Cherry Ave., San Bruno, CA 94066, USA. Wenn Sie auf
		unserer Webseite eine Seite aufrufen, die ein YouTube-Video eingebettet hat, verbindet sich Ihr Browser
		automatisch mit den Servern von YouTube bzw. Google. Dabei werden (je nach Einstellungen) verschiedene Daten
		übertragen. Für die gesamte Datenverarbeitung ist Google verantwortlich und es gilt somit auch der Datenschutz
		von Google.</p>
	<p>Im Folgenden wollen wir Ihnen genauer erklären, welche Daten verarbeitet werden, warum wir YouTube-Videos
		eingebunden haben und wie Sie Ihre Daten verwalten oder löschen können.</p>
	<h3 class="adsimple-211106637">Was ist YouTube?</h3>
	<p>Auf YouTube können die User kostenlos Videos ansehen, bewerten, kommentieren und selbst hochladen. Über die
		letzten Jahre wurde YouTube zu einem der wichtigsten Social-Media-Kanäle weltweit. Damit wir Videos auf unserer
		Webseite anzeigen können, stellt YouTube einen Codeausschnitt zur Verfügung, den wir auf unserer Seite eingebaut
		haben.</p>
	<h3 class="adsimple-211106637">Warum verwenden wir YouTube-Videos auf unserer Webseite?</h3>
	<p>YouTube ist die Videoplattform mit den meisten Besuchern und dem besten Content. Wir sind bemüht, Ihnen die
		bestmögliche User-Erfahrung auf unserer Webseite zu bieten. Und natürlich dürfen interessante Videos dabei nicht
		fehlen. Mithilfe unserer eingebetteten Videos stellen wir Ihnen neben unseren Texten und Bildern weiteren
		hilfreichen Content zur Verfügung. Zudem wird unsere Webseite auf der Google-Suchmaschine durch die
		eingebetteten Videos leichter gefunden. Auch wenn wir über Google Ads Werbeanzeigen schalten, kann Google – dank
		der gesammelten Daten – diese Anzeigen wirklich nur Menschen zeigen, die sich für unsere Angebote
		interessieren.</p>
	<h3 class="adsimple-211106637">Welche Daten werden von YouTube gespeichert?</h3>
	<p>Sobald Sie eine unserer Seiten besuchen, die ein YouTube-Video eingebaut hat, setzt YouTube zumindest ein Cookie,
		das Ihre IP-Adresse und unsere URL speichert. Wenn Sie in Ihrem YouTube-Konto eingeloggt sind, kann YouTube Ihre
		Interaktionen auf unserer Webseite meist mithilfe von Cookies Ihrem Profil zuordnen. Dazu zählen Daten wie
		Sitzungsdauer, Absprungrate, ungefährer Standort, technische Informationen wie Browsertyp, Bildschirmauflösung
		oder Ihr Internetanbieter. Weitere Daten können Kontaktdaten, etwaige Bewertungen, das Teilen von Inhalten über
		Social Media oder das Hinzufügen zu Ihren Favoriten auf YouTube sein.</p>
	<p>Wenn Sie nicht in einem Google-Konto oder einem Youtube-Konto angemeldet sind, speichert Google Daten mit einer
		eindeutigen Kennung, die mit Ihrem Gerät, Browser oder App verknüpft sind. So bleibt beispielsweise Ihre
		bevorzugte Spracheinstellung beibehalten. Aber viele Interaktionsdaten können nicht gespeichert werden, da
		weniger Cookies gesetzt werden.</p>
	<p>In der folgenden Liste zeigen wir Cookies, die in einem Test im Browser gesetzt wurden. Wir zeigen einerseits
		Cookies, die ohne angemeldeten YouTube-Konto gesetzt werden. Andererseits zeigen wir Cookies, die mit
		angemeldetem Account gesetzt werden. Die Liste kann keinen Vollständigkeitsanspruch erheben, weil die Userdaten
		immer von den Interaktionen auf YouTube abhängen.</p>
	<p>
		<strong class="adsimple-211106637">Name:</strong> YSC<br/>
		<strong class="adsimple-211106637">Wert:</strong> b9-CV6ojI5Y<br/>
		<strong class="adsimple-211106637">Verwendungszweck:</strong> Dieses Cookie registriert eine eindeutige ID, um
		Statistiken des gesehenen Videos zu speichern.<br/>
		<strong class="adsimple-211106637">Ablaufdatum:</strong> nach Sitzungsende</p>
	<p>
		<strong class="adsimple-211106637">Name:</strong> PREF<br/>
		<strong class="adsimple-211106637">Wert:</strong> f1=50000000<br/>
		<strong class="adsimple-211106637">Verwendungszweck:</strong> Dieses Cookie registriert ebenfalls Ihre
		eindeutige ID. Google bekommt über PREF Statistiken, wie Sie YouTube-Videos auf unserer Webseite verwenden.<br/>
		<strong class="adsimple-211106637">Ablaufdatum:</strong> nach 8 Monate</p>
	<p>
		<strong class="adsimple-211106637">Name:</strong> GPS<br/>
		<strong class="adsimple-211106637">Wert:</strong> 1<br/>
		<strong class="adsimple-211106637">Verwendungszweck:</strong> Dieses Cookie registriert Ihre eindeutige ID auf
		mobilen Geräten, um den GPS-Standort zu tracken.<br/>
		<strong class="adsimple-211106637">Ablaufdatum:</strong> nach 30 Minuten</p>
	<p>
		<strong class="adsimple-211106637">Name:</strong> VISITOR_INFO1_LIVE<br/>
		<strong class="adsimple-211106637">Wert:</strong> 95Chz8bagyU<br/>
		<strong class="adsimple-211106637">Verwendungszweck:</strong> Dieses Cookie versucht die Bandbreite des Users
		auf unseren Webseiten (mit eingebautem YouTube-Video) zu schätzen.<br/>
		<strong class="adsimple-211106637">Ablaufdatum:</strong> nach 8 Monaten</p>
	<p>Weitere Cookies, die gesetzt werden, wenn Sie mit Ihrem YouTube-Konto angemeldet sind:</p>
	<p>
		<strong class="adsimple-211106637">Name:</strong> APISID<br/>
		<strong class="adsimple-211106637">Wert:</strong> zILlvClZSkqGsSwI/AU1aZI6HY7211106637-<br/>
		<strong class="adsimple-211106637">Verwendungszweck:</strong> Dieses Cookie wird verwendet, um ein Profil über
		Ihre Interessen zu erstellen. Genützt werden die Daten für personalisierte Werbeanzeigen.<br/>
		<strong class="adsimple-211106637">Ablaufdatum:</strong> nach 2 Jahre</p>
	<p>
		<strong class="adsimple-211106637">Name:</strong> CONSENT<br/>
		<strong class="adsimple-211106637">Wert:</strong> YES+AT.de+20150628-20-0<br/>
		<strong class="adsimple-211106637">Verwendungszweck:</strong> Das Cookie speichert den Status der Zustimmung
		eines Users zur Nutzung unterschiedlicher Services von Google. CONSENT dient auch der Sicherheit, um User zu
		überprüfen und Userdaten vor unbefugten Angriffen zu schützen.<br/>
		<strong class="adsimple-211106637">Ablaufdatum: </strong>nach 19 Jahren</p>
	<p>
		<strong class="adsimple-211106637">Name:</strong> HSID<br/>
		<strong class="adsimple-211106637">Wert:</strong> AcRwpgUik9Dveht0I<br/>
		<strong class="adsimple-211106637">Verwendungszweck:</strong> Dieses Cookie wird verwendet, um ein Profil über
		Ihre Interessen zu erstellen. Diese Daten helfen personalisierte Werbung anzeigen zu können.<br/>
		<strong class="adsimple-211106637">Ablaufdatum:</strong> nach 2 Jahren</p>
	<p>
		<strong class="adsimple-211106637">Name:</strong> LOGIN_INFO<br/>
		<strong class="adsimple-211106637">Wert:</strong> AFmmF2swRQIhALl6aL…<br/>
		<strong class="adsimple-211106637">Verwendungszweck:</strong> In diesem Cookie werden Informationen über Ihre
		Login-Daten gespeichert.<br/>
		<strong class="adsimple-211106637">Ablaufdatum:</strong> nach 2 Jahren</p>
	<p>
		<strong class="adsimple-211106637">Name:</strong> SAPISID<br/>
		<strong class="adsimple-211106637">Wert:</strong> 7oaPxoG-pZsJuuF5/AnUdDUIsJ9iJz2vdM<br/>
		<strong class="adsimple-211106637">Verwendungszweck:</strong> Dieses Cookie funktioniert, indem es Ihren Browser
		und Ihr Gerät eindeutig identifiziert. Es wird verwendet, um ein Profil über Ihre Interessen zu erstellen.<br/>
		<strong class="adsimple-211106637">Ablaufdatum:</strong> nach 2 Jahren</p>
	<p>
		<strong class="adsimple-211106637">Name:</strong> SID<br/>
		<strong class="adsimple-211106637">Wert:</strong> oQfNKjAsI211106637-<br/>
		<strong class="adsimple-211106637">Verwendungszweck:</strong> Dieses Cookie speichert Ihre Google-Konto-ID und
		Ihren letzten Anmeldezeitpunkt in digital signierter und verschlüsselter Form.<br/>
		<strong class="adsimple-211106637">Ablaufdatum:</strong> nach 2 Jahren</p>
	<p>
		<strong class="adsimple-211106637">Name:</strong> SIDCC<br/>
		<strong class="adsimple-211106637">Wert:</strong> AN0-TYuqub2JOcDTyL<br/>
		<strong class="adsimple-211106637">Verwendungszweck:</strong> Dieses Cookie speichert Informationen, wie Sie die
		Webseite nutzen und welche Werbung Sie vor dem Besuch auf unserer Seite möglicherweise gesehen haben.<br/>
		<strong class="adsimple-211106637">Ablaufdatum:</strong> nach 3 Monaten</p>
	<h3 class="adsimple-211106637">Wie lange und wo werden die Daten gespeichert?</h3>
	<p>Die Daten, die YouTube von Ihnen erhält und verarbeitet werden auf den Google-Servern gespeichert. Die meisten
		dieser Server befinden sich in Amerika. Unter <a class="adsimple-211106637"
														 href="https://www.google.com/about/datacenters/inside/locations/?hl=de"
														 target="_blank" rel="noopener nofollow" class="external">https://www.google.com/about/datacenters/inside/locations/?hl=de</a>
		 sehen Sie genau wo sich die Google-Rechenzentren befinden. Ihre Daten sind auf den Servern verteilt. So sind
		die Daten schneller abrufbar und vor Manipulation besser geschützt.</p>
	<p>Die erhobenen Daten speichert Google unterschiedlich lang. Manche Daten können Sie jederzeit löschen, andere
		werden automatisch nach einer begrenzten Zeit gelöscht und wieder andere werden von Google über längere Zeit
		gespeichert. Einige Daten (wie Elemente aus „Meine Aktivität“, Fotos oder Dokumente, Produkte), die in Ihrem
		Google-Konto gespeichert sind, bleiben so lange gespeichert, bis Sie sie löschen. Auch wenn Sie nicht in einem
		Google-Konto angemeldet sind, können Sie einige Daten, die mit Ihrem Gerät, Browser oder App verknüpft sind,
		löschen.</p>
	<h3 class="adsimple-211106637">Wie kann ich meine Daten löschen bzw. die Datenspeicherung verhindern?</h3>
	<p>Grundsätzlich können Sie Daten im Google Konto manuell löschen. Mit der 2019 eingeführten automatische
		Löschfunktion von Standort- und Aktivitätsdaten werden Informationen abhängig von Ihrer Entscheidung – entweder
		3 oder 18 Monate gespeichert und dann gelöscht.</p>
	<p>Unabhängig, ob Sie ein Google-Konto haben oder nicht, können Sie Ihren Browser so konfigurieren, dass Cookies von
		Google gelöscht bzw. deaktiviert werden. Je nach dem welchen Browser Sie verwenden, funktioniert dies auf
		unterschiedliche Art und Weise. Die folgenden Anleitungen zeigen, wie Sie Cookies in Ihrem Browser
		verwalten:</p>
	<p>
		<a class="adsimple-211106637" href="https://support.google.com/chrome/answer/95647?tid=211106637"
		   target="_blank" rel="noopener nofollow" class="external">Chrome: Cookies in Chrome löschen, aktivieren und
			verwalten</a>
	</p>
	<p>
		<a class="adsimple-211106637" href="https://support.apple.com/de-at/guide/safari/sfri11471/mac?tid=211106637"
		   target="_blank" rel="noopener nofollow" class="external">Safari: Verwalten von Cookies und Websitedaten mit
			Safari</a>
	</p>
	<p>
		<a class="adsimple-211106637"
		   href="https://support.mozilla.org/de/kb/cookies-und-website-daten-in-firefox-loschen?tid=211106637"
		   target="_blank" rel="noopener nofollow" class="external">Firefox: Cookies löschen, um Daten zu entfernen, die
			Websites auf Ihrem Computer abgelegt haben</a>
	</p>
	<p>
		<a class="adsimple-211106637"
		   href="https://support.microsoft.com/de-at/help/17442/windows-internet-explorer-delete-manage-cookies?tid=211106637"
		   target="_blank" rel="noopener nofollow" class="external">Internet Explorer: Löschen und Verwalten von
			Cookies</a>
	</p>
	<p>
		<a class="adsimple-211106637"
		   href="https://support.microsoft.com/de-at/help/4027947/windows-delete-cookies?tid=211106637" target="_blank"
		   rel="noopener nofollow" class="external">Microsoft Edge: Löschen und Verwalten von Cookies</a>
	</p>
	<p>Falls Sie grundsätzlich keine Cookies haben wollen, können Sie Ihren Browser so einrichten, dass er Sie immer
		informiert, wenn ein Cookie gesetzt werden soll. So können Sie bei jedem einzelnen Cookie entscheiden, ob Sie es
		erlauben oder nicht. Da YouTube ein Tochterunternehmen von Google ist, gibt es eine gemeinsame
		Datenschutzerklärung. Wenn Sie mehr über den Umgang mit Ihren Daten erfahren wollen, empfehlen wir Ihnen die
		Datenschutzerklärung unter <a class="adsimple-211106637" href="https://policies.google.com/privacy?hl=de"
									  target="_blank" rel="noopener nofollow" class="external">https://policies.google.com/privacy?hl=de.</a>
	</p>
	<h2 class="adsimple-211106637">Cookies</h2>
	<p>Unsere Webseite verwendet HTTP-Cookies, um nutzerspezifische Daten zu speichern.<br/>
		Im Folgenden erklären wir, was Cookies sind und warum Sie genutzt werden, damit Sie die folgende
		Datenschutzerklärung besser verstehen.</p>
	<h3 class="adsimple-211106637">Was genau sind Cookies?</h3>
	<p>Immer wenn Sie durch das Internet surfen, verwenden Sie einen Browser. Bekannte Browser sind beispielsweise
		Chrome, Safari, Firefox, Internet Explorer und Microsoft Edge. Die meisten Webseiten speichern kleine
		Text-Dateien in Ihrem Browser. Diese Dateien nennt man Cookies.</p>
	<p>Eines ist nicht von der Hand zu weisen: Cookies sind echt nützliche Helferlein. Fast alle Webseiten
		verwenden Cookies. Genauer gesprochen sind es HTTP-Cookies, da es auch noch andere Cookies für andere
		Anwendungsbereiche gibt. HTTP-Cookies sind kleine Dateien, die von unserer Webseite auf Ihrem Computer
		gespeichert werden. Diese Cookie-Dateien werden automatisch im Cookie-Ordner, quasi dem „Hirn“ Ihres Browsers,
		untergebracht. Ein Cookie besteht aus einem Namen und einem Wert. Bei der Definition eines Cookies müssen
		zusätzlich ein oder mehrere Attribute angegeben werden.</p>
	<p>Cookies speichern gewisse Nutzerdaten von Ihnen, wie beispielsweise Sprache oder persönliche Seiteneinstellungen.
		Wenn Sie unsere Seite wieder aufrufen, übermittelt Ihr Browser die „userbezogenen“ Informationen an unsere Seite
		zurück. Dank der Cookies weiß unsere Webseite, wer Sie sind und bietet Ihnen die Einstellung, die Sie gewohnt
		sind. In einigen Browsern hat jedes Cookie eine eigene Datei, in anderen wie beispielsweise Firefox sind
		alle Cookies in einer einzigen Datei gespeichert.</p>
	<p>Es gibt sowohl Erstanbieter Cookies als auch Drittanbieter-Cookies. Erstanbieter-Cookies werden direkt von
		unserer Seite erstellt, Drittanbieter-Cookies werden von Partner-Webseiten (z.B. Google Analytics)
		erstellt. Jedes Cookie ist individuell zu bewerten, da jedes Cookie andere Daten speichert. Auch die Ablaufzeit
		eines Cookies variiert von ein paar Minuten bis hin zu ein paar Jahren. Cookies sind keine Software-Programme
		und enthalten keine Viren, Trojaner oder andere „Schädlinge“. Cookies können auch nicht auf Informationen Ihres
		PCs zugreifen.</p>
	<p>So können zum Beispiel Cookie-Daten aussehen:</p>
	<p>
		<strong class="adsimple-211106637">Name:</strong> _ga<br/>
		<strong class="adsimple-211106637">Wert:</strong> GA1.2.1326744211.152211106637
		<strong class="adsimple-211106637">Verwendungszweck:</strong> Unterscheidung der Webseitenbesucher<br/>
		<strong class="adsimple-211106637">Ablaufdatum:</strong> nach 2 Jahren</p>
	<p>Diese Mindestgrößen sollte ein Browser unterstützen können:</p>
	<ul class="adsimple-211106637">
		<li class="adsimple-211106637">Mindestens 4096 Bytes pro Cookie</li>
		<li class="adsimple-211106637">Mindestens 50 Cookies pro Domain</li>
		<li class="adsimple-211106637">Mindestens 3000 Cookies insgesamt</li>
	</ul>
	<h3 class="adsimple-211106637">Welche Arten von Cookies gibt es?</h3>
	<p>Die Frage welche Cookies wir im Speziellen verwenden, hängt von den verwendeten Diensten ab und wird in den
		folgenden Abschnitten der Datenschutzerklärung geklärt. An dieser Stelle möchten wir kurz auf die verschiedenen
		Arten von HTTP-Cookies eingehen.</p>
	<p>Man kann 4 Arten von Cookies unterscheiden:</p>
	<p>
		<strong class="adsimple-211106637">Unerlässliche Cookies<br/>
		</strong>Diese Cookies sind nötig, um grundlegende Funktionen der Webseite sicherzustellen. Zum Beispiel braucht
		es diese Cookies, wenn ein User ein Produkt in den Warenkorb legt, dann auf anderen Seiten weitersurft und
		später erst zur Kasse geht. Durch diese Cookies wird der Warenkorb nicht gelöscht, selbst wenn der User sein
		Browserfenster schließt.</p>
	<p>
		<strong class="adsimple-211106637">Zweckmäßige Cookies<br/>
		</strong>Diese Cookies sammeln Infos über das Userverhalten und ob der User etwaige Fehlermeldungen bekommt.
		Zudem werden mithilfe dieser Cookies auch die Ladezeit und das Verhalten der Webseite bei verschiedenen Browsern
		gemessen.</p>
	<p>
		<strong class="adsimple-211106637">Zielorientierte Cookies<br/>
		</strong>Diese Cookies sorgen für eine bessere Nutzerfreundlichkeit. Beispielsweise werden eingegebene
		Standorte, Schriftgrößen oder Formulardaten gespeichert.</p>
	<p>
		<strong class="adsimple-211106637">Werbe-Cookies<br/>
		</strong>Diese Cookies werden auch Targeting-Cookies genannt. Sie dienen dazu dem User individuell angepasste
		Werbung zu liefern. Das kann sehr praktisch, aber auch sehr nervig sein.</p>
	<p>Üblicherweise werden Sie beim erstmaligen Besuch einer Webseite gefragt, welche dieser Cookiearten Sie zulassen
		möchten. Und natürlich wird diese Entscheidung auch in einem Cookie gespeichert.</p>
	<h3 class="adsimple-211106637">Wie kann ich Cookies löschen?</h3>
	<p>Wie und ob Sie Cookies verwenden wollen, entscheiden Sie selbst. Unabhängig von welchem Service oder welcher
		Webseite die Cookies stammen, haben Sie immer die Möglichkeit Cookies zu löschen, zu deaktivieren oder nur
		teilweise zuzulassen. Zum Beispiel können Sie Cookies von Drittanbietern blockieren, aber alle anderen Cookies
		zulassen.</p>
	<p>Wenn Sie feststellen möchten, welche Cookies in Ihrem Browser gespeichert wurden, wenn Sie Cookie-Einstellungen
		ändern oder löschen wollen, können Sie dies in Ihren Browser-Einstellungen finden:</p>
	<p>
		<a class="adsimple-211106637" href="https://support.google.com/chrome/answer/95647?tid=211106637"
		   class="external" rel="nofollow">Chrome: Cookies in Chrome löschen, aktivieren und verwalten</a>
	</p>
	<p>
		<a class="adsimple-211106637" href="https://support.apple.com/de-at/guide/safari/sfri11471/mac?tid=211106637"
		   class="external" rel="nofollow">Safari: Verwalten von Cookies und Websitedaten mit Safari</a>
	</p>
	<p>
		<a class="adsimple-211106637"
		   href="https://support.mozilla.org/de/kb/cookies-und-website-daten-in-firefox-loschen?tid=211106637"
		   class="external" rel="nofollow">Firefox: Cookies löschen, um Daten zu entfernen, die Websites auf Ihrem
			Computer abgelegt haben</a>
	</p>
	<p>
		<a class="adsimple-211106637"
		   href="https://support.microsoft.com/de-at/help/17442/windows-internet-explorer-delete-manage-cookies?tid=211106637"
		   class="external" rel="nofollow">Internet Explorer: Löschen und Verwalten von Cookies</a>
	</p>
	<p>
		<a class="adsimple-211106637"
		   href="https://support.microsoft.com/de-at/help/4027947/windows-delete-cookies?tid=211106637" class="external"
		   rel="nofollow">Microsoft Edge: Löschen und Verwalten von Cookies</a>
	</p>
	<p>Falls Sie grundsätzlich keine Cookies haben wollen, können Sie Ihren Browser so einrichten, dass er Sie immer
		informiert, wenn ein Cookie gesetzt werden soll. So können Sie bei jedem einzelnen Cookie entscheiden, ob Sie
		das Cookie erlauben oder nicht. Die Vorgangsweise ist je nach Browser verschieden. Am besten Sie suchen die
		Anleitung in Google mit dem Suchbegriff “Cookies löschen Chrome” oder „Cookies deaktivieren Chrome“ im Falle
		eines Chrome Browsers.</p>
	<h3 class="adsimple-211106637">Wie sieht es mit meinem Datenschutz aus?</h3>
	<p>Seit 2009 gibt es die sogenannten „Cookie-Richtlinien“. Darin ist festgehalten, dass das Speichern von Cookies
		eine Einwilligung des von Ihnen verlangt. Innerhalb der EU-Länder gibt es allerdings noch sehr unterschiedliche
		Reaktionen auf diese Richtlinien. In Österreich erfolgte aber die Umsetzung dieser Richtlinie in § 96 Abs. 3 des
		Telekommunikationsgesetzes (TKG).</p>
	<p>Wenn Sie mehr über Cookies wissen möchten und vor technischen Dokumentationen nicht zurückscheuen, empfehlen wir <a
			class="adsimple-211106637" href="https://tools.ietf.org/html/rfc6265" target="_blank" rel="nofollow noopener"
			class="external">https://tools.ietf.org/html/rfc6265</a>, dem Request for Comments der Internet Engineering Task
		Force (IETF) namens „HTTP State Management Mechanism“.</p>
	<h2 class="adsimple-211106637">Google Fonts Datenschutzerklärung</h2>
	<p>Auf unserer Webseite verwenden wir Google Fonts. Das sind die „Google-Schriften“ der Firma Google Inc. (1600
		Amphitheatre Parkway Mountain View, CA 94043, USA).</p>
	<p>Für die Verwendung von Google-Schriftarten müssen Sie sich nicht anmelden bzw. ein Passwort hinterlegen. Weiters
		werden auch keine Cookies in Ihrem Browser gespeichert. Die Dateien (CSS, Schriftarten/Fonts) werden über die
		Google-Domains fonts.googleapis.com und fonts.gstatic.com angefordert. Laut Google sind die Anfragen nach CSS
		und Schriften vollkommen getrennt von allen anderen Google-Diensten. Wenn Sie ein Google-Konto haben, brauchen
		Sie keine Sorge haben, dass Ihre Google-Kontodaten, während der Verwendung von Google Fonts, an Google
		übermittelt werden. Google erfasst die Nutzung von CSS (Cascading Style Sheets) und der verwendeten Schriftarten
		und speichert diese Daten sicher. Wie die Datenspeicherung genau aussieht, werden wir uns noch im Detail
		ansehen.</p>
	<h3 class="adsimple-211106637">Was sind Google Fonts?</h3>
	<p>Google Fonts (früher Google Web Fonts) ist ein Verzeichnis mit über 800 Schriftarten, die die <a
			class="adsimple-211106637" href="https://de.wikipedia.org/wiki/Google_LLC?tid=211106637" class="external"
			rel="nofollow">Google LLC</a> Ihren Nutzern kostenlos zu Verfügung stellen.</p>
	<p>Viele dieser Schriftarten sind unter der SIL Open Font License veröffentlicht, während andere unter
		der Apache-Lizenz veröffentlicht wurden. Beides sind freie Software-Lizenzen.</p>
	<h3 class="adsimple-211106637">Warum verwenden wir Google Fonts auf unserer Webseite?</h3>
	<p>Mit Google Fonts können wir auf der eigenen Webseite Schriften nutzen, und müssen sie nicht auf unserem eigenen
		Server hochladen. Google Fonts ist ein wichtiger Baustein, um die Qualität unserer Webseite hoch zu halten. Alle
		Google-Schriften sind automatisch für das Web optimiert und dies spart Datenvolumen und ist speziell für die
		Verwendung bei mobilen Endgeräten ein großer Vorteil. Wenn Sie unsere Seite besuchen, sorgt die niedrige
		Dateigröße für eine schnelle Ladezeit. Des Weiteren sind Google Fonts sichere Web Fonts. Unterschiedliche
		Bildsynthese-Systeme (Rendering) in verschiedenen Browsern, Betriebssystemen und mobilen Endgeräten können zu
		Fehlern führen. Solche Fehler können teilweise Texte bzw. ganze Webseiten optisch verzerren. Dank des schnellen
		Content Delivery Network (CDN) gibt es mit Google Fonts keine plattformübergreifenden Probleme. Google Fonts
		unterstützt alle gängigen Browser (Google Chrome, Mozilla Firefox, Apple Safari, Opera) und funktioniert
		zuverlässig auf den meisten modernen mobilen Betriebssystemen, einschließlich Android 2.2+ und iOS 4.2+ (iPhone,
		iPad, iPod). Wir verwenden die Google Fonts also, damit wir unser gesamtes Online-Service so schön und
		einheitlich wie möglich darstellen können.</p>
	<h3 class="adsimple-211106637">Welche Daten werden von Google gespeichert?</h3>
	<p>Wenn Sie unsere Webseite besuchen, werden die Schriften über einen Google-Server nachgeladen. Durch diesen
		externen Aufruf werden Daten an die Google-Server übermittelt. So erkennt Google auch, dass Sie bzw. Ihre
		IP-Adresse unsere Webseite besucht. Die Google Fonts API wurde entwickelt, um Verwendung, Speicherung und
		Erfassung von Endnutzerdaten auf das zu reduzieren, was für eine ordentliche Bereitstellung von Schriften nötig
		ist. API steht übrigens für „Application Programming Interface“ und dient unter anderem als Datenübermittler im
		Softwarebereich.</p>
	<p>Google Fonts speichert CSS- und Schrift-Anfragen sicher bei Google und ist somit geschützt. Durch die gesammelten
		Nutzungszahlen kann Google feststellen, wie gut die einzelnen Schriften ankommen. Die Ergebnisse veröffentlicht
		Google auf internen Analyseseiten, wie beispielsweise Google Analytics. Zudem verwendet Google auch Daten des
		eigenen Web-Crawlers, um festzustellen, welche Webseiten Google-Schriften verwenden. Diese Daten werden in der
		BigQuery-Datenbank von Google Fonts veröffentlicht. Unternehmer und Entwickler nützen das
		Google-Webservice BigQuery, um große Datenmengen untersuchen und bewegen zu können.</p>
	<p>Zu bedenken gilt allerdings noch, dass durch jede Google Font Anfrage auch Informationen wie Spracheinstellungen,
		IP-Adresse, Version des Browsers, Bildschirmauflösung des Browsers und Name des Browsers automatisch an die
		Google-Server übertragen werden. Ob diese Daten auch gespeichert werden, ist nicht klar feststellbar bzw. wird
		von Google nicht eindeutig kommuniziert.</p>
	<h3 class="adsimple-211106637">Wie lange und wo werden die Daten gespeichert?</h3>
	<p>Anfragen für CSS-Assets speichert Google einen Tag lang auf Ihren Servern, die hauptsächlich außerhalb der EU
		angesiedelt sind. Das ermöglicht uns, mithilfe eines Google-Stylesheets die Schriftarten zu nutzen. Ein
		Stylesheet ist eine Formatvorlage, über die man einfach und schnell z.B. das Design bzw. die Schriftart einer
		Webseite ändern kann.</p>
	<p>Die Font-Dateien werden bei Google ein Jahr gespeichert. Google verfolgt damit das Ziel, die Ladezeit von
		Webseiten grundsätzlich zu verbessern. Wenn Millionen von Webseiten auf die gleichen Schriften verweisen, werden
		sie nach dem ersten Besuch zwischengespeichert und erscheinen sofort auf allen anderen später besuchten
		Webseiten wieder. Manchmal aktualisiert Google Schriftdateien, um die Dateigröße zu reduzieren, die Abdeckung
		von Sprache zu erhöhen und das Design zu verbessern.</p>
	<h3 class="adsimple-211106637">Wie kann ich meine Daten löschen bzw. die Datenspeicherung verhindern?</h3>
	<p>Jene Daten, die Google für einen Tag bzw. ein Jahr speichert können nicht einfach gelöscht werden. Die Daten
		werden beim Seitenaufruf automatisch an Google übermittelt. Um diese Daten vorzeitig löschen zu können, müssen
		Sie den Google-Support auf <a class="adsimple-211106637" href="https://support.google.com/?hl=de&tid=211106637"
									  class="external"
									  rel="nofollow">https://support.google.com/?hl=de&tid=211106637</a> kontaktieren.
		Datenspeicherung verhindern Sie in diesem Fall nur, wenn Sie unsere Seite nicht besuchen.</p>
	<p>Anders als andere Web-Schriften erlaubt uns Google uneingeschränkten Zugriff auf alle Schriftarten. Wir können
		also unlimitiert auf ein Meer an Schriftarten zugreifen und so das Optimum für unsere Webseite rausholen. Mehr
		zu Google Fonts und weiteren Fragen finden Sie auf <a class="adsimple-211106637"
															  href="https://developers.google.com/fonts/faq?tid=211106637"
															  class="external" rel="nofollow">https://developers.google.com/fonts/faq?tid=211106637</a>.
		Dort geht zwar Google auf datenschutzrelevante Angelegenheiten ein, doch wirklich detaillierte Informationen
		über Datenspeicherung sind nicht enthalten. Es ist relativ schwierig, von Google wirklich präzise Informationen
		über gespeicherten Daten zu bekommen.</p>
	<p>Welche Daten grundsätzlich von Google erfasst werden und wofür diese Daten verwendet werden, können Sie auch auf
		<a class="adsimple-211106637" href="https://policies.google.com/privacy?hl=de&tid=211106637" class="external"
		   rel="nofollow">https://www.google.com/intl/de/policies/privacy/</a> nachlesen.</p>
	<p style="margin-top:15px;">Quelle: Erstellt mit dem <a title="Datenschutz Generator von firmenwebseiten.at"
															href="https://www.firmenwebseiten.at/datenschutz-generator/"
															target="_blank" rel="follow" style="text-decoration:none;">Datenschutz
		Generator von firmenwebseiten.at</a> in Kooperation mit <a href="https://www.medwell24.at" target="_blank"
																   rel="follow" title="" style="text-decoration:none;">medwell24.at</a>
	</p>
</div>
