{{#> popup title=(terary (expr type '===' 'project') i18n.POPUP.PROJECT_COMP_EDIT.PROJECT_TITLE i18n.POPUP.PROJECT_COMP_EDIT.COMP_TITLE)  defaultOpen=true }}
	<div class="view-project-component-edit-popup">
	</div>
{{/popup}}
