{{#> popup title=(ternary (expr type '===' 'project') i18n.POPUP.PROJECT_COMP_CREATE.PROJECT_TITLE i18n.POPUP.PROJECT_COMP_CREATE.COMP_TITLE)  defaultOpen=true }}
	<div class="view-project-component-create-popup">
		{{#> form action=action }}

			{{#> form-input name='name' type='text' label=i18n.POPUP.PROJECT_COMP_CREATE.NAME }}
				{{> form-error error='isNotEmpty' message=i18n.POPUP.PROJECT_COMP_CREATE.NAME_ERR_REQUIRED }}
				{{> form-error error='maxLength' message=i18n.POPUP.PROJECT_COMP_CREATE.NAME_ERR_MAX clientValData='20' }}
			{{/form-input}}

			{{#if (expr type '===' 'component')}}
				{{#> form-input name='symbol' type='text' label=i18n.POPUP.PROJECT_COMP_CREATE.SYMBOL value=symbol }}
					{{> form-error error='isNotEmpty' message=i18n.POPUP.PROJECT_COMP_CREATE.SYMBOL_ERR_REQUIRED }}
					{{> form-error error='maxLength' message=i18n.POPUP.PROJECT_COMP_CREATE.SYMBOL_ERR_MAX clientValData='5' }}
				{{/form-input}}
			{{/if}}

			{{#> form-area name='description' label=i18n.POPUP.PROJECT_COMP_CREATE.DESCRIPTION value=description }}
				{{> form-error error='maxLength' message=i18n.POPUP.PROJECT_COMP_CREATE.DESCRIPTION_ERR_MAX clientValData='2048' }}
			{{/form-area}}

			<p class="view-project-component-create-popup__public-explanation">{{i18n.POPUP.PROJECT_COMP_CREATE.PUBLIC_EXPLANATION}}</p>

			<div class="view-project-component-create-popup__public-switch">
				<p>{{i18n.POPUP.PROJECT_COMP_CREATE.PUBLIC}}</p>
				{{> form-switch name='public' checked=true }}
			</div>

			<button type="submit" class="btn-raised primary view-project-component-create-popup__submit">{{i18n.POPUP.PROJECT_COMP_CREATE.CREATE}}</button>

		{{/form}}
	</div>
{{/popup}}
