<div class="view-reset-password">
	<div class="view-reset-password__section-content">
		{{#if token}}
			{{> reset-password token=token }}
		{{else}}
			{{> request-password-reset }}
		{{/if}}
	</div>
</div>
