<div class="toolbar">

	<div class="toolbar-buttons">
		<ng-container *ngIf="!isSimulationMode">
			<button class="toolbar-button save" aria-label="Save" appToolbarItemTooltip [tooltipText]="('TOOLBAR.TOOLTIP.SAVE' | translate) + getShortcut('save')" (click)="save()"></button>
			<button class="toolbar-button open" aria-label="Open" appToolbarItemTooltip [tooltipText]="('TOOLBAR.TOOLTIP.OPEN' | translate) + getShortcut('openProj')" (click)="openProject()"></button>
			<button class="toolbar-button new-comp" aria-label="New Component" appToolbarItemTooltip [tooltipText]="('TOOLBAR.TOOLTIP.NEW_COMP' | translate) + getShortcut('newComp')" (click)="newComponent()"></button>

			<div class="divider"></div>

			<button class="toolbar-button copy" aria-label="Copy" appToolbarItemTooltip [tooltipText]="('TOOLBAR.TOOLTIP.COPY' | translate) + getShortcut('copy')" (appOutsideNgZoneEvent)="copy()"></button>
			<button class="toolbar-button cut" aria-label="Cut"  appToolbarItemTooltip [tooltipText]="('TOOLBAR.TOOLTIP.CUT' | translate) + getShortcut('cut')" (appOutsideNgZoneEvent)="cut()"></button>
			<button class="toolbar-button paste" aria-label="Paste" appToolbarItemTooltip [tooltipText]="('TOOLBAR.TOOLTIP.PASTE' | translate) + getShortcut('paste')" (appOutsideNgZoneEvent)="paste()"></button>
			<button class="toolbar-button delete" aria-label="Delete" appToolbarItemTooltip [tooltipText]="('TOOLBAR.TOOLTIP.DELETE' | translate) + getShortcut('delete')" (appOutsideNgZoneEvent)="delete()"></button>

			<div class="divider"></div>

			<button class="toolbar-button undo" (appOutsideNgZoneEvent)="undo()" appToolbarItemTooltip [tooltipText]="('TOOLBAR.TOOLTIP.UNDO' | translate) + getShortcut('undo')" aria-label="Undo"></button>
			<button class="toolbar-button redo" (appOutsideNgZoneEvent)="redo()" appToolbarItemTooltip [tooltipText]="('TOOLBAR.TOOLTIP.REDO' | translate) + getShortcut('redo')" aria-label="Redo"></button>

			<div class="divider"></div>
		</ng-container>

		<button class="toolbar-button zoom-out" (appOutsideNgZoneEvent)="zoomOut()" appToolbarItemTooltip [tooltipText]="('TOOLBAR.TOOLTIP.ZOOM_OUT' | translate) + getShortcut('zoomOut')" aria-label="Zoom Out"></button>
		<button class="toolbar-button zoom-in" (appOutsideNgZoneEvent)="zoomIn()" appToolbarItemTooltip [tooltipText]="('TOOLBAR.TOOLTIP.ZOOM_IN' | translate) + getShortcut('zoomIn')" aria-label="Zoom In"></button>

		<ng-container *ngIf="!isSimulationMode">
			<div class="divider"></div>

			<button class="toolbar-button wire" (click)="setWorkMode('WIRE')" [class.active-button]="isWireMode" aria-label="Place Wire" appToolbarItemTooltip [tooltipText]="('TOOLBAR.TOOLTIP.WIRE' | translate) + getShortcut('wireMode')"></button>
			<button class="toolbar-button conn-wire" (click)="setWorkMode('CONN_WIRE')" [class.active-button]="isConnWireMode" aria-label="Connect Wire" appToolbarItemTooltip [tooltipText]="('TOOLBAR.TOOLTIP.CONN_WIRE' | translate) + getShortcut('connWireMode')"></button>
			<button class="toolbar-button select" (click)="setWorkMode('SELECT')" [class.active-button]="isSelectMode" aria-label="Select" appToolbarItemTooltip [tooltipText]="('TOOLBAR.TOOLTIP.SELECT' | translate) + getShortcut('selectMode')"></button>
			<button class="toolbar-button select-cut" (click)="setWorkMode('CUT_SELECT')" [class.active-button]="isCutSelectMode" aria-label="Select Cut" appToolbarItemTooltip [tooltipText]="('TOOLBAR.TOOLTIP.SELECT_CUT' | translate) + getShortcut('cutSelectMode')"></button>
			<button class="toolbar-button eraser" (click)="setWorkMode('ERASER')" [class.active-button]="isEraserMode" aria-label="Eraser" appToolbarItemTooltip [tooltipText]="('TOOLBAR.TOOLTIP.ERASER' | translate) + getShortcut('eraserMode')"></button>
			<button class="toolbar-button text" (click)="setWorkMode('TEXT')" [class.active-button]="isTextMode" aria-label="Place Text" appToolbarItemTooltip [tooltipText]="('TOOLBAR.TOOLTIP.TEXT' | translate) + getShortcut('textMode')"></button>
		</ng-container>

		<ng-container *ngIf="isSimulationMode">
			<div class="divider"></div>

			<button class="toolbar-button play" [class.active-button]="simulationRunning" (click)="continueSim()" appToolbarItemTooltip [tooltipText]="('TOOLBAR.TOOLTIP.SIM_CONT' | translate) + getShortcut('startSim')"></button>
			<button class="toolbar-button step" (click)="singleStepSim()" appToolbarItemTooltip [tooltipText]="('TOOLBAR.TOOLTIP.SIM_SINGLE' | translate) + getShortcut('singleStepSim')"></button>
			<button class="toolbar-button pause" (click)="pauseSim()" appToolbarItemTooltip [tooltipText]="('TOOLBAR.TOOLTIP.SIM_PAUSE' | translate) + getShortcut('pauseSim')"></button>
			<button class="toolbar-button stop" (click)="stopSim()" appToolbarItemTooltip [tooltipText]="('TOOLBAR.TOOLTIP.SIM_STOP' | translate) + getShortcut('stopSim')"></button>

			<div class="divider"></div>

			<button class="toolbar-button target-clock-speed" [class.active-button]="targetMode" (click)="toggleTargetMode()" appToolbarItemTooltip [tooltipText]="'TOOLBAR.TOOLTIP.SIM_TARGET_MODE' | translate"></button>
			<button class="toolbar-button sync-to-frame-rate" [class.active-button]="syncMode" (click)="toggleSyncMode()" appToolbarItemTooltip [tooltipText]="'TOOLBAR.TOOLTIP.SIM_SYNC_MODE' | translate"></button>

			<ng-container *ngIf="targetMode">
				<input class="target-tick-rate" type="number" [(ngModel)]="targetTickRate" (ngModelChange)="setTarget()" min="0">
				<select class="target-tick-rate" [(ngModel)]="targetMultiplier" (ngModelChange)="setTarget()">
					<option value="1">Hz</option>
					<option value="1000">kHz</option>
					<option value="1000000">MHz</option>
				</select>
			</ng-container>

			<!-- #!if ELECTRON === 'true' -->
			<ng-container>
				<div class="divider"></div>
				<p>Threads:</p>
				<input class="thread-count" type="number" [(ngModel)]="threadCount" (ngModelChange)="setThreadCount()" min="1" max="512">
			</ng-container>
			<!-- #!endif -->

			<ng-container *ngIf="simulationRunning">
				<div class="divider"></div>
				<p>Current Speed: {{simulationStatus.speed | si : 2}}Hz</p>
			</ng-container>
		</ng-container>

		<!-- #!if DEBUG === 'true' -->
		<button (click)="printBoard()">board</button>
		<button (click)="printElements()">elements</button>
		<button (click)="printCalls()">calls</button>
		<button (click)="runTests()">tests</button>
		<button (click)="runStep()">step</button>
		<button (click)="toggleChunks()">chunks</button>
		<!-- #!endif -->

	</div>

	<div class="toolbar-end">
		<ng-container #enterSimulationLoading></ng-container>
		<p (click)="enterSimulation()" *ngIf="!isSimulationMode" class="start-sim">{{'TOOLBAR.START_SIM' | translate}}</p>
		<p (click)="leaveSimulation()" *ngIf="isSimulationMode" class="start-sim">{{'TOOLBAR.EXIT_SIM' | translate}}</p>
	</div>
</div>
