@import 'themes';
@import 'variables';

.toolbar {
	@include themify() {
		background-color: themed('background');
		color: themed('text-primary');
		border-bottom: border('width') solid themed('accent2');
	}

	position: static;
	width: 100%;
	height: $toolbar-height;
	user-select: none;

	display: flex;

	.toolbar-button {
		height: calc(#{$toolbar-height} - 0.4rem);
		width: calc(#{$toolbar-height} - 0.4rem);
		margin: 0.1rem;
		margin-top: 0.2rem;
		margin-bottom: 0.2rem;
		border: none;
		padding: 0.4rem;
		outline: none;
		background-size: contain;
		background-origin: content-box;
		background-repeat: no-repeat;
		border-radius: border('radius');

		@include themify() {
			background-color: themed('background');
		}

		&:hover {
			cursor: default;
			@include themify() {
				@if isTheme('dark') {
					background-color: themed('accent2');
				} @else {
					background-color: lighten(themed('accent2'), 10%);
				}
			}
		}
	}

	.active-button {
		@include themify() {
			@if isTheme('dark') {
				background-color: lighten(themed('background'), 15%);
			} @else {
				background-color: darken(themed('background'), 15%);
			}

			&:hover {
				@if isTheme('dark') {
					background-color: lighten(themed('background'), 15%);
				} @else {
					background-color: darken(themed('background'), 15%);
				}
			}
		}
	}

	.divider {
		@include themify() {
			border-left: 1px solid themed('text-primary');
		}
		height: $toolbar-height - 20px;
		padding: 0;
		margin-right: 0.5rem;
		margin-left: 0.5rem;
	}

	.toolbar-buttons {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		flex-shrink: 0;
		align-items: center;
		padding-left: 0.5rem;

		@include themify() {
			.save {
				@if (isTheme('dark')) {
					background-image: url('/assets/icons/dark/save_new.svg');
				} @else {
					background-image: url('/assets/icons/light/save_new.svg');
				}
			}

			.open {
				@if (isTheme('dark')) {
					background-image: url('/assets/icons/dark/folder.svg');
				} @else {
					background-image: url('/assets/icons/light/folder.svg');
				}
			}

			.new-comp {
				@if (isTheme('dark')) {
					background-image: url('/assets/icons/dark/new-component.svg');
				} @else {
					background-image: url('/assets/icons/light/new-component.svg');
				}
			}

			.paste {
				@if (isTheme('dark')) {
					background-image: url('/assets/icons/dark/clipboard.svg');
				} @else {
					background-image: url('/assets/icons/light/clipboard.svg');
				}
			}

			.copy {
				@if (isTheme('dark')) {
					background-image: url('/assets/icons/dark/files.svg');
				} @else {
					background-image: url('/assets/icons/light/files.svg');
				}
			}

			.cut {
				@if (isTheme('dark')) {
					background-image: url('/assets/icons/dark/cut.svg');
				} @else {
					background-image: url('/assets/icons/light/cut.svg');
				}
			}

			.delete {
				@if (isTheme('dark')) {
					background-image: url('/assets/icons/dark/trash.svg');
				} @else {
					background-image: url('/assets/icons/light/trash.svg');
				}
			}

			.undo {
				@if (isTheme('dark')) {
					background-image: url('/assets/icons/dark/back-left.svg');
				} @else {
					background-image: url('/assets/icons/light/back-left.svg');
				}
			}

			.redo {
				@if (isTheme('dark')) {
					background-image: url('/assets/icons/dark/back-right.svg');
				} @else {
					background-image: url('/assets/icons/light/back-right.svg');
				}
			}

			.text {
				@if (isTheme('dark')) {
					background-image: url('/assets/icons/dark/text.svg');
				} @else {
					background-image: url('/assets/icons/light/text.svg');
				}
			}

			.eraser {
				@if (isTheme('dark')) {
					background-image: url('/assets/icons/dark/eraser.svg');
				} @else {
					background-image: url('/assets/icons/light/eraser.svg');
				}
			}

			.wire {
				@if (isTheme('dark')) {
					background-image: url('/assets/icons/dark/connection.svg');
				} @else {
					background-image: url('/assets/icons/light/connection.svg');
				}
			}

			.conn-wire {
				@if (isTheme('dark')) {
					background-image: url('/assets/icons/dark/connect_wire.svg');
				} @else {
					background-image: url('/assets/icons/light/connect_wire.svg');
				}
			}

			.select {
				@if (isTheme('dark')) {
					background-image: url('/assets/icons/dark/selection1.svg');
				} @else {
					background-image: url('/assets/icons/light/selection1.svg');
				}
			}

			.select-cut {
				@if (isTheme('dark')) {
					background-image: url('/assets/icons/dark/selection_cut.svg');
				} @else {
					background-image: url('/assets/icons/light/selection_cut.svg');
				}
			}

			.sim-start {
				@if (isTheme('dark')) {
					background-image: url('/assets/icons/dark/control-play.svg');
				} @else {
					background-image: url('/assets/icons/light/control-play.svg');
				}
			}

			.sim-pause {
				@if (isTheme('dark')) {
					background-image: url('/assets/icons/dark/control-pause.svg');
				} @else {
					background-image: url('/assets/icons/light/control-pause.svg');
				}
			}

			.sim-step {
				@if (isTheme('dark')) {
					background-image: url('/assets/icons/dark/angle-right.svg');
				} @else {
					background-image: url('/assets/icons/light/angle-right.svg');
				}
			}

			.sim-stop {
				@if (isTheme('dark')) {
					background-image: url('/assets/icons/dark/control-stop.svg');
				} @else {
					background-image: url('/assets/icons/light/control-stop.svg');
				}
			}

			.zoom-out {
				@if (isTheme('dark')) {
					background-image: url('/assets/icons/dark/zoom-out.svg');
				} @else {
					background-image: url('/assets/icons/light/zoom-out.svg');
				}
			}

			.zoom-in {
				@if (isTheme('dark')) {
					background-image: url('/assets/icons/dark/zoom-in.svg');
				} @else {
					background-image: url('/assets/icons/light/zoom-in.svg');
				}
			}

			.play {
				@if (isTheme('dark')) {
					background-image: url('/assets/icons/dark/control-play.svg');
				} @else {
					background-image: url('/assets/icons/light/control-play.svg');
				}
			}

			.pause {
				@if (isTheme('dark')) {
					background-image: url('/assets/icons/dark/control-pause.svg');
				} @else {
					background-image: url('/assets/icons/light/control-pause.svg');
				}
			}

			.step {
				@if (isTheme('dark')) {
					background-image: url('/assets/icons/dark/angle-right.svg');
				} @else {
					background-image: url('/assets/icons/light/angle-right.svg');
				}
			}

			.stop {
				@if (isTheme('dark')) {
					background-image: url('/assets/icons/dark/control-stop.svg');
				} @else {
					background-image: url('/assets/icons/light/control-stop.svg');
				}
			}

			.target-clock-speed {
				@if (isTheme('dark')) {
					background-image: url('/assets/icons/dark/speed_limit.svg');
				} @else {
					background-image: url('/assets/icons/light/speed_limit.svg');
				}
			}

			.sync-to-frame-rate {
				@if (isTheme('dark')) {
					background-image: url('/assets/icons/dark/speed_sync.svg');
				} @else {
					background-image: url('/assets/icons/light/speed_sync.svg');
				}
			}

			.target-tick-rate,
			.thread-count {
				outline: none;
				border: none;
				margin-left: 0.2rem;
				padding: 0.25rem;
				font-size: 0.9rem;
				width: 5rem;
				height: 70%;
				border-bottom: 1px solid themed('text-primary');
				color: themed('text-primary');
				background-color: themed('background');
			}
		}
	}

	.toolbar-end {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		font-size: 1.2rem;
		padding-right: 0.7rem;
		flex: auto;

		div {
			display: flex;
			align-items: center;
			height: 100%;

			&:hover {
				cursor: pointer;
			}

			p {
				margin: 0 0 0 0.25rem;
				display: block ruby;
				line-height: 100%;
			}

			img {
				height: 100%;
				padding: 0.5rem 0;
			}
		}
	}
}
