<form
	[formGroup]="newCompForm"
	(ngSubmit)="fromSubmitClick()"
	class="new-component-form"
	autocomplete="off"
>
	<app-input
		[label]="'POPUP.NEW_COMP.NAME' | translate"
		formControlName="name"
		type="text"
		[helpTooltip]="'POPUP.NEW_COMP.NAME_INFO' | translate"
	>
		<app-input-error error="required">{{
			'POPUP.NEW_COMP.NAME_REQUIRED' | translate
		}}</app-input-error>
		<app-input-error error="maxlength">{{
			'POPUP.NEW_COMP.NAME_MAX_LENGTH' | translate
		}}</app-input-error>
	</app-input>
	<app-input
		[label]="'POPUP.NEW_COMP.SYMBOL' | translate"
		formControlName="symbol"
		type="text"
		[helpTooltip]="'POPUP.NEW_COMP.SYMBOL_INFO' | translate"
	>
		<app-input-error error="required">{{
			'POPUP.NEW_COMP.SYMBOL_REQUIRED' | translate
		}}</app-input-error>
		<app-input-error error="maxlength">{{
			'POPUP.NEW_COMP.SYMBOL_MAX_LENGTH' | translate
		}}</app-input-error>
	</app-input>
	<app-input
		[label]="'POPUP.NEW_COMP.DESCRIPTION' | translate"
		formControlName="description"
		type="text"
		[helpTooltip]="'POPUP.NEW_COMP.DESCRIPTION_INFO' | translate"
	>
		<app-input-error error="maxlength">{{
			'POPUP.NEW_COMP.DESCRIPTION_MAX_LENGTH' | translate
		}}</app-input-error>
	</app-input>

	<p class="explanation">
		{{ 'POPUP.NEW_COMP.PUBLIC_EXPLANATION' | translate }}
	</p>

	<div class="public-switch">
		<p>{{ 'POPUP.NEW_COMP.PUBLIC' | translate }}</p>
		<app-switch formControlName="public"></app-switch>
	</div>

	<button
		type="submit"
		class="btn-raised primary"
		[disabled]="newCompForm.invalid"
	>
		{{ 'POPUP.NEW_COMP.CREATE' | translate }}
	</button>
</form>
