@import 'themes';
@import 'variables';

.dropdown {
	position: absolute;
	z-index: 200;
	width: max-content;
	min-width: 20rem;
	display: flex;
	flex-direction: column;
	right: 0;
	top: $top-bar-height;

	&.hidden {
		display: none;
	}

	@include themify() {
		background-color: themed('background');
		color: themed('text-primary');
		border: border('width') solid themed('accent2');
		border-radius: border('radius');

		.switch {
			justify-content: space-between;
		}

		.select {
			justify-content: space-between;

			select {
				width: 40%;
				font-size: 0.9rem;
				outline: none;
				border: none;
				border-bottom: 1px solid themed('text-primary');
				color: themed('text-primary');
				background-color: themed('background');
			}
		}

		.item {
			display: flex;
			flex-direction: row;
			align-items: center;
			height: 3rem;
			padding: 0.5rem 1rem;
			text-decoration: none;

			img {
				height: 100%;
				margin-right: 1rem;
			}
		}

		.link {
			cursor: pointer;

			&:hover {
				background-color: themed('accent2');
			}
		}

		.new-version {
			color: themed('text-primary');
			background-color: themed('primary');

			&:hover {
				background-color: darken(themed('primary'), 5%);
				color: themed('text-primary');
			}
		}

		hr {
			width: 100%;
			margin: auto;
			border-width: 0;
			border-bottom-width: 1px;
			border-style: solid;

			border-color: themed('accent2');
		}
	}
}
