@import "variables";
@import "themes";

#top-bar {
	@include themify() {
		background-color: themed('primary');
		color: black;
	}

	width: 100%;
	height: $top-bar-height;
	user-select: none;

	display: flex;

	.background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0);
		z-index: 100;
	}

	a {
		img {
			height: 100%;
		}

		padding: 0.7rem;
		height: 100%;
	}

	// #!if ELECTRON === 'true'
	img {
		-webkit-app-region: drag;
		height: 50%;
		align-self: center;
		margin: 0 0.5rem 0 0.5rem;
	}
	// #!endif

	.main-menu {
		// #!web
		height: 90%;

		// #!electron
		height: 100%;

		display: grid;
		align-self: center;

		// #!web
		grid-template-rows: auto #{$top-bar-height / 2.5};

		.project-title {
			font-size: 1.2rem;
            padding-left: 0.17rem;
			margin: 0;
			align-self: end;
		}

		.menu-entries {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			position: relative;

			div {
				// #!electron
				height: 100%;

				p {
					height: 100%;

					// #!electron
					line-height: $top-bar-height;

					// #!web
					padding: 0.1rem 0.2rem 0.1rem 0.2rem;
					// #!electron
					padding: 0rem 0.2rem 0rem 0.2rem;

					margin: 0 0.5rem 0 0;
					border-top-right-radius: border('radius');
					border-top-left-radius: border('radius');

					&:hover {
						cursor: pointer;
						@include themify() {
							background-color: themed('secondary');
							color: themed('primary-text');
						}
					}
				}

				z-index: 200;
			}
		}
	}

	.top-bar-end {
		-webkit-app-region: drag;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;

		.electron-project-name {
			height: 100%;
			margin: 0;
			text-align: center;
			flex-grow: 1;
			line-height: $top-bar-height;
		}

		.login-register {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-end;
			-webkit-app-region: no-drag;

			p {
				// #!web
				font-size: 1.2rem;
				margin: 0;
			}

			.login, .register {
				&:hover {
					cursor: pointer;
				}
			}

			.divider {
				border-left: 1px solid black;
				height:  $toolbar-height - 25px;
				padding: 0;
				margin-right: 1rem;
				margin-left: 1rem;
			}

			.settings {
				// #!if ELECTRON === 'true'
				height: $top-bar-height  / 1.5;
				width: $top-bar-height / 1.5;
				// #!else
				height: $top-bar-height / 2;
				width: $top-bar-height / 2;
				// #!endif

				border: none;
				cursor: pointer;
				padding: 0;
				margin-right: 0.7rem;
				margin-left: 0.7rem;
				outline: none;
				background-size: cover;

				background-image: url('/assets/icons/light/settings.svg');

				@include themify() {
					background-color: themed('primary');
				}
			}
		}

		.window-buttons {
			display: flex;
			flex-direction: row;
			-webkit-app-region: no-drag;

			.minimize {
				width: $top-bar-height;
				height: $top-bar-height;
				background-color: #efefef;
			}
			.maximize {
				width: $top-bar-height;
				height: $top-bar-height;
				background-color: #5D5D5D;
			}
			.close {
				width: $top-bar-height;
				height: $top-bar-height;
				background-color: red;
			}
		}
	}
}
