<div id="top-bar">

	<a href="https://logigator.com/" target="_blank" rel="noopener"><img src="/assets/logo.svg"></a>

	<div class="main-menu">
		<p class="project-title">Projekttitel</p>
		<div class="menu-entries">
			<div>
				<p (mouseover)="dropdownHover('fileDropdownOpen')" (click)="closeDropdowns(); fileDropdownOpen = true;">File</p>
			</div>
			<app-file-dropdown (requestClosed)="closeDropdowns()" *ngIf="fileDropdownOpen"></app-file-dropdown>
			<div>
				<p (mouseover)="dropdownHover('editDropdownOpen')" (click)="closeDropdowns(); editDropdownOpen = true;">Edit</p>
			</div>
			<app-edit-dropdown (requestClosed)="closeDropdowns()" *ngIf="editDropdownOpen"></app-edit-dropdown>
			<div>
				<p (mouseover)="dropdownHover('viewDropdownOpen')" (click)="closeDropdowns(); viewDropdownOpen = true;">View</p>
			</div>
			<app-view-dropdown (requestClosed)="closeDropdowns()" *ngIf="viewDropdownOpen"></app-view-dropdown>
			<div>
				<p (mouseover)="dropdownHover('helpDropdownOpen')" (click)="closeDropdowns(); helpDropdownOpen = true;">Help</p>
			</div>
			<app-help-dropdown (requestClosed)="closeDropdowns()" *ngIf="helpDropdownOpen"></app-help-dropdown>
		</div>
	</div>

	<div class="login-register">
		<p class="login">Login</p>
		<div class="divider"></div>
		<p class="register">Register</p>
		<div (click)="closeDropdowns(); settingsDropdownOpen = true;" class="settings"></div>
		<app-settings-dropdown (requestClosed)="closeDropdowns()" *ngIf="settingsDropdownOpen"></app-settings-dropdown>
	</div>

</div>
