<form [formGroup]="newCompForm" (ngSubmit)="fromSubmitClick()" class="new-component-form" autocomplete="off">
	<label for="new-component-form-name">{{'POPUP.NEW_COMP.NAME' | translate}}</label>
	<input type="text" name="name" id="new-component-form-name" formControlName="compName">
	<br>

	<label for="new-component-form-symbol">{{'POPUP.NEW_COMP.SYMBOL' | translate}}</label>
	<input type="text" name="symbol" id="new-component-form-symbol" formControlName="compSymbol">
	<br>

	<button type="submit" [disabled]="newCompForm.invalid">Create</button>
</form>
