<form [formGroup]="newCompForm" (ngSubmit)="fromSubmitClick()" class="new-component-form" autocomplete="off">
	<app-input [label]="'POPUP.NEW_COMP.NAME' | translate" formControlName="compName" type="text">
		<app-input-error error="required">{{'POPUP.NEW_COMP.NAME_REQUIRED' | translate}}</app-input-error>
		<app-input-error error="minlength">{{'POPUP.NEW_COMP.NAME_MIN_LENGTH' | translate}}</app-input-error>
		<app-input-error error="maxlength">{{'POPUP.NEW_COMP.NAME_MAX_LENGTH' | translate}}</app-input-error>
		<app-input-error error="pattern">{{'POPUP.NEW_COMP.NAME_PATTERN' | translate}}</app-input-error>
	</app-input>
	<app-input [label]="'POPUP.NEW_COMP.SYMBOL' | translate" formControlName="compSymbol" type="text">
		<app-input-error error="required">{{'POPUP.NEW_COMP.SYMBOL_REQUIRED' | translate}}</app-input-error>
		<app-input-error error="maxlength">{{'POPUP.NEW_COMP.SYMBOL_MAX_LENGTH' | translate}}</app-input-error>
		<app-input-error error="pattern">{{'POPUP.NEW_COMP.SYMBOL_PATTERN' | translate}}</app-input-error>
	</app-input>
	<button type="submit" class="btn-raised primary" [disabled]="newCompForm.invalid">{{'POPUP.NEW_COMP.CREATE' | translate}}</button>
</form>
