@import 'themes';

.open-project {
	margin: 1rem 1.5rem;

	.open-button {
		height: 2rem;
	}

	.open-server {
		margin-top: 1rem;

		.table-header {
			margin-top: -1rem;

			p {
				font-weight: 600;
			}
		}

		.not-found {
			margin-top: -1.5rem;
			text-align: center;
		}

		.single-project-server {
			display: flex;
			flex-direction: row;
			align-items: center;
			margin-bottom: 0.25rem;

			p {
				margin-top: 0.25rem;
				margin-bottom: 0.25rem;
			}
		}

		.name {
			min-width: 7rem;
		}

		.last-edit {
			flex: 1;
		}

		.pagination-buttons {
			display: flex;
			justify-content: center;

			button {
			}
			.is-active {
				@include themify() {
					background-color: themed('primary');
					border-color: themed('primary');
					color: #000000;

					&:hover {
						background-color: rgba(themed('primary'), 0.7);
					}

					&:active {
						background-color: themed('primary');
					}
				}
			}
		}
	}

	.open-share {
		display: flex;
		flex-direction: row;
		padding-top: 0.2rem;

		app-input {
			flex-grow: 1;
			margin-right: 1rem;
		}
	}

	.open-file-headline {
		margin-top: 0;
	}

	.file-upload {
		display: flex;
		flex-direction: column;
		width: 100%;

		app-file-input {
			width: 100%;
			height: 5rem;
		}

		div {
			display: flex;
			justify-content: space-between;
			margin-top: 0.83rem;
			align-items: center;

			p {
				margin: 0;
			}
		}
	}
}
