<div class="dropdown">
	<div (click)="zoomIn()">
		{{ 'DROPDOWN.VIEW.ZOOM_IN' | translate }}
		<span>{{ 'zoomIn' | shortcutText }}</span>
	</div>
	<div (click)="zoomOut()">
		{{ 'DROPDOWN.VIEW.ZOOM_OUT' | translate }}
		<span>{{ 'zoomOut' | shortcutText }}</span>
	</div>
	<div (click)="zoom100()">
		{{ 'DROPDOWN.VIEW.100' | translate }}
		<span>{{ 'zoom100' | shortcutText }}</span>
	</div>
	<hr />
	<div (click)="fullscreen()">
		{{ 'DROPDOWN.VIEW.FULLSCREEN' | translate }}
		<span>{{ 'fullscreen' | shortcutText }}</span>
	</div>
</div>
