<div id="app-root" #appRoot>
	<app-top-bar></app-top-bar>
	<app-toolbar></app-toolbar>
	<div class="main-area" [class.simulation-mode]="isSimulationMode">
		<app-construction-box *ngIf="!isSimulationMode"></app-construction-box>
		<app-work-area-container></app-work-area-container>
	</div>
	<app-settings-info-box *ngIf="showSettingsInfoBox"
	                       [selectedCompTypeId]="selectedCompTypeId"
	                       [selectedCompId]="selectedCompId"
	                       [selectionMode]="selectionMode">
	</app-settings-info-box>
</div>
