@import 'primeng/resources/primeng.css';
@import './styles/theme/theme';

@import 'primeflex/primeflex.css';

@import '@phosphor-icons/web/regular';

body {
	margin: 0;
	padding: 0;
	background-color: var(--surface-500);
}
