@if (componentSettings(); as settings) {
  <lg-card
    [class]="floating() ? 'absolute m-2 bottom-0 left-0 max-w-96' : 'block'"
  >
    <ng-template #title>
      <span class="flex items-center gap-2 flex-wrap">
        <span>{{ text(settings.name) }}</span>
        @if (settings.source; as source) {
          <app-source-indicator [source]="source" />
        }
      </span>
    </ng-template>
    <ng-template #subtitle>{{ text(settings.description) }}</ng-template>
    <form class="flex flex-col gap-2">
      <div class="flex gap-4 items-center justify-between">
        <label [for]="directionInputId">{{
          text('components.options.direction')
        }}</label>
        <lg-select-button
          [id]="directionInputId"
          optionLabel="label"
          optionValue="value"
          optionIcon="icon"
          [allowEmpty]="false"
          [options]="directionChoices"
          [ngModel]="settings.direction"
          [ngModelOptions]="{ standalone: true }"
          (ngModelChange)="settings.commitDirection($event)"
        />
      </div>
      @for (o of options(); track o.key) {
        <ng-container
          *ngComponentOutlet="
            o.option.renderer;
            inputs: { option: o.option, commit: o.commit }
          "
        ></ng-container>
      }
      @if (settings.context; as ctx) {
        @if (settings.actions.length > 0) {
          @for (action of settings.actions; track $index) {
            <ng-container
              *ngComponentOutlet="action.renderer; inputs: { context: ctx }"
            ></ng-container>
          }
        }
      }
    </form>
  </lg-card>
}
