@import "themes";

.share {
	max-width: 30rem;
	padding: 1rem;

	.explanation {
		margin: 0 0 1rem;
	}

	.public-switch {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0.5rem 0 1rem;

		> p {
			margin: 0;
		}
	}

	.link-head {
		margin: 1rem 0 0.5rem;
	}

	.link {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0.5rem 0;

		> p {
			@include scrollbar(0, 3px);

			overflow: scroll;
			margin: 0 0.5rem 0 0;
			height: 1.5rem;
			white-space: nowrap;
		}
	}

	.link-regenerate {
		white-space: nowrap;
		margin-left: 0.5rem;
	}

	.regenerate-warn {
		margin-top: 0.5rem;
		margin-bottom: 1rem;
	}

	.buttons {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
	}

	.cancel {
		padding: 0.7rem !important;
		margin-right: 0.5rem;
	}

	.submit {
		padding: 0.7rem !important;
		margin-left: 0.5rem;
		min-width: 4rem;
	}
}
