<div class="dropdown">
	<div (click)="undo()">
		{{ 'DROPDOWN.EDIT.UNDO' | translate }}
		<span>{{ 'undo' | shortcutText }}</span>
	</div>
	<div (click)="redo()">
		{{ 'DROPDOWN.EDIT.REDO' | translate }}
		<span>{{ 'redo' | shortcutText }}</span>
	</div>
	<hr />
	<div (click)="copy()">
		{{ 'DROPDOWN.EDIT.COPY' | translate }}
		<span>{{ 'copy' | shortcutText }}</span>
	</div>
	<div (click)="paste()">
		{{ 'DROPDOWN.EDIT.PASTE' | translate }}
		<span>{{ 'paste' | shortcutText }}</span>
	</div>
	<div (click)="cut()">
		{{ 'DROPDOWN.EDIT.CUT' | translate }}
		<span>{{ 'cut' | shortcutText }}</span>
	</div>
	<hr />
	<div (click)="delete()">
		{{ 'DROPDOWN.EDIT.DELETE' | translate }}
		<span>{{ 'delete' | shortcutText }}</span>
	</div>
	<ng-container *ngIf="istCustomComponent">
		<hr />
		<div (click)="plugs()">
			{{ 'DROPDOWN.EDIT.PLUGS' | translate }}
			<span>{{ 'editPlugs' | shortcutText }}</span>
		</div>
	</ng-container>
</div>
