<div class="partial-account-nav">
	<div class="partial-account-nav__link">
		<a href="{{linkHref 'my/account/profile'}}">
			<p>Profile</p>
		</a>
	</div>
	<div class="partial-account-nav__link">
		<a href="{{linkHref 'my/account/security'}}">
			<p>Security</p>
		</a>
	</div>
	<div class="partial-account-nav__link">
		<a href="{{linkHref 'my/account/delete'}}">
			<p>Delete Account</p>
		</a>
	</div>
</div>
