<div class="partial-account-mobile-nav">
	{{#if showBack}}
		<a class="partial-account-mobile-nav__back-link" href="{{linkHref '/my/account'}}">
			{{> icon icon='angle-right' alt='Back' class='partial-account-mobile-nav__back' }}
		</a>
	{{/if}}
	<div class="partial-account-mobile-nav__title">
		<p>{{title}}</p>
	</div>
</div>
