<div class="partial-cookie-consent">

	<p class="partial-cookie-consent__message">
		{{i18n.COOKIE_CONSENT.MESSAGE}}
		<a href="{{linkHref '/privacy-policy'}}">{{i18n.COOKIE_CONSENT.LINK}}</a>
	</p>
	<button class="btn-outline primary partial-cookie-consent__btn">{{i18n.COOKIE_CONSENT.DISMISS}}</button>

</div>
