<footer class="partial-footer">
	<a class="partial-footer__link" href="/privacy-policy">Privacy Policy</a>
	<a class="partial-footer__link" href="/imprint">Imprint</a>
	<a class="partial-footer__link" href="https://github.com/logigator/logigator-development-distribution" target="_blank" rel="noopener">Contribute</a>
</footer>
