<!-- parameters: action: string, method: string, class: string -->

{{#formNameScope action }}
	<form class="partial-form {{class}}" action="{{action}}" method="{{ternary method method 'POST'}}" name="{{@formName}}">

		{{> @partial-block }}
	</form>
{{/formNameScope}}

