<!-- parameters: action: string, method: string -->

<form class="partial-form" action="{{action}}" method="{{ternary method method 'POST'}}" name="{{formName action}}">

	<input type="hidden" name="submittedFrom" value="/">

	{{> @partial-block }}
</form>
