<!-- parameters: message: string, error: string, clientValData: string -->

<div class="partial-form-error {{#formFieldError error}}is-shown{{/formFieldError}}" data-error="{{error}}" {{#if clientValData}}data-val-data="{{clientValData}}"{{/if}}>{{message}}</div>
