{{#> popup title=i18n.POPUP.LOGIN.TITLE  defaultOpen=formErrors.auth_local-login triggers='.partial-site-header__btn-login::.partial-burger-menu__login'}}
	<div class="partial-login-register-popup">
		<h3 class="partial-login-register-popup__headline">{{i18n.POPUP.LOGIN.HEADLINE}}</h3>

		{{#> form action='/auth/local-login'}}
			{{#> form-input name='email' type='email' label=i18n.POPUP.LOGIN.EMAIL}}
				{{> form-error error='isNotEmpty' message=i18n.POPUP.LOGIN.EMAIL_ERR_REQUIRED }}
				{{> form-error error='noUser' message=i18n.POPUP.LOGIN.EMAIL_ERR_NO_USER }}
				{{> form-error error='notVerified' message=i18n.POPUP.LOGIN.EMAIL_ERR_NOT_VERIFIED }}
			{{/form-input}}
			{{#> form-input name='password' type='password' label=i18n.POPUP.LOGIN.PASSWORD}}
				{{> form-error error='isNotEmpty' message=i18n.POPUP.LOGIN.PASSWORD_ERR_REQUIRED }}
				{{> form-error error='invalid' message=i18n.POPUP.LOGIN.PASSWORD_ERR_INVALID }}
			{{/form-input}}

			{{#> form-general-errors}}
				{{> form-error error='emailTaken' message=i18n.POPUP.LOGIN.ERR_EMAIL_TAKEN }}
				{{> form-error error='verificationMail' message=i18n.POPUP.LOGIN.ERR_VERIFICATION_MAIL }}
			{{/form-general-errors}}

			{{#formFieldNameScope 'email' }}
				{{#formFieldError 'notVerified'}}
					<div class="partial-login-register-popup__resend-container">
						<button class="btn-outline secondary" type="submit" formaction="/auth/resend-verification-mail">{{i18n.POPUP.LOGIN.RESEND_BUTTON}}</button>
					</div>
				{{/formFieldError}}
			{{/formFieldNameScope}}

			<button type="submit" class="btn-raised primary partial-login-register-popup__submit">{{i18n.POPUP.LOGIN.LOGIN_BUTTON}}</button>
		{{/form}}

		<div class="partial-login-register-popup__divider">
			<div class="divider"></div>
			<div>{{i18n.POPUP.LOGIN.OR}}</div>
			<div class="divider"></div>
		</div>

		<div class="partial-login-register-popup__social-media">
			<a class="btn-raised primary partial-login-register-popup__google" href="/auth/google-login">
				GOOGLE
				<img class="btn-raised secondary" src="assets/icons/dark/google.svg" alt="google login icon">
			</a>
			<a class="btn-raised primary partial-login-register-popup__twitter" href="/auth/twitter-login">
				TWITTER
				<img class="btn-raised secondary"src="assets/icons/dark/twitter.svg" alt="twitter login icon">
			</a>
		</div>
	</div>
{{/popup}}
