<!-- parameters: title: string, defaultOpen: boolean, triggers: selectors separated with :: ex. .class1::.class2, jsFunction: string - for dynamic popups -->

<div class="partial-popup {{printIf defaultOpen 'is-open'}}" data-triggers="{{triggers}}" {{#if jsFunction}}data-js="{{jsFunction}}"{{/if}}>
	<div class="partial-popup__popup">
		<div class="partial-popup__header">
			<div class="partial-popup__title">{{title}}</div>
			{{> icon icon='close' alt='Close' class='partial-popup__close partial-popup__close-style' }}
		</div>
		<div class="partial-popup__body">
			{{> @partial-block }}
		</div>
	</div>
</div>
