{{#> popup title=i18n.POPUP.REGISTER.TITLE  defaultOpen=formErrors.auth_local-register triggers='.partial-site-header__btn-register::.partial-burger-menu__register'}}
	<div class="partial-login-register-popup">
		<h3 class="partial-login-register-popup__headline">{{i18n.POPUP.REGISTER.HEADLINE}}</h3>

		{{#> form action='/auth/local-register'}}

			{{#> form-input name='email' type='email' label=i18n.POPUP.REGISTER.EMAIL autocomplete='email'}}
				{{> form-error error='isNotEmpty' message=i18n.POPUP.REGISTER.EMAIL_ERR_REQUIRED }}
				{{> form-error error='isEmail' message=i18n.POPUP.REGISTER.EMAIL_ERR_INVALID }}
				{{> form-error error='emailTaken' message=i18n.POPUP.REGISTER.EMAIL_ERR_TAKEN }}
			{{/form-input}}

			{{#> form-input name='password' type='password' label=i18n.POPUP.REGISTER.PASSWORD autocomplete='new-password'}}
				{{> form-error error='isNotEmpty' message=i18n.POPUP.REGISTER.PASSWORD_ERR_REQUIRED }}
				{{> form-error error='minLength' message=i18n.POPUP.REGISTER.PASSWORD_ERR_MIN clientValData='8' }}
				{{> form-error error='matches' message=i18n.POPUP.REGISTER.PASSWORD_ERR_COMPLEXITY clientValData='^(?=.*[A-Za-z])(?=.*[0-9]).*$' }}
			{{/form-input}}

			{{#> form-input name='password_repeat' type='password' label=i18n.POPUP.REGISTER.PASSWORD_REPEAT autocomplete='new-password'}}
				{{> form-error error='isNotEmpty' message=i18n.POPUP.REGISTER.PASSWORD_REPEAT_ERR_REQUIRED }}
				{{> form-error error='matchesProperty' message=i18n.POPUP.REGISTER.PASSWORD_REPEAT_ERR clientValData='password' }}
			{{/form-input}}

			{{#> form-input name='username' type='text' label=i18n.POPUP.REGISTER.USERNAME autocomplete='username'}}
				{{> form-error error='isNotEmpty' message=i18n.POPUP.REGISTER.USERNAME_ERR_REQUIRED }}
				{{> form-error error='minLength' message=i18n.POPUP.REGISTER.USERNAME_ERR_MIN clientValData='2'}}
				{{> form-error error='maxLength' message=i18n.POPUP.REGISTER.USERNAME_ERR_MAX clientValData='20' }}
				{{> form-error error='matches' message=i18n.POPUP.REGISTER.USERNAME_ERR_PATTERN clientValData='^[a-zA-Z0-9_-]+$' }}
			{{/form-input}}

			{{#> form-general-errors}}
				{{> form-error error='verificationMail' message=i18n.POPUP.REGISTER.ERR_VERIFICATION_MAIL }}
				{{> form-error error='unknown' message=i18n.POPUP.REGISTER.ERR_UNKNOWN }}
			{{/form-general-errors}}

			<p class="partial-login-register-popup__agreement"> {{i18n.POPUP.REGISTER.PRIVACY_POLICY}} </p>

			<button type="submit" class="btn-raised primary partial-login-register-popup__submit">{{i18n.POPUP.REGISTER.REGISTER_BUTTON}}</button>
		{{/form}}

		<div class="partial-login-register-popup__divider">
			<div class="divider"></div>
			<div>{{i18n.POPUP.LOGIN.OR}}</div>
			<div class="divider"></div>
		</div>

		<div class="partial-login-register-popup__social-media">
			<a class="btn-raised primary partial-login-register-popup__google" href="/auth/google-login">
				GOOGLE
				<img class="btn-raised secondary" src="assets/icons/dark/google.svg" alt="google login icon">
			</a>
			<a class="btn-raised primary partial-login-register-popup__twitter" href="/auth/twitter-login">
				TWITTER
				<img class="btn-raised secondary"src="assets/icons/dark/twitter.svg" alt="twitter login icon">
			</a>
		</div>
	</div>
{{/popup}}
