<div class="partial-login-register-form">
	<h3 class="partial-login-register-form__headline">{{i18n.REQUEST_PASSWORD_RESET_FORM.HEADLINE}}</h3>

	{{#> form action='/auth/send-password-reset-mail' }}
		{{#> form-input name='email' type='email' label=i18n.REQUEST_PASSWORD_RESET_FORM.EMAIL autocomplete='email'}}
			{{> form-error error='isNotEmpty' message=i18n.REQUEST_PASSWORD_RESET_FORM.EMAIL_ERR_REQUIRED }}
			{{> form-error error='isEmail' message=i18n.REQUEST_PASSWORD_RESET_FORM.EMAIL_ERR_INVALID }}
			{{> form-error error='noUser' message=i18n.REQUEST_PASSWORD_RESET_FORM.EMAIL_ERR_NO_USER }}
		{{/form-input}}

		{{#> form-general-errors}}
			{{> form-error error='resetMail' message=i18n.REQUEST_PASSWORD_RESET_FORM.ERR_RESET_MAIL }}
			{{> form-error error='unknown' message=i18n.REQUEST_PASSWORD_RESET_FORM.ERR_UNKNOWN }}
		{{/form-general-errors}}

		<button type="submit" class="btn-raised primary partial-login-register-form__submit">{{i18n.REQUEST_PASSWORD_RESET_FORM.SUBMIT}}</button>
	{{/form}}
</div>
