{{! parameters: token: string }}

<div class="partial-login-register-form">
	<h3 class="partial-login-register-form__headline">{{i18n.RESET_PASSWORD_FORM.HEADLINE}}</h3>

	{{#> form action='/auth/reset-password' class='view-my-account-security__password-form' }}

		{{#> form-input name='password' type='password' label=i18n.RESET_PASSWORD_FORM.PASSWORD autocomplete='new-password'}}
			{{> form-error error='isNotEmpty' message=i18n.RESET_PASSWORD_FORM.PASSWORD_ERR_REQUIRED }}
			{{> form-error error='minLength' message=i18n.RESET_PASSWORD_FORM.PASSWORD_ERR_MIN clientValData='8' }}
			{{> form-error error='matches' message=i18n.RESET_PASSWORD_FORM.PASSWORD_ERR_COMPLEXITY clientValData='^(?=.*[A-Za-z])(?=.*[0-9]).*$' }}
		{{/form-input}}

		{{#> form-input name='password_repeat' type='password' label=i18n.RESET_PASSWORD_FORM.PASSWORD_REPEAT autocomplete='new-password'}}
			{{> form-error error='isNotEmpty' message=i18n.RESET_PASSWORD_FORM.PASSWORD_REPEAT_ERR_REQUIRED }}
			{{> form-error error='matchesProperty' message=i18n.RESET_PASSWORD_FORM.PASSWORD_REPEAT_ERR clientValData='password' }}
		{{/form-input}}

		{{#> form-general-errors}}
			{{> form-error error='tokenInvalid' message=i18n.RESET_PASSWORD_FORM.ERR_TOKEN_INVALID }}
			{{> form-error error='unknown' message=i18n.RESET_PASSWORD_FORM.ERR_UNKNOWN }}
		{{/form-general-errors}}

		<input type="hidden" name="token" value="{{token}}">

		<button type="submit" class="btn-raised primary view-my-account-security__password-save">{{i18n.RESET_PASSWORD_FORM.SUBMIT}}</button>

	{{/form}}
</div>
