<div class="partial-site-header">
	<div class="partial-site-header__left">
		<a href="/" class="partial-site-header__logo">
			<img alt="Logigator" src="/assets/logo.svg">
		</a>

		<div class="partial-site-header__links">
			<a href="/features">Features</a>
			<a href="/download">Download</a>
			<a href="/my/projects">Projects</a>
			<a href="/my/components">Components</a>
		</div>
	</div>

	<div class="partial-site-header__right">
		<button class="btn-outline secondary partial-site-header__btn-login">Login</button>
		<button class="btn-outline secondary partial-site-header__btn-login">Register</button>
		<div class="partial-site-header__more"></div>
	</div>
</div>
