<div class="share">
	<div class="switch-container">
		<h3>Share this project with others</h3>
		<app-switch [(ngModel)]="sharing"></app-switch>
	</div>
	<div class="switch-container" *ngIf="sharing">
		<h3>Public Share</h3>
		<app-switch [(ngModel)]="public"></app-switch>
	</div>
	<div [hidden]="sharing && !public">
		<p class="email-info">{{'POPUP.SHARE.INFO_TEXT' | translate}}</p>
		<form class="add-email" [formGroup]="addEmailFrom" (ngSubmit)="addEmail()">
			<app-input [label]="'POPUP.SHARE.EMAIL' | translate" formControlName="email"></app-input>
			<button class="btn-outline primary" type="submit" [disabled]="addEmailFrom.invalid">Add</button>
		</form>
		<div class="added-emails">
			<div class="added-mail-row" *ngFor="let mail of addedEmails; index as i;">
				<p>{{mail}}</p>
				<button class="btn-outline danger" (click)="removeMail(i)">Remove</button>
			</div>
		</div>
	</div>
	<h3 class="link-headline">Link to share:</h3>
	<div class="link">
		<p>{{link}}</p>
		<button class="btn-outline primary">Copy</button>
	</div>
	<div class="bottom-btns">
		<button class="btn-raised primary">Save Settings</button>
		<button class="btn-raised danger">Cancel</button>
	</div>
</div>
