<form class="flex flex-col gap-4" (ngSubmit)="save()">
  <div class="flex flex-col gap-1">
    <label for="save-project-name">Name</label>
    <input
      pInputText
      id="save-project-name"
      type="text"
      [maxlength]="nameMaxLength"
      [ngModel]="name()"
      (ngModelChange)="name.set($event)"
      [ngModelOptions]="{ standalone: true }"
    />
  </div>
  <div class="flex flex-col gap-1">
    <span>Destination</span>
    <div class="flex gap-4 items-center">
      <label class="flex gap-2 items-center">
        <input
          type="radio"
          name="save-project-destination"
          value="server"
          [ngModel]="destination()"
          (ngModelChange)="destination.set($event)"
          [ngModelOptions]="{ standalone: true }"
        />
        Server
      </label>
      <label class="flex gap-2 items-center">
        <input
          type="radio"
          name="save-project-destination"
          value="local"
          [ngModel]="destination()"
          (ngModelChange)="destination.set($event)"
          [ngModelOptions]="{ standalone: true }"
        />
        Local
      </label>
    </div>
  </div>
  @if (destination() === 'server') {
    <div class="flex gap-2 items-center">
      <p-checkbox
        inputId="save-project-public"
        [binary]="true"
        [ngModel]="isPublic()"
        (ngModelChange)="isPublic.set($event)"
        [ngModelOptions]="{ standalone: true }"
      />
      <label for="save-project-public">Public</label>
    </div>
  }
  <div class="flex justify-end">
    <p-button type="submit" label="Save" [disabled]="!canSave" />
  </div>
</form>
