<div class="dropdown">
	<div (click)="newProject()">
		{{'DROPDOWN.FILE.NEW_PROJECT' | translate}}
	</div>
	<div (click)="newComponent()">
		{{'DROPDOWN.FILE.NEW_COMPONENT' | translate}}
		<span>{{'newComp' | shortcutText}}</span>
	</div>
	<hr>
	<div (click)="openProject()">
		{{'DROPDOWN.FILE.OPEN' | translate}}
	</div>
	<div (click)="saveProject()">
		{{'DROPDOWN.FILE.SAVE' | translate}}
		<span>{{'save' | shortcutText}}</span>
	</div>
	<div (click)="exportProject()">
		{{'DROPDOWN.FILE.EXPORT' | translate}}
	</div>
	<hr>
	<ng-container *ngIf="canShare">
		<div (click)="shareProject()">
			{{'DROPDOWN.FILE.SHARE' | translate}}
		</div>
		<hr>
	</ng-container>
	<div (click)="screenshot()">
		{{'DROPDOWN.FILE.SCREENSHOT' | translate}}
	</div>
</div>
