<app-title-bar></app-title-bar>
<app-tool-bar class="border-bottom-1 border-white-alpha-20"></app-tool-bar>
<div class="flex flex-grow-1">
	<app-side-bar
		class="w-20rem border-right-1 border-white-alpha-20"
	></app-side-bar>
	<div class="flex-grow-1 flex flex-column">
		<div class="relative flex-grow-1">
			<app-board
				class="block w-full h-full"
				(positionChange)="boardPosition.set($event)"
			></app-board>
			<app-component-settings
				class="absolute m-2 bottom-0 right-0"
			></app-component-settings>
		</div>
		<app-status-bar [boardPosition]="boardPosition()"></app-status-bar>
	</div>
</div>
