<p-confirmpopup />
<app-title-bar></app-title-bar>
<app-tool-bar class="border-b border-white/20"></app-tool-bar>
<div class="flex grow">
	<app-side-bar class="w-80 border-r border-white/20"></app-side-bar>
	<div class="grow flex flex-col">
		<div class="relative grow">
			<app-board
				class="block w-full h-full"
				[project]="projectService.activeProject()"
				(cursorPositionChange)="cursorPosition.set($event)"
			></app-board>
			<p-toast position="bottom-left" class="absolute! -mb-4" />
			@if (componentSettings(); as settings) {
				<p-card
					class="absolute m-2 bottom-0 right-0 max-w-96"
					[header]="text(settings.name)"
					[subheader]="text(settings.description)"
				>
					<app-component-settings
						[config]="settings.options"
					></app-component-settings>
				</p-card>
			}
		</div>
		<app-status-bar [cursorPosition]="cursorPosition()"></app-status-bar>
	</div>
</div>
