<div class="main-area">
	<div id="canvas-container" #pixiCanvasContainer></div>
	<div id="tabs">
		<ng-container *ngFor="let project of allProjects">
			<div class="tab"
			     *ngIf="!isSimulationMode || project.type === 'project'"
			     (click)="switchToProject(project.id)"
			     [class.tab-active]="project.id === activeView?.project.id">
				<p appAutoFontSize desiredFontWidth="170">{{project.name}}</p>
				<span *ngIf="project.type !== 'project'" class="tab-close" (click)="tabCloseClicked(project.id, $event)"></span>
			</div>
		</ng-container>
	</div>
</div>
