@import "themes";
@import "variables";

$search-height: 3.5rem;

#construction-box {
	@include themify() {
		background-color: themed('background');
	}

	height: calc(100vh - #{$page-header-height});
	width: 100%;

	display: flex;
	flex-direction: column;

	#component-search {
		width: $construction-box-width - 0.75rem;
		height: $search-height - 1rem;
		font-size: 0.9rem;
		padding: 1.25rem;
		outline: none;
		border: none;
		border-radius: border('radius');
		margin-left: 0.25rem;
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
		background-position: right;
		background-repeat: no-repeat;
		background-origin: content-box;

		@include themify() {
			background-color: themed('secondary');
			color: themed('primary-text');

			&::placeholder {
				@if(isTheme('dark')) {
					color: darken(themed('inactive'), 10%);
				}
				background-image: url("/assets/icons/search_light.svg");
			} @else {
				background-image: url("/assets/icons/search.svg");
			}
		}
	}

	.scroll-container {
		width: $construction-box-width;
		height: calc(100vh - #{$toolbar-height} - #{$search-height});
		overflow: auto;
		margin: auto;
		overflow-x: hidden;

		@include scrollbar(5px)
	}
}
