@import "themes";
@import "variables";

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300&display=swap');
@import "~@logigator/logigator-shared-comps/styles/main";
@import "~@logigator/logigator-shared-comps/styles/buttons";
@import "toastr";

html, body {
	margin: 0;
	padding: 0;

	height: 100%;
	width: 100%;

	overflow: hidden;
}

* {
	font-size: 100%;
}

.grecaptcha-badge {
	display: none !important;
}
