@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~ngx-toastr/toastr-bs4-alert';
@import "variables";
@import "themes";

.toastr-position {
	left: $construction-box-width + 0.5rem;
	bottom: 0.5rem;
}

.ngx-toastr {
	padding: 0.75rem 0.5rem !important;
	border: none !important;
	border-radius: 0 !important;
	background-position: 0.75rem center !important;
	background-size: 1.75rem !important;

	.toast-message {
		margin-left: 2.75rem;
	}
}

@include themify() {
	.toast-error {
		@if isTheme('light') {
			background-image: url("/src/assets/icons/light/alert.svg");
		} @else {
			background-image: url("/src/assets/icons/dark/alert.svg");
		}
		color: themed('primary-text');
		background-color: themed('error');
	}

	.toast-info {
		@if isTheme('light') {
			background-image: url("/src/assets/icons/light/check.svg");
		} @else {
			background-image: url("/src/assets/icons/dark/check.svg");
		}
		color: themed('primary-text');
		background-color: themed('secondary');
	}
}
