<button
  (click)="menu.toggle($event)"
  lgRipple
  class="flex items-center gap-2 px-3 py-2 cursor-pointer rounded transition-colors hover:bg-content-hover hover:text-text"
  [class.bg-content-hover]="menuOpen()"
  [class.text-text]="menuOpen()"
>
  @if (userService.user(); as user) {
    <lg-avatar
      [image]="userImageUrl()"
      [label]="userImageUrl() ? undefined : userInitial()"
      shape="circle"
    />
    <span class="font-medium">{{ user.username }}</span>
  } @else {
    <lg-avatar icon="ph ph-user" shape="circle" />
    <span class="font-medium">Not signed in</span>
  }
  <i class="ph ph-caret-down"></i>
</button>

<lg-menu #menu (onShow)="menuOpen.set(true)" (onHide)="menuOpen.set(false)">
  <ng-template #start>
    <app-user-settings-panel (action)="menu.hide()" />
  </ng-template>
</lg-menu>
