<div class="box">
	<div class="header">
		<h2>{{elemType?.name}}</h2>
	</div>
	<div class="content" [formGroup]="propertiesFrom">
		<div class="property">
			<p>Inputs:</p>
			<input type="number" formControlName="numInputs" min="1">
		</div>
		<div class="property">
			<p>Direction:</p>
			<select formControlName="rotation">
				<option value="0">Left &rarr;</option>
				<option value="1">Down &darr;</option>
				<option value="2">Right &larr;</option>
				<option value="3">Up &uarr;</option>
			</select>
		</div>
		<div class="description">
			<h6>Description:</h6>
			{{elemType?.description}}
		</div>
	</div>
</div>
