@import "themes";
@import "variables";

.box {
	position: absolute;
	right: 0.5rem;
	bottom: 0.5rem;

	width: $settings-info-box-width;
	height: $settings-info-box-height;

	display: grid;
	grid-template-rows: 3rem auto;

	.header {
		height: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		h2 {
			margin: 0;
		}

		@include themify() {
			background-color: themed('toolbar');
			color: themed('primary-text');
		}
	}

	.content {
		@include themify() {
			background-color: themed('boxes-background');
			color: themed('secondary-text');
			border: 4px solid themed('toolbar');
		}
	}
}
