<div class="box">
	<div class="header">
		<h2>{{elemType?.name | translate}}</h2>
	</div>
	<div class="content" [formGroup]="propertiesForm">

		<div class="property" *ngIf="elemType.minInputs !== elemType.maxInputs">
			<p>{{'SETTINGS_INFO.INPUTS' | translate}}:</p>
			<input type="number" formControlName="numInputs" [min]="elemType.minInputs" [max]="elemType.maxInputs" (blur)="resetNumInputsValue()">
		</div>

		<div class="property" *ngIf="!isTextElement">
			<p>{{'SETTINGS_INFO.DIRECTION' | translate}}:</p>
			<select formControlName="rotation">
				<option value="0">{{'SETTINGS_INFO.DIRECTIONS.RIGHT' | translate}} &rarr;</option>
				<option value="1">{{'SETTINGS_INFO.DIRECTIONS.DOWN' | translate}} &darr;</option>
				<option value="2">{{'SETTINGS_INFO.DIRECTIONS.LEFT' | translate}} &larr;</option>
				<option value="3">{{'SETTINGS_INFO.DIRECTIONS.UP' | translate}} &uarr;</option>
			</select>
		</div>

		<div class="property" *ngIf="isPlugElement">
			<p>{{'SETTINGS_INFO.PLUG_INDEX' | translate}}:</p>
			<select formControlName="plugIndex">
				<option *ngFor="let i of possiblePlugIndexes" [value]="i">{{toUserPlugIndex(i)}}</option>
			</select>
		</div>

		<div class="property" formArrayName="options" *ngFor="let item of propertiesForm.get('options').controls; let i = index">
			<p>{{elemType.optionsConfig[i].name | translate}}:</p>
			<input type="number"
			       [formControl]=" getOptionFromControl(i)"
			       [min]="elemType.optionsConfig[i].min"
			       [max]="elemType.optionsConfig[i].max"
			       (blur)="resetOptionsValue(i)">
		</div>

		<div class="description" *ngIf="elemType?.description">
			<h6>{{'SETTINGS_INFO.DESCRIPTION' | translate}}:</h6>
			{{elemType?.description | translate}}
		</div>

		<button class="btn-outline secondary small edit" *ngIf="elemType.category === 'user'" (click)="editComponentClick()">{{'SETTINGS_INFO.EDIT' | translate}}</button>

		<button class="btn-outline secondary small edit" *ngIf="isTextElement" (click)="editTextClick()">{{'SETTINGS_INFO.EDIT' | translate}}</button>
	</div>
</div>
