@import "../config/config";

@include view('download') {

	@include element('section') {
		@include section();

		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}

	@include element('header') {
		display: flex;
		justify-content: center;
		flex-direction: row;
		align-items: center;
		padding: 2rem 0;

		@include media-breakpoint-down('md') {
			flex-direction: column;
		}
	}

	@include element('screenshot') {
		min-width: 450px;
		max-width: 700px;

		> img {
			width: 100%;
		}

		@include media-breakpoint-down('md') {
			width: 100%;
			min-width: unset;
		}
	}

	@include element('description') {
		margin-left: 2rem;

		> h1 {
			font-size: 40px;
			margin-bottom: 0;
			font-weight: normal;
		}

		@include media-breakpoint-down('md') {
			margin-left: 0;
		}
	}

	@include element('platform') {
		display: flex;
		padding: 2rem;
		margin-bottom: 2rem;

		@include themify() {
			background-color: themed('accent2');
		}

		@include media-breakpoint-down('sm') {
			flex-direction: column;

		}
	}

	@include element('platform-img') {
		width: 150px;
		flex-shrink: 0;
		text-align: center;

		> img {
			width: 80%;
		}

		@include media-breakpoint-down('sm') {
			text-align: left;
		}
	}

	@include element('archs') {
		width: 100%;
		padding-left: 2rem;

		@include media-breakpoint-down('sm') {
			padding-left: 0;
		}
	}

	@include element('arch') {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 2rem 0;

		@include themify() {
			border-bottom: 1px solid themed('background');
		}

		&:nth-of-type(1) {
			padding-top: 0;
		}

		&:last-of-type {
			border-bottom: none !important;
			padding-bottom: 0;
		}

		@include media-breakpoint-down('md') {
			flex-direction: column;
			align-items: flex-start;
			text-align: left;
		}
	}

	@include element('arch-filename') {
		> p {
			margin: 0;
		}

		width: 45%;
		word-break: break-all;

		@include media-breakpoint-down('xl') {
			width: unset;
		}

		> * {
			width: 100%;
		}
	}

	@include element('arch-name') {
		margin-bottom: 0.2rem;
	}

	@include element('arch-title') {
		font-size: 24px;
	}

	@include element('arch-date-size') {
		display: none;
		margin-top: 0.5rem !important;

		@include media-breakpoint-down('xl') {
			display: block;
		}

		@include media-breakpoint-down('md') {
			margin: {
				top: 0.5rem !important;
				bottom: 1rem !important;
			};
		}
	}

	@include element('arch-filesize') {
		> p {
			margin: 0;
		}

		@include media-breakpoint-down('xl') {
			display: none;
		}
	}

	@include element('arch-date') {
		> p {
			margin: 0;
		}

		@include media-breakpoint-down('xl') {
			display: none;
		}
	}

	@include element('download-button') {
		font-size: 20px;
	}
}
