@import "../config/config";

@include view('home') {

	@include element('s-intro') {
		@include section('s-intro-content', 1200px);
	}

	@include element('s-intro-logo') {
		width: 100%;
		max-width: 960px;
		display: block;
		margin: auto;
	}

	@include element('s-intro-headline') {
		text-align: center;
		font-size: 40px;
		font-weight: 100;
		margin-top: 2rem;
		margin-bottom: 0;

		@include media-breakpoint-down('lg') {
			font-size: 30px;
		}

		@include media-breakpoint-down('md') {
			margin-top: 1rem;
			font-size: 25px;
		}

		@include media-breakpoint-down('sm') {
			font-size: 20px;
		}
	}

	@include element('s-intro-start') {
		display: flex;
		align-items: center;
		margin: auto;
		margin-top: 3rem;
		max-width: 960px;

		@include media-breakpoint-down('xl') {
			flex-direction: column;
		}

		@include media-breakpoint-down('sm') {
			margin-top: 1rem;
		}
	}

	@include element('s-intro-img') {
		max-width: 600px;
		width: 100%;
	}

	@include element('s-intro-button') {
		flex-grow: 1;
		margin-left: 1rem;
		width: 20rem;

		@include media-breakpoint-down('xl') {
			margin-left: 0;
			margin-top: 1rem;
		}

		@include media-breakpoint-down('md') {
			width: 100%;

		}

		> button {
			width: 100%;
			padding: 1rem 0 !important;
			font-size: 20px;

			@include media-breakpoint-down('md') {
				padding: 0.6rem 0 !important;

			}
		}
	}

	@include element('s-feat') {
		@include section('s-feat-content', 1200px);

		@include themify() {
			background-color: themed('accent2');
		}
	}

}
