@import "../config/config";
@import "../shared/my-account-pages";
@import "../partials/user-space-nav";
@import "../partials/account-nav";
@import "../partials/account-mobile-nav";
@import "../partials/delete-account-popup";

@include view('my-account-delete') {
	@include accountPagesShared();

	@include element('headline') {
		margin: 0;
		font-weight: 400;
	}

	@include element('message') {
		margin-top: 0;
	}

}
