@import "variables";
@import "themes";

.box {
	width: $construction-box-width - 0.75rem;
	margin-left: 0.25rem;
	margin-bottom: 0.8rem;

	.header {
		height: 2.3rem;
		display: flex;
		flex-direction: row;
		align-items: center;
		border-top-left-radius: border('radius');
		border-top-right-radius: border('radius');
		padding: 0.5rem;

		@include themify() {
			background-color: themed('secondary');
			color: themed('primary-text');
		}

		h2 {
			margin: 0;
			font-weight: normal;
			font-size: 1.2rem;
		}
	}

	.content {
		display: grid;
		grid-gap: 0.5rem;
		grid-template-columns: 1fr 1fr 1fr;
		padding: 0.5rem;
		user-select: none;
		border-bottom-left-radius: border('radius');
		border-bottom-right-radius: border('radius');

		@include themify() {
			background-color: themed('background');
			color: themed('primary-text');
			border: border('width') solid themed('secondary');
		}

		.no-components {
			grid-column: 1 / -1;
		}

		.component-to-select {
			height: fit-content;

			div {
				text-align: center;
				position: relative;
				//outline: 1px solid;
				border: 1px solid;
				border-radius: border('radius');
				width: 100%;
				padding-top: 100%;

				p {
					top: calc(50% - 0.2rem);
					left: 0;
					bottom: 0;
					right: 0;
					position: absolute;
					font-size: 1.2rem;
					line-height: 0;
				}
			}

			p {
				text-align: center;
				font-size: 0.9rem;
				margin: 0.25rem 0 0 0;
				word-break: break-word;
			}

			@include themify() {
				border-color: themed('secondary');
				color: themed('primary-text');

				&:hover {
					border-color: themed('secondary');
					color: themed('secondary');
				}
			}
		}

		.active-selected-component {
			@include themify() {
				border-color: themed('primary');
				color: themed('primary');

				&:hover {
					border-color: themed('primary');
					color: themed('primary');
				}
			}
		}
	}
}
