<div class="box">
	<div class="header">
		<h2>{{categoryName | translate}}</h2>
	</div>
	<div class="content">
		<ng-container *ngIf="components.size > 0; else noComponents">
			<ng-container *ngFor="let comp of components | keyvalue; trackBy: componentsTrackBy">
				<div class="component-to-select"
				     *ngIf="comp.key !== 0 && comp.key !== 102 &&
				     (searchText == '' || (isInSearchResult(comp.value.name) | async)) && !isCurrentCustomElement(comp.key)
				     || isHiddenPlug(searchText, comp.key)"
				     (click)="selectComponent(comp.key)"
				     (dblclick)="openComponent(comp.key)"
				     [class.active-selected-component]="currentWorkMode === 'buildComponent' && currentSelectedComponent === comp.key">
					<div>
						<p>{{comp.value.symbol}}</p>
					</div>
					<p>{{comp.value.name | translate}}</p>
				</div>
			</ng-container>
		</ng-container>
	</div>
</div>

<ng-template #noComponents>
	<div class="no-components">There are no components in this category.</div>
</ng-template>
