@import 'styles/themes';

.upload-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 0.5rem;
	padding: 0.5rem;
	width: 100%;
	height: 100%;
	@include themify() {
		border: 2px dashed themed('primary');
	}

	&.enabled {
		@include themify() {
			background-color: themed('accent2');
		}
		cursor: pointer;
	}

	&.disabled {
		@include themify() {
			@if isTheme('dark') {
				background-color: lighten(themed('accent2'), 10);
			} @else {
				background-color: darken(themed('accent2'), 10);
			}
		}
		cursor: not-allowed;
	}

	input {
		display: none;
	}

	p {
		transition: all 0.5s ease;
		margin: 0;
		@include themify() {
			color: themed('text-primary');
		}
	}

	img {
		max-width: 100%;
		height: 100%;
	}

	&.dragging {
		p {
			font-size: 0;
		}
	}
}
