@import "themes";
@import "variables";

#toolbar {
	@include themify() {
		background-color: themed('toolbar');
		color: themed('primary-text');
	}

	position: static;
	width: 100%;
	height: $toolbar-height;

	display: grid;
	grid-template-columns: #{$construction-box-width} auto 350px;

	img {
		width: 80%;
		justify-self: center;
		align-self: center;
	}

	div {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		padding-left: 0.5rem;

		.toolbar-button {
			height: $toolbar-height - 20px;
			width: $toolbar-height - 20px;
			margin-right: 0.7rem;
			border: none;
			cursor: pointer;
			padding: 0;
			outline: none;
			background-size: cover;

			@include themify() {
				background-color: themed('toolbar');
			}
		}

		.divider {
			border-left: 1px solid black;
			height:  $toolbar-height - 25px;
			padding: 0;
			margin-right: 1rem;
			margin-left: 1rem;
		}

		.no-margin {
			margin-right: 0;
		}

		.save {
			background-image: url("/assets/icons/save_new.svg");
		}

		.paste {
			background-image: url("/assets/icons/clipboard.svg");
		}

		.copy {
			background-image: url("/assets/icons/files.svg");
		}

		.cut {
			background-image: url("/assets/icons/cut.svg");
		}

		.delete {
			background-image: url("/assets/icons/trash.svg");
		}

		.undo {
			background-image: url("/assets/icons/back-left.svg");
		}

		.redo {
			background-image: url("/assets/icons/back-right.svg");
		}

		.text {
			background-image: url("/assets/icons/text.svg");
		}

		.wire {
			background-image: url("/assets/icons/connection.svg");
		}

		.conn-wire {
			background-image: url("/assets/icons/connect_wire.svg");
		}

		.select {
			background-image: url("/assets/icons/target.svg");
		}

		.sim-start {
			background-image: url("/assets/icons/control-play.svg");
		}

		.sim-pause {
			background-image: url("/assets/icons/control-pause.svg");
		}

		.sim-step {
			background-image: url("/assets/icons/angle-right.svg");
		}

		.sim-stop {
			background-image: url("/assets/icons/control-stop.svg");
		}

		.zoom-out {
			background-image: url("/assets/icons/zoom-out.svg");
		}

		.zoom-in {
			background-image: url("/assets/icons/zoom-in.svg");
		}

		.settings {
			background-image: url("/assets/icons/settings.svg");
		}
	}

	.toolbar-end {
		justify-content: flex-end;
	}
}
