@import "themes";
@import "variables";

#toolbar {
	@include themify() {
		background-color: themed('secondary');
		color: themed('primary-text');
	}

	position: static;
	width: 100%;
	height: $toolbar-height;
	user-select: none;

	display: grid;
	grid-template-columns: auto 250px;

	.toolbar-buttons {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		padding-left: #{($construction-box-width - 3rem) * 0.1};

		.toolbar-button {
			height: $toolbar-height - 10px;
			width: $toolbar-height - 10px;
			margin-right: 0.7rem;
			border: none;
			cursor: pointer;
			padding: 0.2rem;
			outline: none;
			background-size: cover;
			background-origin: content-box;
			background-repeat: no-repeat;
			border-radius: 0.2rem;

			@include themify() {
				background-color: themed('background');
			}

			&:hover {
				cursor: default;
				@include themify() {
					background-color: lighten(themed('background'), 5%);
				}
			}
		}

		.active-button {
			@include themify() {
				background-color: lighten(themed('background'), 15%);

				&:hover {
					background-color: lighten(themed('background'), 15%);
				}
			}
		}

		.divider {
			border-left: 1px solid black;
			height:  $toolbar-height - 20px;
			padding: 0;
			margin-right: 1rem;
			margin-left: 1rem;
		}

		.no-margin {
			margin-right: 0;
		}

		.save {
			background-image: url("/assets/icons/save_new.svg");
		}

		.paste {
			background-image: url("/assets/icons/clipboard.svg");
		}

		.copy {
			background-image: url("/assets/icons/files.svg");
		}

		.cut {
			background-image: url("/assets/icons/cut.svg");
		}

		.delete {
			background-image: url("/assets/icons/trash.svg");
		}

		.undo {
			background-image: url("/assets/icons/back-left.svg");
		}

		.redo {
			background-image: url("/assets/icons/back-right.svg");
		}

		.text {
			background-image: url("/assets/icons/text.svg");
		}

		.wire {
			background-image: url("/assets/icons/connection.svg");
		}

		.conn-wire {
			background-image: url("/assets/icons/connect_wire.svg");
		}

		.select {
			background-image: url("/assets/icons/target.svg");
		}

		.sim-start {
			background-image: url("/assets/icons/control-play.svg");
		}

		.sim-pause {
			background-image: url("/assets/icons/control-pause.svg");
		}

		.sim-step {
			background-image: url("/assets/icons/angle-right.svg");
		}

		.sim-stop {
			background-image: url("/assets/icons/control-stop.svg");
		}

		.zoom-out {
			background-image: url("/assets/icons/zoom-out.svg");
		}

		.zoom-in {
			background-image: url("/assets/icons/zoom-in.svg");
		}
	}

	.toolbar-end {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		font-size: 14pt;
		padding-right: 0.7rem;

		p {
			margin: 0;
		}
	}
}
