<div id="toolbar">

	<div class="toolbar-buttons">
		<button class="toolbar-button save no-margin"></button>

		<div class="divider"></div>

		<button class="toolbar-button copy"></button>
		<button class="toolbar-button cut"></button>
		<button class="toolbar-button paste"></button>
		<button class="toolbar-button delete no-margin"></button>

		<div class="divider"></div>

		<button class="toolbar-button undo" (click)="undo()"></button>
		<button class="toolbar-button redo no-margin" (click)="redo()"></button>

		<div class="divider"></div>

		<button class="toolbar-button zoom-out"></button>
		<button class="toolbar-button zoom-in no-margin"></button>

		<div class="divider"></div>

		<button class="toolbar-button wire" (click)="setWorkMode('buildWire')"></button>
		<button class="toolbar-button conn-wire" (click)="setWorkMode('connectWire')"></button>
		<button class="toolbar-button select" (click)="setWorkMode('select')"></button>
		<button class="toolbar-button text"></button>

		<!--for testing-->
		<button (click)="printElements()">print Elements</button>
		<button (click)="test()">test</button>
		<button (click)="test1()">test1</button>
	</div>

	<div class="toolbar-end">
		<p>Start Simulation</p>
	</div>
</div>
