@include view('project-component-share-popup') {
	max-width: 30rem;

	@include element('explanation') {
		margin: 0 0 1rem;
	}

	@include element('public-switch') {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0.5rem 0 1rem;

		> p {
			margin: 0;
		}
	}

	@include element('link-head') {
		margin: 1rem 0 0.5rem;
	}

	@include element('link') {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0.5rem 0;

		> p {
			@include scrollbar(0, 3px);

			overflow: scroll;
			margin: 0 0.5rem 0 0;
			height: 1.5rem;
			white-space: nowrap;
		}
	}

	@include element('link-regenerate') {
		white-space: nowrap;
		margin-left: 0.5rem;
	}

	@include element('regenerate-warn') {
		margin-top: 0.5rem;
		margin-bottom: 1rem;
	}

	@include element('buttons') {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
	}

	@include element('cancel') {
		padding: 0.7rem !important;
		margin-right: 0.5rem;
	}

	@include element('submit') {
		padding: 0.7rem !important;
		margin-left: 0.5rem;
		min-width: 4rem;
	}

}
