$top-bar-height: 30px;
$toolbar-height: 40px;
$status-bar-height: 22px;
$page-header-height: $toolbar-height + $top-bar-height;

$tab-height: 1.5rem;
$construction-box-width: 15rem;
$settings-info-box-width: 250px;
$settings-info-box-height: 250px;

