<div class="flex flex-wrap p-2 gap-1">
	<p-button
		pTooltip="Save"
		tooltipPosition="bottom"
		icon="ph ph-floppy-disk"
		severity="secondary"
	></p-button>
	<p-button
		pTooltip="Open"
		tooltipPosition="bottom"
		icon="ph ph-folder-open"
		severity="secondary"
	></p-button>
	<p-button
		pTooltip="New Component"
		tooltipPosition="bottom"
		icon="ph ph-cpu"
		severity="secondary"
	></p-button>
	<p-divider class="m-2" styleClass="p-0 m-0" layout="vertical"></p-divider>

	<p-button
		pTooltip="Copy"
		tooltipPosition="bottom"
		icon="ph ph-copy"
		severity="secondary"
	></p-button>
	<p-button
		pTooltip="Cut"
		tooltipPosition="bottom"
		icon="ph ph-scissors"
		severity="secondary"
	></p-button>
	<p-button
		pTooltip="Paste"
		tooltipPosition="bottom"
		icon="ph ph-clipboard"
		severity="secondary"
	></p-button>
	<p-button
		pTooltip="Delete"
		tooltipPosition="bottom"
		icon="ph ph-trash"
		severity="secondary"
	></p-button>
	<p-divider class="m-2" styleClass="p-0 m-0" layout="vertical"></p-divider>

	<p-button
		pTooltip="Undo"
		tooltipPosition="bottom"
		icon="ph ph-arrow-u-up-left"
		severity="secondary"
	></p-button>
	<p-button
		pTooltip="Redo"
		tooltipPosition="bottom"
		icon="ph ph-arrow-u-up-right"
		severity="secondary"
	></p-button>
	<p-divider class="m-2" styleClass="p-0 m-0" layout="vertical"></p-divider>

	<p-button
		pTooltip="Zoom Out"
		tooltipPosition="bottom"
		icon="ph ph-magnifying-glass-minus"
		severity="secondary"
	></p-button>
	<p-button
		pTooltip="Zoom In"
		tooltipPosition="bottom"
		icon="ph ph-magnifying-glass-plus"
		severity="secondary"
	></p-button>
	<p-divider class="m-2" styleClass="p-0 m-0" layout="vertical"></p-divider>

	<p-button
		pTooltip="Place Wires"
		tooltipPosition="bottom"
		icon="ph ph-line-segment"
		severity="secondary"
	></p-button>
	<p-button
		pTooltip="Connect Wires"
		tooltipPosition="bottom"
		icon="ph ph-prohibit"
		severity="secondary"
	></p-button>
	<p-button
		pTooltip="Select"
		tooltipPosition="bottom"
		icon="ph ph-selection"
		severity="secondary"
	></p-button>
	<p-button
		pTooltip="Select Cut"
		tooltipPosition="bottom"
		icon="ph ph-selection-slash"
		severity="secondary"
	></p-button>
	<p-button
		pTooltip="Eraser"
		tooltipPosition="bottom"
		icon="ph ph-eraser"
		severity="secondary"
	></p-button>
	<p-button
		pTooltip="Text"
		tooltipPosition="bottom"
		icon="ph ph-text-t"
		severity="secondary"
	></p-button>
</div>
