@import "../global";
@import "../partials/site-header";
@import "../partials/burger-menu";
@import "../partials/settings-dropdown";
@import "../partials/footer";
@import "../partials/popup";
@import "../partials/form-input";
@import "../partials/form-error";
@import "../partials/form-general-errors";
@import "../partials/form-switch";
@import "../partials/form-area";
@import "../partials/login-register-popups";
@import "../partials/register-popup";

.main-content {
	min-height: calc(100vh - #{$footer-height + $header-height});
	margin-top: $header-height;
	padding-bottom: 1rem;
	@include themify(){
		background: themed('background');
		color: themed('text-primary');
	}
}
