@import "themes";

.tooltip {
	position: absolute;
	border-radius: 0.2rem;
	animation-name: fadeIn;
	animation-duration: 100ms;
	animation-fill-mode: both;

	@include themify() {
		background-color: themed('accent2');
		border: 1px solid themed('accent1');

		p {
			color: themed('text-primary');
			margin: 0.3rem;
		}
	}
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
