<form *appTranslate="let t" class="flex flex-col gap-4" (ngSubmit)="save()">
  <div class="flex flex-col gap-1">
    <label for="save-project-name">{{ t('saveProjectDialog.name') }}</label>
    <input
      lgInputText
      id="save-project-name"
      type="text"
      [maxlength]="nameMaxLength"
      [ngModel]="name()"
      (ngModelChange)="name.set($event)"
      [ngModelOptions]="{ standalone: true }"
    />
  </div>
  <div class="flex flex-col gap-1">
    <span id="save-project-destination-label">{{
      t('saveProjectDialog.destination')
    }}</span>
    <lg-select-button
      ariaLabelledby="save-project-destination-label"
      [options]="destinationOptions"
      optionLabel="label"
      optionValue="value"
      [allowEmpty]="false"
      [ngModel]="destination()"
      (ngModelChange)="destination.set($event)"
      [ngModelOptions]="{ standalone: true }"
    />
  </div>
  @if (destination() === 'server') {
    @if (!userService.user()) {
      <lg-message severity="warn">
        {{ t('saveProjectDialog.notLoggedIn') }}
      </lg-message>
    } @else {
      <div class="flex flex-col gap-2">
        <span
          id="save-project-visibility-label"
          class="text-sm font-medium text-text-hover"
          >{{ t('saveProjectDialog.visibilityLabel') }}</span
        >
        <app-visibility-picker
          labelledby="save-project-visibility-label"
          [(visibility)]="visibility"
        />
      </div>
    }
  } @else {
    <lg-message severity="info">
      {{ t('saveProjectDialog.localWarning') }}
    </lg-message>
  }
  <div class="flex justify-end">
    <button lgButton type="submit" [disabled]="!canSave">
      {{ t('common.save') }}
    </button>
  </div>
</form>
