@font-face {
	font-family: 'louis_george_cafregular';
	src: url('/assets/fonts/louis_george_cafe-webfont.woff2') format('woff2'),
	url('/assets/fonts/louis_george_cafe-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

html, body {
	margin: 0;
	padding: 0;

	height: 100%;
	width: 100%;
}

* {
	box-sizing: border-box;
	font-family: louis_george_cafregular, Arial, sans-serif;
}
