$themes: (
	light: (
		primary-text: black,
		secondary-text: #F5F5F5,
		primary: #2ECC71,
		secondary: #d1d1d1,
		background: #F5F5F5,
		inactive: #5D5D5D,
	),
	dark: (
		primary-text: #efefef,
		secondary-text: black,
		primary: #27AE60,
		secondary: #5D5D5D,
		background: #2B2B2B,
		inactive: #979797
	)
);

$border-styles: (
	width: 2px,
	radius: 0.2rem
);

@function border($key) {
	@return map-get($border-styles, $key);
}

@mixin themify() {
	@each $theme, $map in $themes {

		$themeForTestFunction: $theme !global;

		:host-context(.theme-#{$theme}) & {
			$theme-map: () !global;
			@each $key, $submap in $map {
				$theme-map: map-merge($theme-map, ($key: $submap)) !global;
			}

			@content;
			$theme-map: null !global;
			$themeForTestFunction: null !global;
		}

	}
}

@function themed($key) {
	@return map-get($theme-map, $key);
}

@function isTheme($theme) {
	@return $themeForTestFunction == $theme;
}

@mixin scrollbar($width) {
	&::-webkit-scrollbar-track
	{
		@include themify() {
			background-color: themed('background');
		}
	}

	&::-webkit-scrollbar
	{
		width: $width;
	}

	&::-webkit-scrollbar-thumb
	{
		border-radius: 2px;
		@include themify() {
			background-color: themed('secondary');
		}
	}

	scrollbar-width: thin;
	@include themify() {
		scrollbar-color: themed('secondary') themed('background');
	}

}
