$themes: (
	light: (
		primary-text: black,
		secondary-text: white,
		toolbar: green,
		construction-box-background: #5f8058,
		tab-active: green,
		tab-inactive: #b9b9b9,
		boxes-background: #848484,
		search-background: #b2b2b2
	),
	dark: (
		primary-text: black,
		secondary-text: white,
		toolbar: green,
		construction-box-background: #5f8058,
		tab-active: green,
		tab-inactive: #b9b9b9,
		boxes-background: #848484,
		search-background: #b2b2b2
	)
);

@mixin themify() {
	@each $theme, $map in $themes {

		:host-context(.theme-#{$theme}) & {
			$theme-map: () !global;
			@each $key, $submap in $map {
				$theme-map: map-merge($theme-map, ($key: $submap)) !global;
			}

			@content;
			$theme-map: null !global;
		}

	}
}

@function themed($key) {
	@return map-get($theme-map, $key);
}
