$themes: (
	light: (
		primary-text: black,
		secondary-text: white,
		toolbar: green,
		construction-box-background: grey,
		tab-active: green,
		tab-inactive: grey,
		boxes-background: darkgrey
	),
	dark: (
		primary-text: black,
		secondary-text: white,
		toolbar: green,
		construction-box-background: grey,
		tab-active: green,
		tab-inactive: grey,
		boxes-background: darkgrey
	)
);

@mixin themify() {
	@each $theme, $map in $themes {

		:host-context(.theme-#{$theme}) & {
			$theme-map: () !global;
			@each $key, $submap in $map {
				$value: map-get(map-get($themes, $theme), '#{$key}');
				$theme-map: map-merge($theme-map, ($key: $value)) !global;
			}

			@content;
			$theme-map: null !global;
		}

	}
}

@function themed($key) {
	@return map-get($theme-map, $key);
}
