<div class="work-area-container" #windowDragBounding toastContainer>
	<app-work-area (requestInspectElementInSim)="onRequestElementInspection($event)"></app-work-area>
	<ng-container *ngFor="let area of windowWorkAreas; index as i;">
		<app-window-work-area
			[dragBounding]="windowDragBounding"
			[project]="area.project"
			[identifier]="area.identifier"
			[parentNames]="area.parentNames"
			[showing]="area.showing"
			[zIndex]="area.zIndex"
			(requestHide)="requestHide(i)"
			(requestOnTop)="setOnTop(i)"
			(requestInspectElementInSim)="onRequestElementInspection($event, i)">
		</app-window-work-area>
	</ng-container>
</div>
