<div class="flex flex-col gap-3" *transloco="let t">
  @for (setting of editorSettings.settings; track setting.key) {
    <div class="flex items-center justify-between gap-4">
      <label [for]="'setting-' + setting.key" class="text-sm">{{
        t(setting.labelKey)
      }}</label>
      <p-toggleswitch
        [inputId]="'setting-' + setting.key"
        [ngModel]="setting.value()"
        (ngModelChange)="setting.set($event)"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>
  }
</div>
