<div class="popup" (click)="closeOutside($event)" tabindex="0" #outsidePopup>
	<div class="content">
		<div class="header">
			<div>{{ title | translate: titleTranslationParams }}</div>
			<img
				*ngIf="currentTheme === 'dark'"
				src="assets/icons/dark/close.svg"
				(click)="closeClick()"
				class="dark"
				alt="close"
				tabindex="0"
			/>
			<img
				*ngIf="currentTheme === 'light'"
				src="assets/icons/light/close.svg"
				(click)="closeClick()"
				class="light"
				alt="close"
				tabindex="0"
			/>
		</div>
		<div class="body">
			<ng-container #contentComponentInsert></ng-container>
		</div>
	</div>
</div>
