<web-account-section
  *webTranslate="let t"
  [heading]="hasPassword() ? t('pages.my.account.password.heading') : t('pages.my.account.password.setHeading')"
  [description]="hasPassword() ? t('pages.my.account.password.description') : t('pages.my.account.password.setDescription')"
>
  @let currentMessage = currentError(); @let passwordMessage = passwordError();
  @let repeatMessage = repeatError();

  <form
    class="flex max-w-sm flex-col gap-4"
    [formGroup]="form"
    (ngSubmit)="submit()"
  >
    @if (formError(); as message) {
    <lg-message severity="danger">{{ t(message) }}</lg-message>
    } @else if (saved()) {
    <lg-message severity="success">
      {{ t('pages.my.account.password.saved') }}
    </lg-message>
    } @if (hasPassword()) {
    <lg-form-field
      #currentField="lgFormField"
      inputId="account-current-password"
      required
      [label]="t('pages.my.account.currentPassword')"
      [error]="currentMessage ? t(currentMessage) : undefined"
    >
      <input
        lgInputText
        id="account-current-password"
        type="password"
        autocomplete="current-password"
        class="w-full"
        formControlName="currentPassword"
        [invalid]="!!currentMessage"
        [attr.aria-describedby]="currentField.describedBy()"
      />
    </lg-form-field>
    }

    <lg-form-field
      #passwordField="lgFormField"
      inputId="account-new-password"
      required
      [label]="t('pages.my.account.password.newLabel')"
      [hint]="t('auth.passwordRules')"
      [error]="passwordMessage ? t(passwordMessage) : undefined"
    >
      <input
        lgInputText
        id="account-new-password"
        type="password"
        autocomplete="new-password"
        class="w-full"
        formControlName="password"
        [invalid]="!!passwordMessage"
        [attr.aria-describedby]="passwordField.describedBy()"
      />
    </lg-form-field>

    <lg-form-field
      #repeatField="lgFormField"
      inputId="account-new-password-repeat"
      required
      [label]="t('auth.passwordRepeat')"
      [error]="repeatMessage ? t(repeatMessage) : undefined"
    >
      <input
        lgInputText
        id="account-new-password-repeat"
        type="password"
        autocomplete="new-password"
        class="w-full"
        formControlName="passwordRepeat"
        [invalid]="!!repeatMessage"
        [attr.aria-describedby]="repeatField.describedBy()"
      />
    </lg-form-field>

    <p class="text-sm leading-relaxed text-muted">
      {{ t('pages.my.account.password.sessionsNotice') }}
    </p>

    <div>
      <button lgButton type="submit" [loading]="submitting()">
        {{ hasPassword() ? t('pages.my.account.password.submit') :
        t('pages.my.account.password.setSubmit') }}
      </button>
    </div>
  </form>
</web-account-section>
