@import "themes";

.popup {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background-color: rgba(0, 0, 0, 0.25);

	.content {
		@include themify() {
			background-color: themed('background');
			border: border('width') solid themed('accent2');
			color: themed('text-primary');
		}

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;

		min-width: 30rem;
		min-height: 10rem;
		max-width: 100%;
		max-height: 100%;

		@media (max-width: 767px){
			min-width: 100%;
			min-height: 100%;
			width: 100%;
			height: 100%;
		}
		border-radius: border('radius');
		z-index: 600;
		box-shadow: 10px 10px 10px -5px rgba(0,0,0,0.5);

		.body {
			margin: auto;
			padding: 0.5rem;
			overflow: auto;
			width: 100%;
			@include scrollbar(5px)
		}

		.header {
			display: flex;
			width: 100%;

			@media (max-width: 350px) {
				padding-top: 1rem;
			}

			@include themify() {
				background-color: themed('accent2');
			}

			text-align: center;
			font-size: 1.2rem;
			font-weight: normal;
			justify-content: space-between;
			align-items: center;
			padding: 0.5rem;

			img {
				margin-right: 1px;
				border-radius: 0.25rem;
				height: 27px;
				padding: 0.25rem;

				&:hover {
					@include themify() {
						background-color: lighten(themed('background'), 10);
					}
				}
			}
		}
	}
}
