<div class="popup" (click)="closeOutside($event)" #outsidePopup>
	<div class="content">
		<div class="header">
			<div>{{ title | translate:titleTranslationParams }}</div>
			<img *ngIf="currentTheme === 'dark'" src="assets/icons/dark/close.svg" (click)="closeClick()" class="dark">
			<img *ngIf="currentTheme === 'light'" src="assets/icons/light/close.svg" (click)="closeClick()" class="light">
		</div>
		<div class="body">
			<ng-container #contentComponentInsert></ng-container>
		</div>
	</div>
</div>
