@include partial('burger-menu') {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	visibility: hidden;
	width: 20rem;
	height: calc(100% - #{$header-height});
	position: fixed;
	z-index: 1000;
	left: -20rem;
	transition: left 0.5s ease, visibility 0.5s;
	padding: 0.5rem 0;

	@include themify() {
		background-color: themed('accent2');
	}

	@include state('open') {
		visibility: visible;
		left: 0;
	}

	@include element('entry') {
		display: flex;
		align-items: center;
		height: 3rem;
		text-decoration: none;
		font-weight: bold;
		padding: 0.5rem 1rem;
		cursor: pointer;

		&:hover {
			@include themify() {
				background-color: darken(themed('accent2'), 10);
			}
		}
	}

	@include element('entry-icon') {
		height: 100%;
		max-width: 100%;
		max-height: 100%;
		object-fit: contain;
		margin-right: 0.5rem;
	}
}
