@include partial('change-image-popup') {

	@include element('img-container') {
		margin-bottom: 2rem;
		max-width: 40rem;
	}

	@include element('img') {
		display: block;
		max-width: 100%;
	}

	@include element('upload-container') {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		border-radius: 0.5rem;
		padding: 0.5rem;
		width: 100%;
		height: 5rem;
		cursor: pointer;

		@include themify() {
			border: 2px dashed themed('primary');
			background-color: themed('accent2');
		}

		input {
			display: none;
		}

		p {
			transition: all 0.5s ease;
			margin: 0;
			@include themify() {
				color: themed('text-primary');
			}
		}

		img {
			max-width: 100%;
			height: 100%;
		}

		@include state('dragging') {
			p {
				font-size: 0;
			}
		}
	}

}
