@include partial('community-list') {

	@include element('item') {
		margin-top: 1rem;
		margin-bottom: 1rem;

		padding: 2rem;
		display: flex;
		flex-direction: row;

		@include media-breakpoint-down('md') {
			align-items: center;
			flex-direction: column-reverse;
		}

		@include media-breakpoint-down('md') {
			padding: 1rem;
		}

		@include themify() {
			background-color: themed('accent2');
		}

		a {
			display: inline-block;
		}
	}

	@include element('description') {
		flex-grow: 1;

		@include media-breakpoint-up('md') {
			margin-left: 1rem;
		}

		@include media-breakpoint-down('xl') {
			margin-bottom: 0.5rem;
			width: 100%;
		}
	}


	@include element('header') {

	}

	@include element('title') {
		margin-top: 0;
		margin-bottom: 0.2rem;
		font-size: 25px;
		font-weight: 500;
	}

	@include element('divider') {
		@include themify() {
			border-width: 0;
			border-top: 1px solid themed('text-primary');
		}
	}

	@include element('image') {
		height: 22rem;
		width: 22rem;
		min-width: 22rem;
		padding: 15px;

		@include media-breakpoint-down('md') {
			width: 100%;
			height: auto;
			min-width: unset;
		}

		@include themify() {
			background-color: themed('background');
		}

		> img {
			width: 100%;
		}
	}

	@include element('description-text') {
		@include media-breakpoint-down('md') {
			display: none;
		}
	}

	@include element('description-text-mobile') {
		@include media-breakpoint-up('md') {
			display: none;
		}
	}

	@include element('button') {
		margin-top: 1rem;
		padding: 0.6rem 2rem !important;
		font-size: 16px;
	}

	@include element('open') {
		margin-left: 0.5rem;
	}

	@include element('text') {
		@include scrollbarInverted(4px, 4px);

		margin-top: 1rem;
		white-space: pre-wrap;
		max-height: 14.8rem;
		overflow: auto;
	}
}
