@include partial('cookie-consent') {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	align-items: center;

	@include media-breakpoint-down('md') {
		position: unset;
	}

	@include themify() {
		background-color: themed('accent2');
	}

	@include element('message') {
		flex-grow: 1;
		margin: 1rem;
	}

	@include element('btn') {
		margin-right: 1rem;
	}
}
