@include partial('cookie-consent') {
	position: sticky;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	align-items: center;
	animation: fadein 1s;

	@include themify() {
		background-color: themed('accent1');
		border-top: 1px solid themed('primary');
	}

	@include element('message') {
		flex-grow: 1;
		margin: 1rem;
	}

	@include element('btn') {
		margin-right: 1rem;
		white-space: nowrap;
	}
}

@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}
