@include partial('footer') {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	height: $footer-height;

	@media (max-width: 767px) {
		flex-direction: column;
	}

	@include themify() {
		background-color: themed('primary');
	}

	@include element('link') {
		text-decoration: none;
		color: black;

		&:hover {
			text-decoration: underline;
		}
	}
}
