@include partial('popup') {
	position: fixed;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background-color: rgba(0,0,0,.25);
	display: none;

	@include state('open') {
		display: flex;
	}

	@include element('popup') {
		@include themify() {
			background-color: themed('background');
			border: 1px solid themed('accent2');
			color: themed('text-primary');
		}

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;

		min-width: 30rem;
		min-height: 10rem;
		max-width: 100%;
		max-height: 100%;

		border-radius: 0.1rem;
		z-index: 600;
		box-shadow: 10px 10px 10px -5px rgba(0,0,0,0.5);

	@include media-breakpoint-down('sm') {
			min-width: 100%;
			min-height: 100%;
			width: 100%;
			height: 100%;
		}
	}

	@include element('header') {
		display: flex;
		width: 100%;

		@include themify() {
			background-color: themed('accent2');
		}

		text-align: center;
		font-size: 1.2rem;
		font-weight: normal;
		justify-content: space-between;
		align-items: center;
		padding: 0.5rem;
	}

	@include element('close-style') {
		margin-right: 1px;
		border-radius: 0.25rem;
		height: 27px;
		padding: 0.25rem;

		&:hover {
			@include themify() {
				background-color: lighten(themed('background'), 10);
			}
		}
	}

	@include element('body') {
		margin: auto;
		padding: 1.5rem;
		overflow: auto;
		width: 100%;

		:first-child {
			margin-top: 0;
		}

		@include scrollbar(5px)
	}
}
