@include partial('project-teasers') {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	@include element('teaser') {
		margin: 10px;
		width: 100%;
		box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.3);

		@include media-breakpoint-up('sm') {
			width: calc(50% - 20px);
		}

		@include media-breakpoint-up('md') {
			width: calc(33% - 20px);
		}

		@include media-breakpoint-up('lg') {
			width: calc(25% - 20px);
		}
	}

	@include element('teaser-image') {
		padding: 10px;

		@include themify() {
			border-top: 1px solid themed('primary');
			border-left: 1px solid themed('primary');
			border-right: 1px solid themed('primary');
		}

		> img {
			width: 100%;
		}
	}

	@include element('teaser-bottom') {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0.75rem 1rem;

		@include themify() {
			background-color: themed('accent2');
		}

		p {
			margin: 0;
		}

		button {
			margin-left: 0.5rem;
			padding: 0.5rem 1rem !important;
		}
	}

}
