@include partial('site-header') {
	height: $header-height;
	position: fixed;
	width: 100%;
	top: 0;
	display: flex;
	z-index: 1000;

	@include themify() {
		background-color: themed('primary');
	}

	@include element('left') {
		display: flex;
		flex: 1;
		flex-direction: row;
		height: 100%;

		@include media-breakpoint-down('md') {
			justify-content: center;
		}
	}

	@include element('burger-menu') {
		display: none;
		position: absolute;
		left: 0;
		top: 0;
		width: $header-height;
		height: 100%;
		cursor: pointer;

		@include media-breakpoint-down('md') {
			display: block;
		}

		@include state('open') {

			.partial-site-header__burger-menu-line {

				&:nth-child(1) {
					transform: translateY(12px) rotate(45deg);
				}

				&:nth-child(2) {
					opacity: 0;
				}

				&:nth-child(3) {
					transform: translateY(-12px) rotate(-45deg);
				}
			}
		}
	}

	@include element('burger-menu-line') {
		background-color: #000000;
		display: block;
		height: 0.25rem;
		left: 0.5rem;
		position: absolute;
		transform-origin: center;
		transition: .5s;
		width: $header-height - 1rem;

		&:nth-child(1) {
			top: ($header-height / 2) - 0.75rem - 0.125rem;
		}

		&:nth-child(2) {
			top: ($header-height / 2) - 0.125rem;
		}

		&:nth-child(3) {
			top: ($header-height / 2) + 0.75rem - 0.125rem;
		}
	}

	@include element('logo') {
		img {
			height: $header-height/1.5;
		}
		padding: 0.5rem;
	}

	@include element('links') {
		height: 100%;
		display: flex;
		flex-direction: row;

		@include media-breakpoint-down('md') {
			display: none;
		}

		a {
			display: flex;
			flex-direction: row;
			align-items: center;
			padding: 0 1rem;
			height: 100%;
			color: black;
			text-decoration: none;
			cursor: pointer;

			&:hover {
				@include themify() {
					background-color: lighten(themed('primary'), 10);
				}
			}
		}
	}

	@include element('right') {
		@include media-breakpoint-down('md') {
			display: none;
		}
	}

	@include element('dropdown-background') {
		position: fixed;
		top: $header-height;
		left: 0;
		width: 100%;
		height: calc(100% - #{$header-height});
		background-color: rgba(0, 0, 0, 0);
		z-index: 100;
		display: none;

		@include state('shown') {
			display: block;
		}
	}

	@include element('right-hover') {
		display: flex;
		flex-direction: row;
		height: 100%;
		align-items: center;
		padding: 0;

		@include modifier('logged-in') {
			padding: 0.5rem;
			cursor: pointer;

			&:hover {
				@include themify() {
					background-color: lighten(themed('primary'), 10);
				}
			}
		}
	}

	@include element('btn-login', 'btn-register') {
		color: black !important;
		border-color: black !important;
		margin-left: 0.5rem;
	}

	@include element('more') {
		height: $header-height - 1.5rem;
		width: $header-height - 1.5rem;
		outline: none;
		background-size: cover;
		background-image: url('/assets/icons/light/more.svg');
		transform: rotate(90deg);
		margin: 0 0.25rem 0 0.5rem;

		&:hover {
			cursor: pointer;
		}
	}

	@include element('username') {
		margin: 0 0.5rem;
		color: black;
	}

	@include element('user-img') {
		height: $header-height - 1rem;
		width: $header-height - 1rem;
		outline: none;
	}
}
