@include partial('user-space-nav') {
	position: fixed;
	top: $header-height;
	left: 0;
	width: 100%;
	height: $user-space-nav-height;
	z-index: 800;

	@include themify() {
		background-color: themed('accent2');
	}

	@include media-breakpoint-down('md') {
		display: none;
	}

	@include element('links') {
		margin: auto;
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-direction: row;

		width: 100%;
		height: 100%;
		max-width: 70rem;
	}

	@include element('link') {
		text-decoration: none;
		font-size: 1.2rem;

		&:hover {
			@include themify() {
				color: themed('primary');
			}
		}
	}
}
